{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Benefactors | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Home</a></li>
	<li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
	<li class="breadcrumb-item">
		<a href="/resources/engage-with-attack/contact">Engage with ATT&amp;CK</a>
	</li>
	<li class="breadcrumb-item">Benefactors</li>
</ol>

<div class="container-fluid pb-3">
	<div class="my-5">
		<h1>Benefactors Program</h1>
		<p>
			MITRE ATT&CK® is a globally-accessible, community-driven knowledge base of adversary tactics and techniques based on real-world observations.
			The ATT&CK framework is used as a blueprint for the development of specific threat models and methodologies across the
			private sector, government, and the cybersecurity product and service community.
			Benefactors sustain and advance ATT&CK through their financial contributions,
			ensuring that it adapts along with evolving cyber threats and changing environments.
		</p>
		<h1 class="mt-5">Benefactors</h1>
		<p>
			Become an ATT&CK Benefactor!
			Benefactors help propel the evolution of ATT&CK through financial contributions.
			Donations directly support framework progression, pioneering research into underrepresented domains and emerging threats, and community engagement.
			To show our thanks, ATT&CK benefactors are also the recipient of many benefits, including public recognition as a benefactor of MITRE ATT&CK
			as well as briefings with the ATT&CK leadership team.
		</p>
		<p>
			You can find additional information and opportunities with the benefactor program at the program link below.
			You are welcome to email us with any questions or concerns.
		</p>
		<a href="https://ctid.mitre.org/donate" style="text-decoration: none">
			<button type="button" class="slide-button">
				<span class="slide-button-text">
					<span>Become a Benefactor</span>
				</span>
				<span class="slide-button-icon">
					<i class="fa fa-external-link"></i>
				</span>
			</button>
		</a>
		<a class="pl-2" href="mailto:attack@mitre.org">
			<button type="button" class="slide-button slide-button-secondary">
				<span class="slide-button-text">
					<span>Email us</span>
					<span class="slide-button-icon">
						<i class="fa fa-envelope"></i>
					</span>
				</span>
			</button>
		</a>
		<div id="meta-sponsor-box" class="mt-5">
			<h4>ATT&CK Benefactors</h4>
			<span><strong>Thanks to the following companies who have supported ATT&CK!</strong></span>
            <br><br>
            <h4>Advocates</h4>
			<div id="sponsor-box-advocates" class="support-box my-4">
				<div class="row justify-content-center px-4">
					<div class="col col-sm">
						<div class="row sponsor-list" id="sponsor-table-body-advocates">
							<!-- Sponsor logos will be dynamically added here -->
						</div>
					</div>
				</div>
			</div>

            <h4>Friends</h4>
			<div id="sponsor-box-friends" class="support-box my-4">
				<div class="row justify-content-center px-4">
					<div class="col col-sm">
						<div class="row sponsor-list" id="sponsor-table-body-friends">
							<!-- Sponsor logos will be dynamically added here -->
						</div>
					</div>
				</div>
			</div>

            <br>
            <h4>Supporters</h4>
            <div id="sponsor-box-supporters" class="support-box my-4">
				<div class="row justify-content-center px-4">
					<div class="col col-sm">
						<div class="row sponsor-list" id="sponsor-table-body-supporters">
							<!-- Sponsor logos will be dynamically added here -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
{{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>

<script>
    // Sponsor data
    const advocates = [
        {
            sponsors: [
                {
                    logo: "/theme/images/benefactors/lloyds.png",
                    url: "https://www.lloydsbankinggroup.com/",
                    title: "Lloyds Banking Group"
                }
            ]
        }
    ];

    const friends = [
        {
            sponsors: [
                {
                    logo: "/theme/images/benefactors/AttackIQ-logo.png",
                    url: "https://attackiq.com/",
                    title: "AttackIQ, Inc."
                },
                {
                    logo: "/theme/images/benefactors/BoA.png",
                    url: "https://www.bankofamerica.com/",
                    title: "Bank of America, N.A."
                },
				{
                    logo: "/theme/images/benefactors/citi.png",
                    url: "https://www.citigroup.com/citi/",
                    title: "Citigroup"
                },
                {
                    logo: "/theme/images/benefactors/crowdstrike.png",
                    url: "https://www.crowdstrike.com/",
                    title: "CrowdStrike, Inc."
                }
            ],
        },
        {
            sponsors: [
                {
                    logo: "/theme/images/benefactors/fortinet.png",
                    url: "https://www.fortinet.com/",
                    title: "Fortinet"
                },
				{
                    logo: "/theme/images/benefactors/hca.png",
                    url: "https://hcahealthcare.com/",
                    title: "HCA Healthcare"
                },
                {
                    logo: "/theme/images/benefactors/jpmorganchase.png",
                    url: "https://www.jpmorganchase.com/",
                    title: "JPMorgan Chase Bank, N.A."
                },
                {
                    logo: "/theme/images/benefactors//microsoft.png",
                    url: "https://www.microsoft.com/en-us/",
                    title: "Microsoft Corporation"
                },
            ],
        },
		{
            sponsors: [
				{
                    logo: "/theme/images/benefactors/verizon.png",
                    url: "https://www.verizon.com/business/",
                    title: "Verizon Business"
                },
			]
		}
    ];

    const supporters = [
        {
            sponsors: [
                {
                    logo: "/theme/images/benefactors/Booz_Allen_logo_black.png",
                    url: "https://www.bah.com",
                    title: "Booz Allen Hamilton Inc."
                },
                {
                    logo: "/theme/images/benefactors/ensign.png",
                    url: "https://www.ensigninfosecurity.com/",
                    title: "Ensign InfoSecurity"
                },
                {
                    logo: "/theme/images/benefactors/fujitsu.png",
                    url: "https://www.fujitsu.com/global/",
                    title: "Fujitsu"
                },
                {
					logo: "/theme/images/benefactors/hidden-layer.png",
                    url: "https://hiddenlayer.com/",
                    title: "HiddenLayer"
				},
            ],
        },
		{
            sponsors: [
				{
                    logo: "/theme/images/benefactors//infineon.png",
                    url: " https://www.infineon.com/",
                    title: "Infineon Technologies"
                },
				{
                    logo: "/theme/images/benefactors/intel.png",
                    url: "https://www.intel.com/content/www/us/en/homepage.html",
                    title: "Intel Corporation"
                },
                {
                    logo: "/theme/images/benefactors/nab.png",
                    url: "https://www.nab.com.au",
                    title: "National Australia Bank"
                },
				{
                    logo: "/theme/images/benefactors/siemens.png",
                    url: "https://www.siemens.com/global/en/company/about.html",
                    title: "Siemens AG"
                }
            ],
        },
		{
            sponsors: [
				{
                    logo: "/theme/images/benefactors/SOC-prime-logo.png",
                    url: "https://socprime.com",
                    title: "SOC Prime"
                },
                {
                    logo: "/theme/images/benefactors/sopra_steria.png",
                    url: "https://www.soprasteria.com/",
                    title: "Sopra Steria"
                },
                {
                    logo: "/theme/images/benefactors/standard_chartered.png",
                    url: "https://www.sc.com/en/",
                    title: "Standard Chartered"
                },
                {
                    logo: "/theme/images/benefactors/Tidal-Stacked-Hero.png",
					url: "https://www.tidalcyber.com",
                    title: "Tidal Cyber"
                }
            ],
        },
		{
            sponsors: [
                {
                    logo: "/theme/images/benefactors/ZIMPERIUM-logo_blackBG.png",
					url: "https://www.zimperium.com",
                    title: "Zimperium"
                },
			]
		}
    ];


    // Reference to the sponsor list container
    const advocatesTableBody = document.getElementById("sponsor-table-body-advocates");
    const friendsTableBody = document.getElementById("sponsor-table-body-friends");
    const supportersTableBody = document.getElementById("sponsor-table-body-supporters");

    // Function to generate the sponsor advocate logos
    function generateAdvocateLogos() {
        advocates.forEach(group => {
            const sponsors = group.sponsors;

            // Create rows with up to 4 sponsors per row
            for (let i = 0; i < sponsors.length; i += 4) {
                const row = document.createElement("div");
                row.className = "row sponsor-list";
                const rowLength = Math.min(sponsors.length, 4)

                // Add up to 4 sponsors in each row
                for (let j = i; j < i + rowLength; j++) {
                    const col = document.createElement("div");
                    col.className = "col-sm sponsor-square";
					if (j < sponsors.length) {
						col.setAttribute("data-toggle", "tooltip");
            			col.setAttribute("data-placement", "top");
            			col.setAttribute("data-animation", "false");
            			col.setAttribute("data-original-title", sponsors[j].title);

                        const sponsor = sponsors[j];
                        const link = document.createElement("a");
                        link.href = sponsor.url;
                        link.target = "_blank";

                        const image = document.createElement("img");
                        image.src = sponsor.logo;
                        image.alt = "Sponsor Logo";
                        image.className = "w-100 sponsor-logo p-3";

                        link.appendChild(image);
                        col.appendChild(link);
                    }

                    row.appendChild(col);
                }

                advocatesTableBody.appendChild(row);
            }
        });
    }

    // Function to generate the sponsor friend logos
    function generateFriendLogos() {
        friends.forEach(group => {
            const sponsors = group.sponsors;

            // Create rows with up to 4 sponsors per row
            for (let i = 0; i < sponsors.length; i += 4) {
                const row = document.createElement("div");
                row.className = "row sponsor-list";

                // Add up to 4 sponsors in each row
                for (let j = i; j < i + 4; j++) {
                    const col = document.createElement("div");
                    col.className = "col-sm sponsor-square";
					if (j < sponsors.length) {
						col.setAttribute("data-toggle", "tooltip");
            			col.setAttribute("data-placement", "top");
            			col.setAttribute("data-animation", "false");
            			col.setAttribute("data-original-title", sponsors[j].title);

                        const sponsor = sponsors[j];
                        const link = document.createElement("a");
                        link.href = sponsor.url;
                        link.target = "_blank";

                        const image = document.createElement("img");
                        image.src = sponsor.logo;
                        image.alt = "Sponsor Logo";
                        image.className = "w-100 sponsor-logo p-3";

                        link.appendChild(image);
                        col.appendChild(link);
                    }

                    row.appendChild(col);
                }

                friendsTableBody.appendChild(row);
            }
        });
    }

    // Function to generate the sponsor supporter logos
    function generateSupporterLogos() {
        supporters.forEach(group => {
            const sponsors = group.sponsors;

            // Create rows with up to 4 sponsors per row
            for (let i = 0; i < sponsors.length; i += 4) {
                const row = document.createElement("div");
                row.className = "row sponsor-list";

                // Add up to 4 sponsors in each row
                for (let j = i; j < i + 4; j++) {
                    const col = document.createElement("div");
                    col.className = "col-sm sponsor-square";
					if (j < sponsors.length) {
						col.setAttribute("data-toggle", "tooltip");
            			col.setAttribute("data-placement", "top");
            			col.setAttribute("data-animation", "false");
            			col.setAttribute("data-original-title", sponsors[j].title);

                        const sponsor = sponsors[j];
                        const link = document.createElement("a");
                        link.href = sponsor.url;
                        link.target = "_blank";

                        const image = document.createElement("img");
                        image.src = sponsor.logo;
                        image.alt = "Sponsor Logo";
                        image.className = "w-100 sponsor-logo p-3";

                        link.appendChild(image);
                        col.appendChild(link);
                    }

                    row.appendChild(col);
                }

                supportersTableBody.appendChild(row);
            }
        });
    }

    // Check if there are sponsor advocates and generate the logos
    if (advocates.length > 0) {
        document.getElementById("sponsor-box-advocates").style.display = "block"; // Show the box
        generateAdvocateLogos();
    } else {
        document.getElementById("sponsor-box-advocates").style.display = "none"; // Hide the box
    }

    // Check if there are sponsor friends and generate the logos
    if (friends.length > 0) {
        document.getElementById("sponsor-box-friends").style.display = "block"; // Show the box
        generateFriendLogos();
    } else {
        document.getElementById("sponsor-box-friends").style.display = "none"; // Hide the box
    }

    // Check if there are sponsor supporters and generate the logos
    if (supporters.length > 0) {
        document.getElementById("sponsor-box-supporters").style.display = "block"; // Show the box
        generateSupporterLogos();
    } else {
        document.getElementById("sponsor-box-supporters").style.display = "none"; // Hide the box
    }
</script>
{% endblock %}
