{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Benefactors | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<div class="px-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
    <li class="breadcrumb-item">Benefactors</li>
  </ol>
</div>
<div class="container pb-3 uniform-block">
  <div class="getting-started">
    <div class="clearfix pb-3">
      <div class="clearfix">
        <h1>Benefactors</h1>
        <p>
          Become an ATT&CK Benefactor! Benefactors help propel the evolution of ATT&CK through financial contributions
          by sustaining and advancing ATT&CK through their financial contributions, ensuring that it adapts along with
          evolving cyber threats and changing environments. Donations directly support framework progression, pioneering
          research into underrepresented domains and emerging threats, and community engagement. To show our thanks,
          ATT&CK benefactors are also the recipient of many benefits, including public recognition as a benefactor of
          MITRE ATT&CK as well as briefings with the ATT&CK leadership team.
        </p>
        <h1 style="font-size: 1.95rem">Center for Threat-Informed Defense</h1>
        <p>
          The Center for Threat Informed Defense enables the global community to advance critical public interest
          cybersecurity programs for ATT&CK and related programs. Apply to become a benefactor through MITRE Engenuity’s
          Center for Threat-Informed Defense’s Benefactor Program and select ATT&CK among other benefactor programs, or
          contact us at attack@mitre.org with any questions or for more information about becoming a benefactor.
        </p>
<!-- 
        <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/donate/">
          <button type="button" class="brand-button">
            <span class="brand-button-text">
              <span>Become a Benefactor</span>
            </span>
            <i class="fa fa-external-link"></i>
          </button>
        </a>

        <a href="mailto:attack@mitre.org">
          <button type="button" class="slide-button-secondary">
            <span class="slide-button-secondary">
              <span>Become a Benefactor</span>
              <i class="fa fa-envelope">
              </i>    
            </span>
          </button>
        </a> -->

        <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/donate/">
          <button type="button" class="usa-button">
            <span class="brand-button-text">
              <span>Become a Benefactor</span>
            </span>
            <i class="fa fa-external-link"></i>
          </button>
        </a>

        <a href="mailto:attack@doc.org">
          <button type="button" class="usa-button usa-button--outline">
            <span class="slide-button-secondary">
              <span>Email us</span>
              <i class="fa fa-envelope">
              </i>    
            </span>
          </button>
        </a> 



        <!-- <p>
          You can find additional information and opportunities with the benefactor program at the program link below.
          You are also welcome to contact us at attack@mitre.org.
        </p> -->
        <!-- <center>
          <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/donate/">
            <button type="button" class="brand-button">
              <span class="brand-button-text">
                <span>Center for Threat-Informed Defense - Benefactor Program Page</span>
              </span>
            </button>
          </a>
        </center> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}