{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Benefactors | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
  <li class="breadcrumb-item"><a href="/resources/engage-with-attack/contact">Engage with ATT&amp;CK</a></li>
  <li class="breadcrumb-item">Benefactors</li>
</ol>

<div class="container-fluid pb-3">
  <div class="working-with-attack">
    <div class="my-5">
        <h1>Benefactors Program</h1>
        <p>
          Become an ATT&CK Benefactor! Benefactors help propel the evolution of ATT&CK through financial
          contributions
          by sustaining and advancing ATT&CK through their financial contributions, ensuring that it adapts
          along with
          evolving cyber threats and changing environments. Donations directly support framework progression,
          pioneering
          research into underrepresented domains and emerging threats, and community engagement. To show our
          thanks,
          ATT&CK benefactors are also the recipient of many benefits, including public recognition as a
          benefactor of
          MITRE ATT&CK as well as briefings with the ATT&CK leadership team.
        </p>
        <h1>Benefactors</h1>
        <p>
          The Center for Threat Informed Defense enables the global community to advance critical public
          interest
          cybersecurity programs for ATT&CK and related programs. Apply to become a benefactor through MITRE
          Engenuity’s
          Center for Threat-Informed Defense’s Benefactor Program and select ATT&CK among other benefactor
          programs, or
          contact us at attack@mitre.org with any questions or for more information about becoming a
          benefactor.
        </p>
        <a href="https://mitre-engenuity.org/cybersecurity/center-for-threat-informed-defense/donate/">
          <button type="button" class="slide-button">
            <span class="slide-button-text">
              <span>Become a Benefactor</span>
            </span>
            <span class="slide-button-icon">
              <i class="fa fa-external-link"></i>
            </span>
          </button>
        </a>
        <a class="pl-2" href="mailto:attack@mitre.org">
          <button type="button" class="slide-button slide-button-secondary">
            <span class="slide-button-text">
              <span>Email us</span>
              <span class="slide-button-icon">
                <i class="fa fa-envelope"></i>
              </span>
            </span>
          </button>
        </a>
        <br>
        <br>
        <br>
        <div id="meta-sponsor-box" style="display:none">
          <h4>ATT&CK Benefactors</h4>
          <h5>Thanks to the following companies who have supported ATT&CK!</h5>
          <div id="sponsor-box" style="background-color:lightgray; padding:2em; border-radius: 1em;"
            class="minh-card-lg maxh-card-lg">
            <!-- CONTAINER -->
            <div class="grid-container">
              <!-- ROW 1 -->
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-3">
                  <h5 id="support-level-header"><b>Support</b></h5>
                </div>
                <div class="tablet:grid-col-1"> </div>
              </div>
              <!-- ROW 2 -->
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-8">
                  <br>
                </div>
              </div>
              <!-- ROW 3-->
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-1">
                  <button class="usa-button usa-button--big usa-button--unstyled" id="button-left"><</button>
                </div>
                {% for n in range(5) %}
                <div class="usa-card tablet:grid-col-fill tablet:square-5 square-15">
                  <div class="usa-card__container">
                    <div class="usa-card__media ">
                      <div class="usa-card__img--indent  ">
                        <img id="image-num-{{n}}" src="" alt="A placeholder image" />
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              <div class="tablet:grid-col-1">
                <button class="usa-button usa-button--big usa-button--unstyled" id="button-right">></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>

<script>
  // for each 5 logos there are the support level and 5 logos in an array
  // var mappings = [
  //   {
  //     support: "Support 1", sponsors: ["https://attack.mitre.org/theme/images/ATT&CK_red.png",
  //       "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Mitre_Corporation_logo.svg/2560px-Mitre_Corporation_logo.svg.png",
  //       "https://attack.mitre.org/theme/images/ATT&CK_red.png",
  //       "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Mitre_Corporation_logo.svg/2560px-Mitre_Corporation_logo.svg.png",
  //       "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Mitre_Corporation_logo.svg/2560px-Mitre_Corporation_logo.svg.png",],
  //   },
  // ]

  var mappings = [];

  var items = [
    document.getElementById("image-num-0"),
    document.getElementById("image-num-1"),
    document.getElementById("image-num-2"),
    document.getElementById("image-num-3"),
    document.getElementById("image-num-4"),
  ]

  var num_rows = mappings.length;

  var support_level = document.getElementById("support-level-header");
  var counter = 0;
  var row_counter = 0;

  // Function to update the images and support level based on the current row in the mappings array
  function update() {
    // unhide the box
    meta_box.style.display = "inherit";
    // get number of columns
    var num_cols = mappings[row_counter].sponsors.length;
    for (var column_counter = 0; column_counter < num_cols; column_counter++) {
      // update the image src 
      items[column_counter].src = mappings[row_counter].sponsors[column_counter];
    }
    // bold support level
    support_level.innerHTML = "<b>" + mappings[row_counter].support + "</b>";
  }

  function increment_counter() {
    row_counter = (row_counter + 1) % num_rows;
    update();
  }
  function decrement_counter() {
    row_counter = (row_counter + num_rows - 1) % num_rows;
    update();
  }

  let bleft = document.getElementById("button-left");
  let bright = document.getElementById("button-right");
  let box = document.getElementById("sponsor-box");
  let meta_box = document.getElementById("meta-sponsor-box");

  bleft.addEventListener('click', decrement_counter);
  bright.addEventListener('click', increment_counter);

  if (mappings.length > 0) {
    update();
  }
</script>
{% endblock %}