{% extends "general/base.html" %}
{% set title = "Privacy Policy | MITRE ATT&CK&reg;" %}

{% block content %}
{{ super () }}
<div class="container py-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
        <li class="breadcrumb-item">Privacy Policy</li>
    </ol>
    <h2>Privacy Policy</h2>
    <div class="pt-2">
    <h3>Introduction</h3>
    <p>This privacy policy describes:</p>
    <ul>
        <li>The type of information that is collected</li>
        <li>How the information is used by MITRE</li>
        <li>What information may be provided to third parties</li>
        <li>Web Site Access Information</li>
    </ul>
    <p>All accesses of attack.mitre.org are logged. The following information is recorded for each visitor to the
        ATT&CK Web site: IP address, date and time of access, the requested URL, the referring URL (if provided by the
        Web browser), and the browser type (if provided by the Web browser).</p>
    <p>The IP address and its associated domain name (if any) are used to determine broad demographic information. The
        IP address may be used to track how users navigate through the ATT&CK Web site. User-entered keyword search
        strings are used to gauge user interest in specific types of vulnerability information. Each access of an
        individual ATT&CK entry or candidate page is also used to gauge user interest.</p>
    <p>Web log information may also be provided to limited research groups within MITRE to support research related to
        the World Wide Web.
    </p>
    <h3>Mailing List Subscription Information</h3>
    <p>MITRE performs due diligence to ensure that subscription information is kept confidential. In addition, all
        ATT&CK-related mailing lists that are sponsored by MITRE are configured to prevent attackers from identifying
        the subscribers to such mailing lists.</p>
    <p>Optional information that subscribers may provide, such as company name, location, or job function, is used to
        determine broad demographic information regarding the types of users of these mailing lists. Subscribers are
        not required to provide this information.</p>
    <h3>Provision of Information to Third Parties</h3>
    <p>MITRE will not provide any information that identifies specific individuals, e.g., email addresses or IP
        addresses, to any other organization, except where required by law. MITRE may provide broad demographic
        information to other organizations.</p>
    <p>Due Diligence for Intrusion Detection, Prevention, and Reporting MITRE performs due diligence to preserve the
        integrity of the information on the ATT&CK Web site. MITRE uses various logging and tracking mechanisms to
        support the detection, reporting, or recovery from attempted intrusions into attack.mitre.org. MITRE reserves
        the right to use all available technologies without notice to protect its networks from unauthorized use, and
        to report attempted intrusions to the appropriate authorities.</p>
    <h3>Notification of Privacy Changes</h3>
    <p>If MITRE changes the information that is recorded on attack.mitre.org, or changes the mechanisms by which this
        information is added, then MITRE will update this privacy statement and send an email notification to
        ATT&CK-related mailing lists.</p>
    </div>
</div>
{% endblock %}