{% extends "general/two-column.html" %}
{% set parsed = page.data | from_json %}
{% if parsed.aliases_list %}
   {% set alias_string = parsed.aliases_list|join(", ") %} 
   {% set title = parsed.name + ", " + alias_string + ", Data Source " + parsed.attack_id + " | MITRE ATT&CK&reg;" -%} 
{% else %}
   {% set title = parsed.name + ", Data Source " + parsed.attack_id + " | MITRE ATT&CK&reg;" -%} 
{% endif %}
{% set active_page = "datasources" -%}

{% import 'macros/deprecated.html' as deprecated %}
{% import 'macros/navigator.html' as navigator %}
{% import 'macros/references.html' as references %}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/techniques_used.html' as techniques_used %}
{% import 'macros/versioning.html' as versioning %}
{% import 'macros/clean_output.html' as clean_output %}
{% import 'macros/citations.html' as citations %}
{% import 'macros/notes.html' as notes %}

{% block head %}
    {{ super () }}
    {% if parsed.deprecated %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{%  endblock %}

{% block innerleft %}
<!--stop-indexing-for-search-->
    <div class="side-nav-desktop-view h-100">
        {{ navigation.sidenav(parsed.side_menu_data, output_file, true) }} 
    </div>
    <div class="side-nav-mobile-view">
        {{ navigation.sidenav(parsed.side_menu_mobile_view_data, output_file) }} 
    </div>
<!--start-indexing-for-search-->
{% endblock %}

{% block innerright %}
{{ super () }}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/datasources/">Data Sources</a></li>
        <li class="breadcrumb-item">{{parsed.name}}</li>
    </ol>
    <div class="tab-pane fade show active" id="v-{{pages.title}}" role="tabpanel" aria-labelledby="v-{{pages.title}}-tab"></div>
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <h1>
                        {{parsed.name}}
                    </h1>
                    {% if parsed.deprecated %}
                        {% if parsed.descr %}
                            {{ deprecated.deprecated(clean_output.stixToHTML(parsed.descr, firstParagraphOnly=True)) }}
                        {% else %}
                            {{ deprecated.deprecated("This data source has been deprecated.") }}
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-8">
                                {% if parsed.descr %}
                                    <div class="description-body">
                                        {{clean_output.stixToHTML(parsed.descr, parsed.citations)}}
                                    </div>
                                {% endif %}
                                {% if parsed.notes %}
                                    {{ notes.notes_section(parsed.notes) }}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        {% if parsed.attack_id %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center"></div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">ID:&nbsp;</span>{{parsed.attack_id}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.platforms %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center">
                                                    <span data-toggle="tooltip" data-placement="left" title="" data-test-ignore="true" data-original-title="The system an adversary is operating within; could be an operating system or application">&#9432;</span>
                                                </div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">{{ "Platforms" if ',' in parsed.platforms else "Platform" }}:&nbsp;</span>{{parsed.platforms}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.collection_layers %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center">
                                                    <span data-toggle="tooltip" data-placement="left" title="" data-test-ignore="true" data-original-title="A description of where the data source may be physically collected (ex: Host, Network, Cloud Control Plane, etc.)">&#9432;</span>
                                                </div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">{{ "Collection Layers" if ',' in parsed.collection_layers else "Collection Layer" }}:&nbsp;</span>{{parsed.collection_layers}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.contributors_list %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center"></div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">Contributors</span>: {{parsed.contributors_list|join("; ")}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.version %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center"></div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">Version</span>: {{parsed.version}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.created %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center"></div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">Created:&nbsp;</span>{{parsed.created}}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if parsed.modified %}
                                            <div class="row card-data">
                                                <div class="col-1 px-0 text-center"></div>
                                                <div class="col-11 pl-0">
                                                    <span class="h5 card-title">Last Modified:&nbsp;</span>{{parsed.modified}}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if parsed.versioning_feature %}
                                    {{ versioning.permalink_button(output_file, parsed.attack_id)}}
                                {% endif %}
                            </div>
                        </div>
                
                        {% if parsed.datacomponents_list %}
                            <h2 class="pt-3" id="datacomponents">Data Components</h2>
                            <div class="row no-techniques-in-data-source-message" style="display: none">
                                <div class="col-md-12 description-body">
                                    <p>This data source does not have any techniques in the selected domain(s)</p>
                                </div>
                            </div>
                            <div class="row">
                                {% for datacomponent in parsed.datacomponents_list %}
                                    <div class="col-md-12 section-view {% for domain in datacomponent.domains %}{{domain}} {% endfor %}">
                                        <a class="anchor" id="{{datacomponent.name}}"></a>

                                        <div class="section-desktop-view anchor-section">
                                            <h4 class="pt-3">{{parsed.name}}: {{datacomponent.name}}</h4>
                                            {% if datacomponent.descr %}
                                                <div class="description-body">
                                                    {% if parsed.deprecated %}
                                                        <font color="red">****Deprecation Warning****</font>
                                                    {% endif %}
                                                    {{clean_output.stixToHTML(datacomponent.descr, parsed.citations)}}
                                                </div>
                                            {% endif %}
                                            <div class="section-shadow"></div>
                                        </div>

                                        <div class="section-mobile-view anchor-section">
                                            <h4 class="pt-3">{{parsed.name}}: {{datacomponent.name}}</h4>
                                            <div class="section-shadow"></div>
                                        </div>
                                        <div class="section-mobile-view">
                                            {% if datacomponent.descr %}
                                                <div class="description-body">
                                                    {% if parsed.deprecated %}
                                                        <font color="red">****Deprecation Warning****</font>
                                                    {% endif %}
                                                    {{clean_output.stixToHTML(datacomponent.descr, parsed.citations)}}
                                                </div>
                                            {% endif %}
                                        </div>

                                        {% if datacomponent.techniques %}
                                            {% if datacomponent.add_datacomponent_ref %}
                                                {{techniques_used.techniques_used(datacomponent.techniques, "", true, "Detects", parsed.citations)}}
                                            {% else %}
                                                {{techniques_used.techniques_used(datacomponent.techniques, "", true, "")}}
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        {{ citations.reference_section(parsed.citations) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--SCRIPTS-->
    <script src="/theme/scripts/filter/filter.js?{{ range(1, 9002) | random }}"></script>
    <script src="/theme/scripts/navigation.js"></script>
    <script src="/theme/scripts/bootstrap-tourist.js"></script>
    <script src="/theme/scripts/settings.js"></script>
    <script src="/theme/scripts/tour/tour-relationships.js"></script>
{% endblock %}
