/*Footer styling*/
.footer {
    background-color: color(secondary); 
    color: on-color(secondary);
    @include font("Roboto-Thin");

    // place footer at the bottom
    &.sticky-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    // space block between text block and buttons in footer
    .footer-responsive-break {
        display: none;
    }

    // place buttons to the right of footer
    .footer-float-right-responsive {
        float: right;
    }

    .footer-link {
        color: on-color(secondary);

        &:hover {
            //add some link color to this so that it resembles a link, but is still visible if normal link color is not visible on footer color
            color: mix(on-color(secondary), color(link)); 
        }
    }
}

// phones and small tablets view
@media screen and (max-width: 47.9875rem) {
    .footer {
        // space block between text block and buttons in footer
        .footer-responsive-break {
            display: block !important;
        }

        // extend buttons width to 100% in the footer
        .footer-float-right-responsive {
            float: none !important;
        }
    }
}
/******/
