// specify a font family for a css block or element
@mixin font($primary, $secondary: sans-serif) {
    font-family: $primary, $secondary;
}

// change any presicion point to rem for consistency
@function to-rem($target-val) {
    @return #{$target-val/16}rem;
}

// base for precision point (not used in @media blocks)
@function rem($value) {
    @return 0.3rem + $value;
}

// margins used for replacing break tags
@mixin margin($property, $value) {
    margin-#{$property}: to-rem(24 * $value);
}

//Where is this used?
// .btn-twitter {
//     width: 400px;
//     margin: 0 auto;
// }

//Where is this used?
// img[alt="figure"] {
//     max-width: 100%;
//     display: block;
// }

//Where is this used?
// .blog-box {
//     display: none;
// }

//Where is this used?
// .load-more {
//     display: none;
// }

//Where is this used?
// .blog-archive {
//     font-size: 0.9rem;
//     margin-bottom: 1rem;
// }

//Where is this used?
// .blog-archive-subtitle {
//     font-style: italic;
// }

//Where is this used?
// .back-link {
//     text-decoration: none;
//     color: #f47d3f;
// }

//code using this style is commented out
// .getting-started-mobile-view {
//     display: none;
// }

// .getting-started-desktop-view {
//     display: contents;
// }
/******/

//Where is this used?
/* @media screen and (max-width: 581.8px) {
            #mobile-container {
                    max-height: calc(67vh - 12px) !important;
                    overflow-y: auto;
            }
    }
    
    @media screen and (max-width: 521.8px) {
            #mobile-container {
                    max-height: calc(64vh - 12px) !important;
                    overflow-y: auto;
            }
    }
    
    @media screen and (max-width: 407.8px) {
            #mobile-container {
                    max-height: calc(61vh - 12px) !important;
                    overflow-y: auto;
            }
    } */
/******/

//Where is this used?
// .bs-callout p:last-child {
//     margin-bottom: 0;
// }

// .bs-callout code {
//     border-radius: 3px;
// }

// .bs-callout-default {
//     border-left-color: #777;
// }

// .bs-callout-default h5 {
//     color: #777;
//     margin-top: 15px;
//     margin-bottom: 10px;
// }
/******/

//Where is this used?
// #sw-nav-mobile-view {
//     display: none;
// }

// #sw-nav-desktop-view {
//     display: block;
// }

// @media screen and (max-width: 767.8px) {
//     #sw-nav-mobile-view {
//         display: block;
//     }

//     #sw-nav-desktop-view {
//         display: none;
//     }
// }
/******/
