@use "../abstracts/color-functions";

// used in 404 and contact templates
.deemphasis {
  color: color-functions.on-color-deemphasis(body);
}

// background color for the table matrix headers in the home page and the matrices page
.matrix-header {
  background-color: color-functions.color(matrix-header);
  color: color-functions.on-color(matrix-header);
}

// background color for the table matrix in the home page
%bg-alternate {
  background-color: color-functions.color-alternate(body) !important;
}

// .bg-alternate {
//   background-color: color-functions.color-alternate(body) !important;
// }
.bg-alternate {
  @extend %bg-alternate;
}
