@use "../abstracts/color-functions";

.text-label {
    text-transform: uppercase;
    font-size: 14px;
}

.text-label-small {
    font-size: 12px;
    color: color-functions.color(deemphasis);
    margin-top: -10px;
}
