PELICAN_AUTHOR="MITRE"
PELICAN_SITENAME="ATT&CK"
PELICAN_SITEURL="https://attack.mitre.org"
PELICAN_TIMEZONE="America/New_York"
PELICAN_DEFAULT_LANG="en"
ATTACK_VERSION_ARCHIVES="attack-version-archives"
BANNER_ENABLED=True
BANNER_MESSAGE="This is a custom instance of the MITRE ATT&CK Website. The official website can be found at <a href='https://attack.mitre.org'>attack.mitre.org</a>."
STIX_LOCATION_ENTERPRISE="https://raw.githubusercontent.com/mitre/cti/master/enterprise-attack/enterprise-attack.json"
STIX_LOCATION_MOBILE="https://raw.githubusercontent.com/mitre/cti/master/mobile-attack/mobile-attack.json"
STIX_LOCATION_ICS="https://raw.githubusercontent.com/mitre/cti/master/ics-attack/ics-attack.json"
STIX_LOCATION_PRE="https://raw.githubusercontent.com/mitre/cti/master/pre-attack/pre-attack.json"
WORKBENCH_USER=""
WORKBENCH_API_KEY=""
GOOGLE_ANALYTICS=""
GOOGLE_SITE_VERIFICATION=""
INCLUDE_OSANO=""
