.vscode/
.idea/
.DS_Store

env
__pycache__/
modules/__pycache__/*

attack-versions/
output/
reports/

attack-theme/templates/general/base.html
attack-theme/templates/contribute
attack-theme/templates/groups
attack-theme/templates/matrices
attack-theme/templates/mitigations
attack-theme/templates/resources
attack-theme/templates/software
attack-theme/templates/tactics
attack-theme/templates/techniques
attack-theme/templates/website_build
attack-theme/templates/versions
attack-theme/static/scripts/settings.js
content/
data/pelican_settings.json