.vscode/
.idea/
.DS_Store

env
__pycache__/
modules/__pycache__/*

attack-archives/
output/
reports/

attack-theme/templates/general/base.html

content/pages/groups/
content/pages/matrices/
content/pages/techniques/
content/pages/mitigations/
content/pages/tactics/
content/pages/software/
content/pages/matrix/
content/pages/wiki/
content/pages/resources/
content/pages/index.md
