[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.towncrier]
    name = "ATT&CK website"
    version = "4.2.1"
    filename = "CHANGELOG.md"
    issue_format = "[#{issue}](https://github.com/mitre-attack/attack-website/issues/{issue})"
    template = ".towncrier.template.md"
    start_string = "<!-- TOWNCRIER -->\n"
    title_format = "# v{version} ({project_date})"
    underlines = ["-", "", ""]

[tool.ruff]
line-length = 120
ignore = [
    "E501",  # line-too-long
    "D100",  # Missing docstring in public module
    "D105",  # undocumented-magic-method
    ]
# On top of the defaults (E, F), enable pydocstyle (D) and isort (I).
select = ["E", "F", "D", "I"]

[tool.ruff.pydocstyle]
convention = "numpy"
