GitPython==3.1.47
Markdown==3.10.2
bleach==6.3.0
colorama==0.4.6
future==1.0.0
loguru==0.7.3
mitreattack-python==5.5.0
pelican==4.12.0
# TODO: re-enable sitemap when it doesn't generate a 100+ MB file
# pelican-sitemap==1.2.2
python-dotenv==1.2.2
requests==2.33.1
stix2==3.0.2
stix2-validator==3.2.0
toml==0.10.2
towncrier==25.8.0

# dev dependencies
ruff>=0.15.11
