GitPython==3.1.27
Markdown==3.3.7
bleach==5.0.0
colorama==0.4.4
future==0.18.2
loguru==0.6.0
mitreattack-python==1.7.1
pelican==4.7.2
pyScss==1.4.0
python-dotenv==0.20.0
requests==2.27.1
stix2==3.0.1
stix2-validator==3.0.2
toml==0.10.2
towncrier==21.9.0
urllib3==1.26.9
webassets==2.0

# dev dependencies
black==22.3.0
isort==5.10.1
pylint==2.13.8
