GitPython==3.1.50
Markdown==3.10.2
bleach==6.3.0
colorama==0.4.6
future==1.0.0
loguru==0.7.3
mitreattack-python==6.1.0
pelican==4.12.0
pelican-sitemap==1.2.2
python-dotenv==1.2.2
requests==2.34.2
stix2==3.0.2
stix2-validator==3.3.1

# dev dependencies
ruff>=0.15.17
