{% extends "general/base.html" %}
{% set active_page = "resources" -%}
{% set title = "Contribute | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}

{% block content %} {{ super () }}
<div class="container">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
            <li class="breadcrumb-item">Contribute</li>
        </ol>
        
        <div class="blog-post p-3">
            <h1 class="blog-post-title mb-4">Contribute</h1>
                <p>
                    You can help contribute to ATT&amp;CK.
                </p>
                <p>
                    ATT&amp;CK is in a constant state of development. We are always on the lookout for new information to help
                    refine and extend what is covered. If you have additional techniques, know about variations on one already covered,
                    have examples of techniques in use, or have other relevant information, then we would like to hear from you.
                </p>
                <p>
                    We are looking for contributions in the following areas in particular, but if you have other information
                    you think may be useful, please reach us at <a href="mailto:attack@mitre.org">attack@mitre.org</a>.
                </p>

                <p>
                    All contributions and feedback to ATT&amp;CK are appreciated. Due to the high volume of contributions,
                    it may take us about a week to get back to you. We may ask you follow-up questions to help us understand your contribution
                    and gather additional information. We recommend you read our <a href="/docs/ATTACK_Design_and_Philosophy_March_2020.pdf">philosophy paper</a> to understand
                    our approach to maintaining ATT&amp;CK so that we get the right details up front. If we find the contribution fills a gap,
                    then we will make edits and send you a draft version of the technique or Group/Software page for your review prior to
                    it being published, listing you as a contributor if desired. Content updates happen roughly every 6 months.
                </p>
                <h4 class="contribution-headers">Contributing to ATT&amp;CK</h4>
                <div class="bs-callout bs-callout-success">
                    <h5 class="contribution-headers">Sub-Techniques and Techniques</h5>
                        <p>
                            We appreciate your help to let us know about what new techniques and technique variations adversaries 
                            are using in the wild. You can start by emailing us the technique name, a brief description, and 
                            references or knowledge about how it is being used by adversaries. 
                            We suggest you take a close look at what we already have on our site, paying attention 
                            to the level of abstraction of techniques and sub-techniques. Since we are working on adding new technique details
                            constantly, we will deconflict what you send with what we’re working on. We’ll provide feedback
                            and work with you to get the content added.
                        </p>
                </div>

                <div class="bs-callout bs-callout-primary">
                    <h5 class="contribution-headers">macOS, Linux, cloud, and ICS</h5>
                    <p>
                        While we also cover the Windows and mobile platforms, we are particularly interested in new macOS, Linux, cloud, and ICS techniques
                        since there is a lack of publicly available threat intel for techniques used against
                        those platforms. This leads to gaps in the knowledge base that you can help fill.
                    </p>
                </div>

                <div class="bs-callout bs-callout-info">
                    <h5 class="contribution-headers">Threat Intelligence</h5>
                    <p>
                        We map Group and Software examples on our site, and there is too much open source threat intelligence 
                        reporting for us to keep up on everything. We appreciate your help with referenced information about 
                        how Groups and Software samples use ATT&CK techniques. 
                        Threat intelligence contributions are most helpful to us when they are in the specific format we have 
                        on our website, including citing techniques and group names or associated groups to 
                        publicly-available references. We ask that you provide the sub-technique or technique name, a brief description of 
                        how the technique is implemented, and the publicly-available reference.
                    </p>
                </div>
                <div class="bs-callout bs-callout-warning">
                    <h5 class="contribution-headers">Data Sources</h5>
                    <p>
                        We often don’t have direct access to endpoint or network log data for technique use in incidents. 
                        We’re always looking for partners who would be interested in sharing relevant data from logs that 
                        show how adversaries are using ATT&CK techniques beyond what appears in threat reporting.
                    </p>
                </div>

                <div class="bs-callout bs-callout-danger">
                    <h5 class="contribution-headers">Your Use Cases</h5>
                    <p>
                        It’s always helpful for us to hear about how you’re using ATT&CK in your organization. 
                        We appreciate any information you can share with us about your specific use case or 
                        application of ATT&CK, and particularly any success stories you’ve had as a result.
                    </p>
                </div>

                <h4 class="contribution-headers">Contribution Examples</h4>
                <div class="new-examples">
                    <h5>New Technique Example</h5>
                    <div class="example-container">
                        <div class="examples-div">
                            <h6 class="example-fields">(Sub-)Technique Name:</h6>
                            <p class="examples-p mr-0">COM, ROM, & BE GONE </p>
                            <h6 class="margin-contribute-a example-fields">Tactic:</h6>
                            <p class="examples-p">Persistence</p>
                        </div>
                        <div class="examples-div">
                            <h6 class="example-fields">Platform:</h6>
                            <p class="examples-p mr-0">Windows </p>
                            <h6 class="margin-contribute-b example-fields">Required Permissions:</h6>
                            <p class="examples-p mr-0">User</p>
                        </div>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Sub-techniques:</span> This is a sub-technique of T1XXX, or this would have T1XXX as a sub-technique
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Data Sources:</span> Windows API, Process monitoring, 
                            or other sources that can be used to detect this activity
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Description:</span> Component Object Model (COM) servers
                             associated with Graphics Interchange Format (JIF) image viewers can be abused to corrupt arbitrary memory banks. Adversaries may leverage this opportunity to modify, mux, and maliciously annoy (MMA) read-only memory (ROM) regularly accessed during normal system operations.
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Detection:</span> Monitor the JIF viewers for muxing 
                            and malicious annoyance. Use event ID 423420 and 234222 to detect changes.
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Mitigation:</span> Configure the Registry key
                             HKLM\SYSTEM\ControlSet\001\Control\WindowsJIFControl\ to 0 to disable MMA access
                             if not needed within the environment.
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Adversary Use:</span> Here is a publicly-available
                             reference about FUZZYSNUGGLYDUCK using this technique: 
                             (www[.]awesomeThreatReports[.]org/FUZZYSNUGGLYDUCK_NOMS _ON_ROM_VIA_COM). 
                             Additionally, our red team uses this in our operations.
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Additional References:</span> Here is a reference
                            from the researcher who discovered this technique: 
                            (www[.]crazySmartResearcher[.]net/POC_DETECTIONS_&_MITIGATIONS_4_WHEN_COM_RAMS_ROM)
                        </p>
                    </div>
                </div>

                <div class="new-examples second-example">
                    <h5>Group & Software Example</h5>
                    <div class="example-container">
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Group Name:</span> FUZZYSNUGGLYDUCK (www[.]sourceX[.]com)
                        </p>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Associated Groups:</span> APT1337 (www[.]sourceY[.]com)
                        </p>
                        <div class="nested-examples-div">   
                            <p class="examples-p mr-0 ml-0">
                                <span class="example-fields">Description:</span> FUZZYSNUGGLYDUCK 
                                is a Great Lakes-based threat group that has been active since at 
                                least May 2018. The group focuses on targeting the aviation sector. (www[.]sourceY[.]com)
                            </p>
                        </div>
                        <h6 class="nested-examples-div example-fields">Techniques:</h6>   
                        <ul> 
                            <li>
                                Phishing: Spearphishing Attachment (T1566.001) – FUZZYSNUGGLYDUCK has used spearphishing 
                                email attachments containing images of stale bread to deliver malware. (www[.]sourceX[.]com)
                            </li>
                            <li>
                                File and Directory Discovery (T1083) – FUZZYSNUGGLYDUCK has searched files 
                                and directories for the string *quack*. (www[.]sourceY[.]com)
                            </li>
                        </ul>
                        <p class="examples-p mr-0 ml-0">
                            <span class="example-fields">Software Name:</span> FLYINGV 
                            (www[.]sourceX[.]com) (wwwVsourceZ[.]com)
                        </p>
                        <div class="nested-examples-div">  
                            <p class="examples-p mr-0 ml-0">
                                <span class="example-fields">Group Association:</span> FLYINGV has 
                                been used by FUZZYSNUGGLYDUCK. (www[.]sourceZ[.]com)
                            </p>
                        </div>
                        <div class="nested-examples-div"> 
                            <p class="examples-p mr-0 ml-0">
                                <span class="example-fields">Description:</span> FLYINGV is custom malware 
                                used by FUZZYSNUGGLYDUCK as a second-stage RAT. (www[.]sourceZ[.]com)
                            </p>
                        </div>
                        <div class="nested-examples-div">  
                            <p class="examples-p mr-0 ml-0">
                                <span class="example-fields">Platform:</span> Windows
                            </p>
                        </div>
                        <h6 class="example-fields">Techniques:</h6>
                        <ul>
                            <li>
                                Boot or Logon Autostart Execution: Registry Run Keys / Startup Folder (T1547.001) – FLYINGV has added 
                                the Registry Run key “HueyDeweyLouie” to establish persistence. (www[.]sourceX[.]com)
                            </li>
                            <li>
                                File and Directory Discovery (T1083) – FLYINGV has used rundll32.exe 
                                to load its malicious dll file, estevez.dll. (www[.]sourceX[.]com)
                            </li>
                        </ul>
                    </div>
                </div>

                <h4 class="contribution-headers">Content Errors on the Website</h4>
                <p>
                    If you find errors or typos on the site related to content, 
                    please let us know by sending an email to 
                    <a href="mailto:attack@mitre.org?subject=Website Content Error">attack@mitre.org</a>
                    with the subject <strong>Website Content Error</strong>.
                </p>
                <p>Please let us know the following:</p>
                <ol>
                    <li>
                        The url where you found the error.
                    </li>
                    <li>
                        A short description of the error.
                    </li>
                </ol>
                <p>Examples of errors:</p>
                <ul>
                    <li>
                        Typos and syntax errors
                    </li>
                    <li>
                        Improperly formatted web pages
                    </li>
                    <li>
                        404 errors when links are clicked
                    </li>
                </ul>
                <h4 class="contribution-headers">Contributors</h4>
                <p>
                    The following individuals or organizations have contributed information 
                    regarding the existence of a technique, details on how to detect and/or mitigate 
                    use of a technique, or threat intelligence on adversary use:
                </p>
                <div>
                    <div class="row">
                        {% for col in parsed.contributors %}
                        <div class="col">
                            <ul>
                                {% for row in col %}
                                <li>
                                    {{row}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p>
                    Thanks to those who have contributed to ATT&amp;CK!
                </p>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>{% endblock %}