@use "sass:color";
@use "sass:map";
@use "../abstracts/variables";
@use "../config" as config;

$primary: map.get(map.get(variables.$colors, primary), color);
$secondary: map.get(map.get(variables.$colors, secondary), color);
$footer: map.get(map.get(variables.$colors, footer), color);
$active: map.get(map.get(variables.$colors, active), color);
$dark-active: if(sass(config.$use-attack-theme): #60a9ff; else: #9aa3a6);

@mixin light-colors {
  --attack-color-primary: #{$primary};
  --attack-on-color-primary: white;
  --attack-color-secondary: #{$secondary};
  --attack-color-secondary-hover: #{color.scale($secondary, $lightness: 5%)};
  --attack-on-color-secondary: white;
  --attack-color-footer: #{$footer};
  --attack-on-color-footer: #87deff;
  --attack-color-footer-link-hover: #{color.mix(#87deff, #3f709e)};
  --attack-color-active: #{$active};
  --attack-color-active-alternate-medium: #{color.mix(color.invert($active), $active, $weight: 7.5%)};
  --attack-on-color-active: #eaeaea;
  --attack-color-body: white;
  --attack-on-color-body: #39434c;
  --attack-on-color-body-emphasis: #1d2226;
  --attack-color-property-label: #1d2226;
  --attack-on-color-body-deemphasis: #6b7379;
  --attack-color-body-alternate-subtle: #f5f5f5;
  --attack-color-body-alternate: #f2f2f2;
  --attack-color-body-alternate-strong: #e6e6e6;
  --attack-color-body-alternate-strongest: #d9d9d9;
  --attack-border-color-body: #dfdfdf;
  --attack-background-color-body: #dfdfdf;
  --attack-color-link: #3f709e;
  --attack-color-link-hover: #0056b3;
  --attack-color-matrix-header: gray;
  --attack-on-color-matrix-header: white;
  --attack-color-search-highlight: yellow;
  --attack-on-color-search-highlight: black;
  --attack-color-deemphasis: #686f75;
  --attack-on-color-deemphasis: white;
  --attack-color-card-header: rgb(57 67 76 / 3%);
  --attack-color-code: #a52f16;
  --attack-color-danger: #bd2130;
  --attack-color-image-background: white;
  --attack-color-banner: #e7f0f6;
  --attack-on-color-banner: #263b4a;
  --attack-border-color-banner: #c2d5e2;
  --attack-select-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%2339434c' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
}

@mixin dark-colors {
  --attack-color-primary: #{$primary};
  --attack-on-color-primary: white;
  --attack-color-secondary: #{$secondary};
  --attack-color-secondary-hover: #{color.scale($secondary, $lightness: 8%)};
  --attack-on-color-secondary: white;
  --attack-color-footer: #{$footer};
  --attack-on-color-footer: #87deff;
  --attack-color-footer-link-hover: #b7edff;
  --attack-color-active: #{$dark-active};
  --attack-color-active-alternate-medium: #{if(sass(config.$use-attack-theme): #3d8cdb; else: #879195)};
  --attack-on-color-active: #0f171c;
  --attack-color-body: #222426;
  --attack-on-color-body: #e8e6e3;
  --attack-on-color-body-emphasis: #fffaf4;
  --attack-color-property-label: #f2d2a4;
  --attack-on-color-body-deemphasis: #b7b1a8;
  --attack-color-body-alternate-subtle: #272a2c;
  --attack-color-body-alternate: #2b2e30;
  --attack-color-body-alternate-strong: #303437;
  --attack-color-body-alternate-strongest: #353a3d;
  --attack-border-color-body: #596166;
  --attack-background-color-body: #373d40;
  --attack-color-link: #7bb8ee;
  --attack-color-link-hover: #b7ddff;
  --attack-color-matrix-header: #596166;
  --attack-on-color-matrix-header: #fffaf4;
  --attack-color-search-highlight: #665a00;
  --attack-on-color-search-highlight: #fff4b8;
  --attack-color-deemphasis: #b7b1a8;
  --attack-on-color-deemphasis: #222426;
  --attack-color-card-header: #2b2e30;
  --attack-color-code: #ff8f70;
  --attack-color-danger: #ff8c96;
  --attack-color-image-background: white;
  --attack-color-banner: #263a49;
  --attack-on-color-banner: #f2f7fa;
  --attack-border-color-banner: #3f5d72;
  --attack-select-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23e8e6e3' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
}
