{% extends "general/base.html" %} 
{% set title = "404 | MITRE ATT&CK&reg;" -%}

{% block content %}
{{ super () }}
<div class="col text-center pt-5">
    <div class="pt-5">
        <h1>404</h1>
        <h4>Oh no! It looks like the page you're looking for doesn't exist.</h4>
        <p class="deemphasis pt-4">If you think you reached this page because of an error, please create an issue on our <span class="font-weight-bold"><a href="https://github.com/mitre-attack/mitre-attack.github.io/issues">GitHub Issue Tracker</a>!</span></p>
    </div>
</div>
{% endblock %}