{% extends "general/base.html" %}

{% import 'macros/matrix.html' as matrix_macros %}

{% set parsed = page.data | from_json %}

{% block content %}
    {{ super() }}
    <div class="col jumbotron-fluid">
        <div class="container home-banner">
            <div class="row pt-5">
                {% if parsed.attack_branding %} 
                    <div class="col mb-5 home-left-col"> 
                        <p class="text-justify">MITRE ATT&CK<sup>&reg;</sup> is a globally-accessible knowledge base of adversary tactics and techniques based on real-world observations. The ATT&CK knowledge base is used as a foundation for the development of specific threat models and methodologies in the private sector, in government, and in the cybersecurity product and service community.</p>
                        <p class="text-justify">With the creation of ATT&CK, MITRE is fulfilling its mission to solve problems for a safer world &mdash; by bringing communities together to develop more effective cybersecurity. ATT&CK is open and available to any person or organization for use at no charge.</p>                    
                        <div class="py-1">
                            <img src="{{ parsed.logo_landingpage }}" class="rounded mx-auto d-block pb-4 attack-logo-bold">
                        </div>
                        <table id="tour-start-container" class="quick-links">
                            <tr>
                                <td>
                                    <a href="/resources/getting-started" role="button">Getting Started</a>
                                </td>
                                <td>
                                    <a href="#" id="tour-start" onclick="start_tour()" role="button">Take a Tour</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/resources/contribute" role="button">Contribute</a>                            
                                </td>
                                <td>
                                    <a href="https://medium.com/mitre-attack" role="button" target="_blank" >Blog <img src="/theme/images/external-site-dark.jpeg" alt="External site" class="external-icon" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/resources/faq" role="button">FAQ</a>                            
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" onclick="navigate_random('');">
                                        Random Page
                                        </a>
                                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="color: #4f7cac; background-color: white; padding: 0; padding-left: .375rem; padding-right: .375rem; border-left: 1px solid lightgray; margin-left: .375rem;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                        <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for option, value in parsed.random_page_options.items() %}
                                                <a class="dropdown-item" href="#" onclick="navigate_random('{{ value }}');">{{ value }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <div class="twitter-card">
                            <a class="twitter-timeline" href="https://twitter.com/MITREattack?ref_src=twsrc%5Etfw" data-theme="light" data-height="388">Tweets by MITREattack</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                {% else %}
                    <p class="text-justify">
                        MITRE ATT&CK<sup>&reg;</sup> is a globally-accessible knowledge base of adversary tactics and techniques based on real-world observations. The ATT&CK knowledge base is used as a foundation for the development of specific threat models and methodologies in the private sector, in government, and in the cybersecurity product and service community.
                    </p>
                    <p class="text-justify pb-2">
                        With the creation of ATT&CK, MITRE is fulfilling its mission to solve problems for a safer world &mdash; by bringing communities together to develop more effective cybersecurity. ATT&CK is open and available to any person or organization for use at no charge.
                    </p>  
                    <div class="p-line">
                        <p class="py-3">
                            This is a custom instance of the ATT&CK Website built from <a href="https://github.com/mitre-attack/attack-website">source code published by ATT&CK on GitHub</a>. It is not affiliated with ATT&CK in any official capacity. The official instance of the ATT&CK website can be found at <a href="https://attack.mitre.org">attack.mitre.org</a>. 
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid bg-alternate pt-5 pb-3">
        <div class="container text-center">
            <h2>{{parsed.matrix_name}}</h2>
            {% if parsed.matrix_descr %}<p class="mb-0">{{parsed.matrix_descr}}</p>{% endif %}
        </div>
        <div class="center-controls">
            {{matrix_macros.matrices(parsed.matrices, parsed.has_subtechniques, parsed.tour_technique, True)}}
        </div>
    </div>
    <!--start-indexing-for-search-->
{% endblock %}

{% block scripts %}
    <!--SCRIPTS-->
    {{ super() }}
    <script src="/theme/scripts/matrix.js"></script>
    <script src="/theme/scripts/bootstrap-tourist.js"></script>
    <script src="/theme/scripts/settings.js"></script>
    <script src="/theme/scripts/tour/tour-introduction.js"></script>
    <script src="/theme/scripts/random_page.js"></script>
{% endblock %}