{% set BANNER_ENABLED = "true" %}
{% set BANNER_MESSAGE = "You are currently viewing the sub-techniques beta. <a href='/?tour=true'>Take a tour</a>, read the <a href='https://medium.com/mitre-attack/attack-subs-what-you-need-to-know-99bce414ae0b'>blog post</a> or <a href='/resources/updates/updates-march-2020'> release notes</a>, or see the <a href='/'>non-beta version of the site</a>." %}
{% set NAVIGATION_MENU = [['/matrices/', 'matrices', 'Matrices'], ['/tactics/', 'tactics', 'Tactics'], ['/techniques/', 'techniques', 'Techniques'], ['/mitigations/', 'mitigations', 'Mitigations'], ['/groups/', 'groups', 'Groups'], ['/software/', 'software', 'Software'], ['/resources/', 'resources', 'Resources'], ['https://medium.com/mitre-attack/', 'blog', 'Blog'], ['/resources/contribute', 'contribute', 'Contribute']] -%}
{% set DOMAINS = [['PRE-ATT&CK', 'pre'], ['Enterprise', 'enterprise'], ['Mobile', 'mobile']] -%}
{% set CONTENT_VERSION = "7.0-beta" -%}
{% set WEBSITE_VERSION = "2.0" -%}
{% set CHANGELOG_LOCATION = "/resources/changelog.html" -%}
{% set LOGO_HEADER = "/theme/images/mitre_attack_logo.png" -%}
{% set LOGO_FOOTER = "/theme/images/mitrelogowhiteontrans.gif" -%}
{% set active_page = active_page|default('index') -%}
{% set title = title|default('MITRE ATT&CK&reg;') -%}
{% import 'macros/search.html' as search %}
<!DOCTYPE html>
<html lang='en'>

<head>
    {% block head %}
        <!-- insert analytics here-->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel='shortcut icon' href='/theme/favicon.ico' type='image/x-icon'>
        <title>{{ title }}</title>
        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='/theme/style/bootstrap.min.css' />
        <link rel='stylesheet' href='/theme/style/bootstrap-glyphicon.min.css' />
        <link rel='stylesheet' href='/theme/style/bootstrap-tourist.css' />
        {% assets "style/style.scss", filters="pyscss", output="style.min.css" %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
    {% endblock %}
</head>

<body>
<header>
    {% block nav %}    
        <nav class='navbar navbar-expand-lg navbar-dark fixed-top'>
            <a class='navbar-brand' href='/'><img src="{{ LOGO_HEADER }}" class="attack-logo"></a>
            <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse'
                    aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbarCollapse'>
                <ul class='nav nav-tabs ml-auto'>
                    {% for href, id, caption in NAVIGATION_MENU %}
                        {% if "Tactics" == caption or "Techniques" == caption or "Mitigations" == caption %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ href|e }}" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b>{{ caption|e }}</b>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for domain, endpoint in DOMAINS %}
                                        {% if "Tactics" == caption or "Techniques" == caption or ("Mitigations" == caption and "PRE-ATT&CK" != domain) %}
                                            <a class="dropdown-item" href="{{href}}{{ endpoint }}">{{ domain }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% elif "Resources" == caption %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ href|e }}" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b>{{ caption|e }}</b>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/resources/">General Information</a>
                                    <a class="dropdown-item" href="/resources/getting-started/">Getting Started</a>
                                    <a class="dropdown-item" href="/resources/training/">Training</a>
                                    <a class="dropdown-item" href="/resources/attackcon/">ATT&CKcon</a>
                                    <a class="dropdown-item" href="/resources/working-with-attack/">Working with ATT&CK</a>
                                    <a class="dropdown-item" href="/resources/faq/">FAQ</a>
                                    <a class="dropdown-item" href="/resources/updates/">Updates</a>
                                    <a class="dropdown-item" href="/resources/previous-versions/">Previous Versions</a>
                                    <a class="dropdown-item" href="/resources/related-projects/">Related Projects</a>
                                </div>
                            </li>
                        {% elif "Blog" == caption %}
                            <li class="nav-item"><a href="{{ href|e }}" target="_blank" {% if id==active_page %} class="nav-link active"
                            {% else %} class="nav-link" {% endif %}><b>{{ caption|e }}</b>&nbsp;<img src="/theme/images/external-site.svg"
                                                                                                               alt="External site" class="external-icon" /></a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ href|e }}" {% if id==active_page %} class="nav-link active" {%
                                    else %} class="nav-link" {% endif %}><b>{{ caption|e }}</b></a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <button id="search-button" class="btn search-button">Search <div class="search-icon"></div></button>
                    </li>
                </ul>
            </div>
        </nav>
        </header>
        <!-- don't edit or remove the line below even though it's commented out, it gets parsed and replaced by the previous-versions feature -->
        <!-- !previous versions banner! -->
        {% if BANNER_ENABLED == "true" %}
            <div class="container-fluid banner-message">
                {{ BANNER_MESSAGE }}
            </div>
        {% endif %}
    {% endblock %}
<div id='content' class="maincontent">
    <!--start-indexing-for-search-->
    {% block content %} {% block left %} {% endblock %} {% block right %} {% endblock %} {% endblock %}
    <!--stop-indexing-for-search-->
    {{ search.searchgui() }}
</div>
<footer class="footer p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-3">  
                <div class="footer-center-responsive my-auto">
                    <a href="https://www.mitre.org" target="_blank" rel="noopener" aria-label="MITRE">
                        <img src="{{ LOGO_FOOTER }}" class="mitre-logo-wtrans">
                    </a>
                </div>
            </div>
            <div class="col-2 col-sm-2 footer-responsive-break"></div>
            <div class="col-6 col-sm-6 text-center">  
                <p>
                     © 2015-2020, The MITRE Corporation. MITRE ATT&CK and ATT&CK are registered trademarks of The MITRE Corporation.
                </p>
                <div class="row">
                    <div class="col text-right">
                        <small>
                            <a href="/resources/privacy" class="footer-link">Privacy Policy</a>
                        </small>
                    </div>
                    <div class="col text-center">
                        <small>
                            <a href="/resources/terms-of-use" class="footer-link">Terms of Use</a>
                        </small>
                    </div>
                    <div class="col text-left">
                        <small>
                            <a href="{{CHANGELOG_LOCATION}}" class="footer-link" data-toggle="tooltip" data-placement="top" title="ATT&amp;CK content version {{CONTENT_VERSION}}; Website version {{WEBSITE_VERSION}}">ATT&CK v{{CONTENT_VERSION}}</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="w-100 p-2 footer-responsive-break"></div>
            <div class="col">
                <div class="footer-float-right-responsive">
                    <div class="mb-1">
                        <a href="https://twitter.com/MITREattack" class="btn btn-primary w-100">
                            <!-- <i class="fa fa-twitter"></i> -->
                            <img src="/theme/images/twitter.png" class="mr-1 twitter-icon">
                            <b>@MITREattack</b>
                        </a>
                    </div>
                    <div class="">
                        <a href="/contact" class="btn btn-primary w-100">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
{% block scripts %}
    <!--SCRIPTS-->
    <script src="/theme/scripts/jquery-3.2.1.min.js"></script>
    <script src="/theme/scripts/popper.min.js"></script>
    <script src="/theme/scripts/bootstrap.min.js"></script>
    <script src="/theme/scripts/bootstrap.bundle.min.js"></script>
    <script src="/theme/scripts/site.js"></script>
    <script src="/theme/scripts/flexsearch.es5.js"></script> 
    <script src="/theme/scripts/search_babelized.js"></script>
{% endblock %}
</body>
</html>