<!DOCTYPE html>
<html lang='en'>

  <head>
      {% include "general/google-analytics.html" %}
      {% include "general/google-site-verification.html" %}

      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no'>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta property="og:title" content="100% MITRE Coverage" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://attack.mitre.org/full-coverage.html" />
      <meta property="og:image" content="https://attack.mitre.org/theme/images/full-coverage.png" />
      <meta property="og:description" content="Can you get 100% MITRE Coverage? Test your skills and find out! Experience the matrix how it was never designed to be seen. Find out more here!" />
      <meta property="og:site_name" content="ATT&CK" />
      <meta property="og:locale" content="en_US" />
      <link rel='shortcut icon' href='/theme/favicon.ico' type='image/x-icon'>
      <title>100% MITRE Coverage</title>
  </head>

  <body>

    <div id="full-coverage" style="display:block; padding-right: auto; padding-left: auto; margin-right: auto; margin-left: auto;">
        <canvas id="board"></canvas>
    </div>

    <script src="/theme/scripts/attack-game.js"></script>
    <script src="/theme/scripts/attack-game-data.js"></script>
  </body>
</html>
