{% set RESOURCE_NAV = ${RESOURCE_NAV} -%}
{% import 'macros/navigation.html' as navigation %}
<!DOCTYPE html>
<html lang='en'>
        <div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
            {{navigation.sidenav(RESOURCE_NAV, output_file)}}  
        </div>
</html>

{% block scripts %}
<!--SCRIPTS-->
<script src="/theme/scripts/jquery-3.5.1.min.js"></script>
    <script src="/theme/scripts/popper.min.js"></script>
    <script src="/theme/scripts/bootstrap-select.min.js"></script>
    <script src="/theme/scripts/bootstrap.bundle.min.js"></script>
    <script src="/theme/scripts/site.js?{{ range(1, 9002) | random }}"></script>
    <script src="/theme/scripts/settings.js?{{ range(1, 9002) | random }}"></script>
    <script src="/theme/scripts/search_bundle.js"></script>
    <script src="/theme/scripts/resizer.js"></script>
    <script src="/theme/scripts/navigation.js"></script>
{% endblock %}   


  
