{% extends "general/base.html" %} 
{% block content %}

    {% block left %} 
    {{ super() }}
    <div class="sidebar nav sticky-top flex-column col-xl-3 col-lg-3 col-md-4 pr-0 pt-4 pb-3 pl-3 border-right" id="v-tab" role="tablist" aria-orientation="vertical">
        {% block innerleft %}
        {% endblock %}
    </div>
    {% endblock %}

    
    {% block right %}
    {{ super () }}
    <div class="tab-content col-xl-9 col-lg-9 col-md-8 pt-4" id="v-tabContent">
        <div class="tab-pane fade show active" id="v-attckmatrix" role="tabpanel" aria-labelledby="v-attckmatrix-tab">
            {% block innerright %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}

{% endblock %}