{% extends "general/base.html" %} 

{% block heading %}  
<div class="nav flex-column col-xl-2 col-lg-2 col-md-3  sidebar nav pt-5 pb-3 pl-3 border-right" id="v-tab" role="tablist" aria-orientation="vertical">
    <span class="heading" id="v-home-tab" aria-selected="false">MATRICES</span>
    <a class="nav-link side active show" id="v-attckmatrix-tab" data-toggle="tab" href="#v-attckmatrix" role="tab" aria-controls="v-attckmatrix" aria-selected="false">Enterprise</a>
    <a class="nav-link side" id="v-privilegeescalation-tab" data-toggle="tab" href="#v-privilegeescalation" role="tab" aria-controls="v-privilegeescalation" aria-selected="false">Pre-attack</a>
    <a class="nav-link side" id="v-defenseevasion-tab" data-toggle="tab" href="#v-defenseevasion" role="tab" aria-controls="v-defenseevasion" aria-selected="false">Mobile</a>
  </div>
{% endblock %}

{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            {% block left  %} 
            {{ super() }}
            <div class="nav flex-column col-xl-2 col-lg-3 col-md-3  sidebar nav pt-5 pb-3 pl-3 border-right" id="v-tab" role="tablist" aria-orientation="vertical">
                {% block innerleft %}
                {% endblock %}
            </div>
            {% endblock %}
            {% block right %}
            {{ super () }}
            <div class="tab-content col-xl-10 col-lg-9 col-md-9 pt-4" id="v-tabContent">
                <div class="tab-pane fade show active" id="v-attckmatrix" role="tabpanel" aria-labelledby="v-attckmatrix-tab">
                    {% block innerright %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>  
    </div>
{% endblock %}