/* COLORS */
/* FONTS */
@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Roboto/Roboto-Black.ttf");
}
.deemphasis {
  color: rgb(106.5, 114, 120.75);
}

.matrix-header {
  background-color: gray;
  color: white;
}

.table-alternate,
.blog-post table,
.changelog table, .bg-alternate {
  background-color: rgb(242.25, 242.25, 242.25) !important;
}

.text-label {
  text-transform: uppercase;
  font-size: 14px;
}

.text-label-small {
  font-size: 12px;
  color: #303435;
  margin-top: -10px;
}

/* General styling */
html {
  height: 100%;
}

body {
  height: 100%;
  background: white;
  color: #39434c;
  font-family: "Roboto-Regular", sans-serif;
  display: flex;
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    height: auto;
  }
}
.attack-website-wrapper {
  max-height: 100vh;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto-Light", sans-serif;
}

strong {
  font-family: "Roboto-Bold", sans-serif;
}

.jumbotron {
  padding: 0;
  background: white;
  color: #39434c;
}
.jumbotron code {
  color: rgb(28.5, 33.5, 38);
  background-color: rgb(229.5, 229.5, 229.5);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

a {
  color: #4f7cac;
}
a .anchor::before {
  content: "";
  display: block;
  margin-top: -5rem;
  position: absolute;
}

.marker-none {
  list-style-type: none;
}

.overflow-x-auto {
  overflow-x: auto;
}

.fs-s {
  font-size: small;
}

.capec-card {
  background: rgb(128, 0, 0);
}
.capec-card img {
  margin: 0.5rem;
  max-width: 10rem;
  max-height: 3.4375rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.maec-card {
  background: #212121;
}
.maec-card img {
  margin: 0.5rem;
  max-width: 9.125rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.default-img-size {
  width: 100%;
  max-width: 62.5rem;
}

.mitre-logo-wtrans {
  width: 9rem;
  height: 4.125rem;
}

.quick-links {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.quick-links td {
  padding: 0.3125rem 0;
}
.quick-links tr + tr {
  border-top: 1px solid rgb(223.125, 223.125, 223.125);
}

.row-main-page {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media screen and (width <= 47.9875rem) {
  .row-main-page {
    display: inline;
  }
}
.p-line p {
  border-top: 0.0625rem solid #1c2226;
}

.btn-default {
  background: white;
  border-color: rgb(106.5, 114, 120.75);
  color: #39434c;
}
.btn-default:hover {
  color: rgb(28.5, 33.5, 38);
}

.website-button, .slide-button-secondary, .slide-button {
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: Arial;
  display: inline-flex;
  align-items: center;
  border-style: solid;
}

.slide-icon-button {
  border-style: none;
  background: none;
}

.slide-button {
  border-color: #0156b3;
  color: #fff;
  background: #0156b3;
  padding: 6px 16px;
}
a .slide-button {
  text-decoration: none !important;
}

.slide-button-secondary {
  color: #0156b3;
  background: #fff;
  border-color: #0156b3;
  padding: 6px 16px;
}
a .slide-button-secondary {
  text-decoration: none !important;
}

.slide-button-text {
  position: relative;
}

.slide-button-icon {
  position: relative;
  padding-left: 8px;
}

.slide-button:hover {
  background: #062f4f;
  border-color: #062f4f;
}

.slide-button-secondary:hover {
  background: #eaeaea;
  border-color: #062f4f;
  color: #062f4f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn-navy:hover, .btn-navy {
  color: white;
  border-color: 0.0625rem solid #062f4f;
}

.btn-navy {
  background-color: #062f4f;
  color: white;
}
.btn-navy:hover {
  background-color: rgb(7.5, 58.75, 98.75);
  background-image: none;
}

.markdown-body h1:not(:first-child) {
  padding-top: 2rem;
}
.markdown-body h1 {
  padding-bottom: 0.8rem;
  font-size: 1.8rem;
}
.markdown-body h2 {
  font-size: 1.3rem;
}
.markdown-body h3 {
  font-size: 1.1rem;
}

/* **** */
/* Table styling */
.table,
.blog-post table,
.changelog table {
  empty-cells: hide;
}
.table td,
.blog-post table td,
.changelog table td {
  padding: 0.75rem;
  vertical-align: top;
}
.table td p:last-child,
.blog-post table td p:last-child,
.changelog table td p:last-child {
  margin-bottom: 0;
}
.table th,
.blog-post table th,
.changelog table th {
  padding: 0.6rem;
  vertical-align: top;
  font-size: 0.9rem;
}
.table .active,
.blog-post table .active,
.changelog table .active {
  color: #c63f1f;
}

.blog-post table {
  margin-bottom: 1.5rem;
}

.table-alternate tbody,
.blog-post table tbody,
.changelog table tbody {
  background: white;
  color: #39434c;
}

.table-techniques thead tr {
  background: #f2f2f2;
  border-bottom: 2px solid #dee2e6;
}
.table-techniques table {
  border-collapse: collapse;
}
.table-techniques td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.table-techniques tr:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.table-techniques .sub.technique {
  border-left: none;
}
.table-techniques .technique td:first-child {
  border-bottom: none;
}
.table-techniques .sub.technique td:first-child {
  width: 5ex;
  border-top: none;
  border-bottom: none;
}
.table-techniques .sub.technique td:not(:nth-child(4)) {
  color: #4f7cac;
}
.table-techniques .technique:not(.sub) td:not(:nth-child(3)) {
  color: #4f7cac;
}

.techniques-used table {
  border-collapse: collapse;
}
.techniques-used td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.techniques-used tr:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.techniques-used .sub.technique {
  border-left: none;
}
.techniques-used .technique td:first-child {
  border-bottom: none;
}
.techniques-used .technique td:nth-child(2) {
  border-bottom: none;
}
.techniques-used .sub.technique:not(.noparent) td:nth-child(2) {
  width: 5ex;
  border-top: none;
  border-bottom: none;
}
.techniques-used .sub.technique:not(.noparent) td:first-child {
  width: 5ex;
  border-top: none;
  border-bottom: none;
}

.techniques-used.background thead tr {
  background: #f2f2f2;
  border-bottom: 2px solid #dee2e6;
}

.datasources-table table {
  border-collapse: collapse;
}
.datasources-table thead tr {
  background: #f2f2f2;
  border-bottom: 2px solid #dee2e6;
}
.datasources-table td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.datasources-table tr:last-child {
  border-bottom: 1px solid #dfdfdf;
}
.datasources-table .datacomponent.datasource {
  border-left: none;
}
.datasources-table .datasource td:first-child {
  border-bottom: none;
}
.datasources-table .datasource td:nth-child(2) {
  border-bottom: none;
}
.datasources-table .datacomponent.datasource:not(.noparent) td:nth-child(2) {
  width: 5ex;
  border-top: none;
  border-bottom: none;
}
.datasources-table .datacomponent.datasource:not(.noparent) td:first-child {
  width: 5ex;
  border-top: none;
  border-bottom: none;
}
.datasources-table .nowrap {
  white-space: nowrap;
}

.tables-mobile {
  overflow-y: auto;
}

.table-bordered, .table-bordered td, .table-bordered th,
.blog-post table,
.blog-post table td,
.blog-post table th,
.changelog table,
.changelog table td,
.changelog table th {
  border: 1px solid rgb(223.125, 223.125, 223.125);
}
.table-bordered th,
.blog-post table th,
.changelog table th {
  border-bottom: 2px solid rgb(223.125, 223.125, 223.125) !important;
}

.table-matrix {
  border: none !important;
}
.table-matrix thead th {
  text-align: center !important;
  vertical-align: middle !important;
  border: 0.0625rem solid rgb(223.125, 223.125, 223.125) !important;
}
.table-matrix td,
.table-matrix th {
  text-align: center !important;
  vertical-align: middle !important;
  border-top: none !important;
  padding: 0.125rem !important;
  font-size: 0.75rem !important;
}
.table-matrix td.border,
.table-matrix th.border {
  border: 0.0625rem solid rgb(223.125, 223.125, 223.125) !important;
}
.table-matrix td.no-border,
.table-matrix th.no-border {
  border: none !important;
}
.table-matrix td {
  background: white;
  color: #39434c;
}

.table-mitigations th,
.table-mitigations td, .table-mitigations {
  white-space: nowrap;
  width: 1%;
}

.div-count {
  margin-top: auto;
  margin-bottom: 0;
}

.table-object-count {
  display: flex;
  justify-content: flex-end;
}

.matrix-tactics-url {
  color: white;
}
.matrix-tactics-url:visited, .matrix-tactics-url:hover, .matrix-tactics-url:active {
  color: white;
}

/* **** */
/* BANNER */
.banner-message, .version-banner {
  padding: 0.3125rem 0;
  text-align: center;
  background-color: rgb(229.5, 229.5, 229.5);
}

/* **** */
/* IMG/SVG ICON in BANNER */
.icon-inline {
  display: inline-flex;
  align-self: center;
}
.icon-inline svg,
.icon-inline img {
  height: 1rem;
  width: 1rem;
  fill: currentcolor;
  top: 0.125rem;
  position: relative;
}

/* **** */
/* Pre-block in SIGHTINGS */
pre {
  color: #39434c;
  background-color: rgb(216.75, 216.75, 216.75);
  border-radius: 5px;
  padding: 1rem;
}

code {
  color: #c63e1f;
}

/* **** */
/* CARDS */
.card {
  background: white;
  color: #39434c;
  border-color: rgb(223.125, 223.125, 223.125);
}

.button-group {
  display: flex;
  justify-content: end;
}
.button-group a.button + a.button {
  margin-left: 22px;
}
.button-group button {
  justify-content: center;
  width: 100%;
}
.button-group a.w-40 {
  width: 40%;
}

.card-filter {
  width: 20%;
  top: 9.3rem;
  float: right;
  background: #eaeaea;
}

@media screen and (width <= 90.62rem) {
  .card-filter {
    display: contents;
  }
}
.card-presentation {
  margin-bottom: 30px;
}

.card-attackcon {
  width: 100%;
}

.card-data {
  margin-bottom: 0.5rem;
}

.card-header {
  color: #39434c;
  background: rgba(57, 67, 76, 0.03);
  border-bottom-color: rgb(223.125, 223.125, 223.125);
}

a.partial-underline {
  text-decoration: none;
}
a.partial-underline .hover-line {
  text-decoration: underline;
}

.contact-card {
  border-radius: 0.75em;
  overflow: hidden;
}
.contact-card .card-footer {
  padding: 0 1.25rem 1.25rem;
}
.contact-card .card-footer.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.contact-card .card-footer-no-button {
  padding: 0.5rem 1.25rem;
  min-height: 4rem;
  max-height: fit-content;
}
.contact-card .card-header {
  padding: 1.25rem 1.25rem 0;
}
.contact-card .card-header.background {
  background: #0b2338;
  color: white;
  padding-bottom: 1.25rem;
}
.contact-card .card-header.no-background,
.contact-card .card-footer.no-background {
  background: white;
  color: #39434c;
  border: unset;
}
.contact-card .card-body p {
  margin: 0;
}
.contact-card .card-body.background {
  background: #eaeaea;
}

.card-body > .table {
  border-right: 0;
  border-left: 0;
  margin-bottom: 0;
}
.card-body > .table:last-child {
  border-bottom: 0;
}
.card-body > .table:not(.table-sm) th, .card-body > .table:not(.table-sm) td {
  padding: 0.75rem 1.25rem;
}
.card-body > .table td:first-child,
.card-body > .table th:first-child {
  border-left: 0;
}
.card-body > .table td:last-child,
.card-body > .table th:last-child {
  border-right: 0;
}
.card-body > .table tr:first-child td,
.card-body > .table tr:first-child th {
  border-top: 0;
}
.card-body > .table tr:last-child td {
  border-bottom: 0;
}
.card-body .card-header + .table {
  border-top: 0;
}

.card-data:last-of-type {
  margin-bottom: 0;
}

.card-title {
  font-size: 1.1rem;
  color: rgb(28.5, 33.5, 38);
}

.contact-card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-title-icon {
  float: right;
  color: #0156b3;
}

/* **** */
/* TWITTER */
.attack-box {
  width: 22rem;
  max-width: 100%;
  height: 30rem;
  margin: 0 auto;
  border: 3px solid #dfdfdf;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.attack-box iframe {
  border: 1px solid rgb(223.125, 223.125, 223.125) !important;
  border-radius: 0.25rem;
}

/* **** */
/* BREADCRUMBS */
.breadcrumb {
  font-size: 90%;
  background-color: white;
  max-width: 1140px;
  padding: 0 15px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: rgb(106.5, 114, 120.75);
}

/* **** */
.nestedlist {
  counter-reset: item;
}

.nestedlist-item {
  display: block;
}

.nestedlist-item::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.danger-card {
  border-color: #c63f1f;
}
.danger-card .card-header {
  background: #c63f1f;
  color: white;
}

/* **** */
/* ATT&CKCON */
.bg-accord-light {
  color: #39434c;
  background-color: rgb(242.25, 242.25, 242.25);
}

.bg-accord-dark {
  color: #39434c;
  background-color: rgb(216.75, 216.75, 216.75);
}

/* **** */
/* CONTRIBUTE */
.contribution-headers {
  font-family: "Roboto-Regular", sans-serif;
}

.usa-card-group {
  display: flex;
  flex-direction: row;
}

.usa-card__header {
  font-family: "Roboto-Regular", sans-serif;
  color: white;
  background: #062f4f;
  border-bottom-color: rgb(223.125, 223.125, 223.125);
  border-radius: 0.3rem 0.3rem 0 0;
}

/* CONTRIBUTE Examples */
.new-examples {
  padding: 0.625rem 0.625rem 0 0.625rem;
  width: 100%;
}
.new-examples.second-example {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.new-examples .example-container {
  padding: 0.9375rem;
}
.new-examples .example-container .examples-div {
  display: flex;
}
.new-examples .example-container .examples-div .margin-contribute-a {
  margin-left: 1.5625rem;
}
.new-examples .example-container .examples-div .margin-contribute-b {
  margin-left: 11.4375rem;
}
.new-examples .example-container .examples-p {
  margin-left: 0.3125rem;
  margin-bottom: 0.625rem;
  word-break: break-word;
}
.new-examples .example-container .nested-examples-div {
  padding-left: 3.125rem;
}
.new-examples .example-container .example-fields {
  font-family: "Roboto-Bold", sans-serif;
}
.new-examples .example-container .example-fields + ul {
  padding-left: 6.25rem;
}

/* **** */
/* CONTRIBUTORS */
.scrollable-box {
  width: 100%;
  height: 500px;
  overflow: auto;
  padding: 0.9375rem;
  background-color: rgb(242.25, 242.25, 242.25);
  border-radius: 0.1875rem;
}

/* **** */
img.yt-core-image {
  width: 100%;
}

.iframe-width {
  width: 500px;
  height: 275px;
}

@media screen and (width <= 47.9875rem) {
  .iframe-width {
    width: 100%;
    height: 140px;
  }
}
/* No transition */
.notransition::after {
  transition: none !important;
}

/* FAQ */
.faq .faq-section {
  padding-bottom: 2rem;
}
.faq .faq-question {
  padding: 6px 0;
}
.faq .relevant-links {
  margin-bottom: 1rem;
  border-radius: 3px;
}
.faq .relevant-links .faq-link ~ .faq-link::before {
  content: ", ";
}

/* **** */
.attackcon-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (width <= 47.9875rem) {
  .attackcon-columns {
    flex-direction: column;
  }
}
/* Ensure the sponsors block is below and not affected by the top image */
/* Card Blocks */
.card-block .card-header {
  display: flex;
  flex-direction: row;
}
.card-block .card-header h5 {
  font-family: "Roboto-Regular", sans-serif;
}
.card-block .card-header :first-child {
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
}
.card-block .card-header:after, .card-block .card-header::after {
  content: "";
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%2339434C' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  z-index: 1;
  transition: all 0.2s ease;
}
.card-block .card-header:not(.collapsed):after, .card-block .card-header:not(.collapsed)::after {
  transform: rotate(-180deg);
}
.card-block .card-title {
  display: inline-block;
  flex-grow: 1;
  font-family: "Roboto-Regular", sans-serif;
}

/* **** */
/* GENERAL INFORMATION */
.general-info .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.general-info .graphics .card-header {
  flex-grow: 1;
}
.general-info .showmore-btn {
  display: block !important;
  text-align: center;
}
.general-info .showmore-btn.show {
  display: none !important;
}

/* **** */
/* GETTING STARTED */
.getting-started ul:not(.col) {
  padding: 0 0.9375rem;
  margin-left: 0.9375rem;
}
.getting-started .getting-started-content {
  width: 75%;
}
@media screen and (width <= 90.62rem) {
  .getting-started .getting-started-content {
    width: 100%;
  }
}
.getting-started .getting-started-icon {
  color: #c63f1f;
}
.getting-started .video-li {
  /* don't display the video in the list itself except in mobile layout */
  display: none;
}
@media screen and (width <= 47.9875rem) {
  .getting-started .row ul.col {
    margin-left: 1.875rem;
  }
  .getting-started .video-col {
    display: none;
  }
  .getting-started .video-li {
    display: list-item;
  }
}

.jump-to-section {
  position: -webkit-sticky;
  position: sticky;
  top: 14rem;
  word-wrap: normal;
  border-radius: 0.75em;
}

/* **** */
/* Timeline in GENERAL INFORMATION */
.timeline {
  overflow-y: hidden;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}
.timeline::before {
  background: rgb(106.5, 114, 120.75);
  position: absolute;
  width: 0.0625rem;
  height: 100%;
  z-index: 2;
  content: "";
  left: 20px;
}
.timeline.collapse {
  display: block !important;
}
.timeline:not(.show) {
  height: 300px;
}
.timeline:not(.show)::after {
  background: linear-gradient(to bottom, transparent, white);
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 4;
  content: "";
  bottom: 0;
  pointer-events: none;
}
.timeline .timeline-card {
  margin: 20px 0;
  padding-left: 40px;
}
.timeline .timeline-card::before {
  background: white;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 3;
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 0.125rem solid rgb(106.5, 114, 120.75);
  left: 10px;
}
.timeline .timeline-card .timeline-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  clear: both;
}
.timeline .timeline-card .timeline-card-header .title {
  display: inline-block;
  flex-grow: 1;
  font-size: 1.25rem;
}
.timeline .timeline-card .timeline-card-header .date {
  display: inline-block;
  font-size: 1.25rem;
  text-align: right;
  white-space: nowrap;
  padding-left: 0.625rem;
}
.timeline .timeline-card .timeline-card-body {
  padding-top: 0.3125rem;
}

/* **** */
/* Description formatting in TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE */
.description-body {
  line-height: 1.8rem;
}

.description-body.in-table {
  padding: 0.75rem 1.25rem;
}
.description-body.in-table p {
  margin-bottom: 0;
}

.description-body.card-description {
  padding: 0.3rem 0 0 0;
}
.description-body.card-description p {
  margin-bottom: 0;
}

/* **** */
/* External link icon */
.external-icon {
  width: 0.9375rem;
  margin-top: -0.3125rem;
}

/* **** */
/* ATTA&K Logo */
.attack-logo-bold {
  width: 60%;
}

.attack-logo {
  margin: 8px 0;
  display: block;
  height: 24px;
}

/* **** */
/* anchor tag to bypass navbar */
.anchor {
  display: block;
  position: relative;
  top: -4.125rem;
  visibility: hidden;
}

.section-view .anchor-section {
  position: -webkit-sticky;
  position: sticky;
  top: 4.125rem;
  background: white;
  z-index: 100;
  margin-bottom: 0;
}
.section-view p {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
.section-view .section-mobile-view {
  display: none;
}
.section-view .section-desktop-view {
  display: block;
}
@media screen and (width <= 74.938rem) {
  .section-view .section-mobile-view {
    display: block;
  }
  .section-view .section-desktop-view {
    display: none;
  }
}
.section-view .section-shadow {
  border-bottom: 1px solid #dfdfdf !important;
}
.section-view table {
  margin-top: -1px;
}

/* **** */
div#sidebars {
  display: contents;
}

/* Plus/Minus expand icons */
.expand-icon {
  font-size: 5%;
  color: #39434c;
  margin-top: 0.4375rem;
}

/* **** */
/* attackcon page */
.attackcons {
  border-top-width: 0;
}
.attackcons .sponsors {
  flex: 1;
  padding-left: 25px;
}
.attackcons .p-description {
  width: 90%;
}
.attackcons .sponsors-block {
  background: #eaeaea;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200%;
}
.attackcons .sponsors-block .img-container {
  margin: 10px;
  flex: 1 1 20%;
  box-sizing: border-box;
}
.attackcons .sponsors-block .img-container img {
  width: 100%;
  margin: auto;
  height: auto;
}
@media screen and (width <= 47.9875rem) {
  .attackcons .sponsors-block {
    width: 100%;
    flex-direction: row;
  }
}

.support-box {
  background-color: rgb(229.5, 229.5, 229.5);
  padding: 1.5em;
  border-radius: 0.75em;
  width: fit-content;
}

.sponsor-list {
  gap: 1.5em;
  width: 100%;
  padding-left: 1.5em;
}

.sponsor-square {
  padding: 0 !important;
  height: 18rem;
  display: flex;
}
.sponsor-square a {
  display: contents;
}
.sponsor-square img.sponsor-logo {
  background-color: white;
  border-radius: 6px;
  object-fit: contain;
  object-position: center;
}

/* **** */
/* training pages */
.training .exercise {
  background: rgb(242.25, 242.25, 242.25);
}

.card-training {
  margin-bottom: 30px;
  width: 100%;
}

.training-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.training-text-container {
  flex: 1;
  margin-right: 20px;
}

.training-header {
  display: flex;
  justify-content: space-between;
}

.resources-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.resource {
  flex: 1;
  background-color: #eaeaea;
  padding: 10px;
  box-sizing: border-box;
}

.resource-links {
  list-style-type: none;
  margin-top: 5px;
  padding: 0 !important;
  margin-left: 0 !important;
}

.resource-links li {
  margin-bottom: 5px;
}

.resource-links a {
  text-decoration: underline;
}

/* **** */
.decorative-panels .decorative-panel .decorative-panel-header,
.decorative-panels .decorative-panel .decorative-panel-body {
  padding: 10px;
}
.decorative-panels .decorative-panel .decorative-panel-header h3,
.decorative-panels .decorative-panel .decorative-panel-header h4,
.decorative-panels .decorative-panel .decorative-panel-header .btn {
  margin-bottom: 16px;
}
.decorative-panels .decorative-panel .decorative-panel-body.show {
  border-top: 1px solid rgb(223.125, 223.125, 223.125);
}
.decorative-panels .decorative-panel + .decorative-panel {
  margin-top: 25px;
}
.decorative-panels .decorative-panel:nth-of-type(even) {
  border-radius: 8px;
  background: rgb(242.25, 242.25, 242.25);
}
@media screen and (width <= 47.9875rem) {
  .decorative-panels .row {
    display: block;
  }
  .decorative-panels .row.collapse:not(.show) {
    display: none;
  }
}

.working-with-attack .g-24 {
  gap: 24px;
}
.working-with-attack .g-12 {
  gap: 12px;
}
.working-with-attack .row.panels {
  margin: 0;
}
.working-with-attack img {
  border-radius: 0.75em;
}
.working-with-attack img.scale {
  object-fit: cover;
  object-position: left top;
  border-radius: unset !important;
  border: 1px solid rgb(223.125, 223.125, 223.125);
}
.working-with-attack .panel {
  padding: 0;
  border: 1px solid rgb(223.125, 223.125, 223.125);
  border-radius: 0.75em;
  max-width: 100%;
}
.working-with-attack img + .panel-body {
  border-top: 1px solid rgb(223.125, 223.125, 223.125);
}
.working-with-attack .panel-body p {
  margin: 24px 0;
  overflow: scroll;
}
.working-with-attack .panel-body.fixed-height {
  height: 30vh;
}
.working-with-attack ul {
  margin-bottom: 0;
}
@media screen and (width <= 61.938rem) {
  .working-with-attack .panel-body.fixed-height {
    min-height: 40vh;
    max-height: fit-content;
  }
}
.working-with-attack .table-of-contents {
  position: static;
  float: none;
  width: 25%;
}

.tip-box {
  background: #eaeaea;
  padding: 1rem;
}

/* Card Blocks */
.expand-panel .card-block .card-header {
  display: flex;
  flex-direction: row;
}
.expand-panel .card-block .card-header h5 {
  font-family: "Roboto-Regular", sans-serif;
}
.expand-panel .card-block .card-header :first-child {
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
}
.expand-panel .card-block .card-header:after, .expand-panel .card-block .card-header::after {
  content: "";
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%2339434C' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  z-index: 1;
  transition: all 0.2s ease;
}
.expand-panel .card-block .card-header:not(.collapsed):after, .expand-panel .card-block .card-header:not(.collapsed)::after {
  transform: rotate(-180deg);
}
.expand-panel .card-block .card-header:not(:last-child) {
  border-bottom: none;
}
.expand-panel .card-block .card-title {
  display: inline-block;
  flex-grow: 1;
  font-family: "Roboto-Regular", sans-serif;
}
.expand-panel .card-block .first-card {
  border-bottom: none;
  border-radius: 0.25rem 0.25rem 0 0;
}
.expand-panel .card-block .last-card {
  border-radius: 0 0 0.25rem 0.25rem;
}
.expand-panel .card-block .middle-card {
  border-bottom: none;
  border-radius: 0;
}

/* **** */
@media print {
  * {
    overflow: visible !important;
    break-before: always !important;
    page-break-inside: avoid !important;
  }
}
/* Footer styling */
.footer {
  background-color: #0b2338;
  color: white;
  padding: 1rem 3rem;
  font-family: "Roboto-Thin", sans-serif;
}
.footer.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer > .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.footer .footer-responsive-break {
  display: none;
}
.footer .footer-float-right-responsive-brand {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.footer .footer-float-right-responsive-centered {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-link-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-link {
  color: #87deff;
}
.footer .footer-link:hover {
  color: rgb(107, 173, 213.5);
}

.col .col-footer {
  border-right: 1px solid;
}

.p-footer {
  padding-left: 25px;
}

.btn-footer {
  color: white;
  padding: 0.375rem;
}

.btn-footer:hover {
  color: white;
}

@media screen and (width <= 47.9875rem) {
  .footer .footer-responsive-break {
    display: block !important;
  }
  .footer .footer-float-right-responsive-brand {
    float: none !important;
  }
  .footer .footer-float-right-responsive-centered {
    float: none !important;
    display: block !important;
    justify-content: none !important;
    align-items: none !important;
  }
}
/* **** */
@media print {
  .footer {
    visibility: hidden;
    display: none;
  }
}
/* Navigation styling */
.navbar .nav-tabs .nav-link.active, .navbar .nav-tabs .nav-link:hover:not(.active), .navbar .nav-tabs .nav-link:focus {
  border: 0.0625rem solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-decoration: underline;
}

/* Top NAVIGATION */
.navbar {
  background-color: #c63f1f;
  z-index: 1;
}
.navbar .navbar-brand {
  font-size: 2rem;
}
.navbar .nav-tabs {
  border-bottom: none;
}
.navbar .nav-tabs .nav-link {
  color: white;
  font-family: "Roboto-Light", sans-serif;
}
.navbar .nav-tabs .nav-link:focus {
  color: white;
}
.navbar .nav-tabs .nav-link:hover:not(.active) {
  color: white;
  background-color: transparent;
}
.navbar .nav-tabs .nav-link.active {
  color: white;
  background-color: #c63f1f;
}
.navbar .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #c63f1f;
  border-color: transparent;
}
.navbar .search-button {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
  color: white;
  line-height: 1.5rem;
  opacity: 0.8;
}
.navbar .search-button:not(:has(.error-icon)):hover {
  opacity: 1;
}
.navbar .search-button .icon-button {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  z-index: 1;
  transition: all 0.2s ease;
}
.navbar .search-button .search-icon {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}
.navbar .search-button .error-icon {
  cursor: default;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 96 960 960' width='24'%3e%3cpath d='M479.982 776q14.018 0 23.518-9.482 9.5-9.483 9.5-23.5 0-14.018-9.482-23.518-9.483-9.5-23.5-9.5-14.018 0-23.518 9.482-9.5 9.483-9.5 23.5 0 14.018 9.482 23.518 9.483 9.5 23.5 9.5ZM453 623h60V370h-60v253Zm27.266 353q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80 658.319 80 575.5q0-82.819 31.5-155.659Q143 347 197.5 293t127.341-85.5Q397.681 176 480.5 176q82.819 0 155.659 31.5Q709 239 763 293t85.5 127Q880 493 880 575.734q0 82.734-31.5 155.5T763 858.316q-54 54.316-127 86Q563 976 480.266 976Zm.234-60Q622 916 721 816.5t99-241Q820 434 721.188 335 622.375 236 480 236q-141 0-240.5 98.812Q140 433.625 140 576q0 141 99.5 240.5t241 99.5Zm-.5-340Z'/%3e%3c/svg%3e");
}

/* **** */
.nav,
.faq {
  /* NAVIGATION Dropdown */
  /* **** */
  /* Side NAVIGATION */
  border-color: rgb(223.125, 223.125, 223.125) !important;
  /* **** */
}
.nav .dropdown:hover > .dropdown-menu,
.faq .dropdown:hover > .dropdown-menu {
  display: block;
}
.nav .dropdown-menu,
.faq .dropdown-menu {
  background-color: #c63f1f;
}
.nav .dropdown-menu .dropdown-item,
.faq .dropdown-menu .dropdown-item {
  color: white;
}
.nav .dropdown-menu .dropdown-item:hover, .nav .dropdown-menu .dropdown-item:focus,
.faq .dropdown-menu .dropdown-item:hover,
.faq .dropdown-menu .dropdown-item:focus {
  color: white;
  text-decoration: underline;
  background-color: transparent;
}
.nav .heading,
.faq .heading {
  font-size: 1.6rem;
  color: rgb(106.5, 114, 120.75);
  letter-spacing: 0.1875rem;
  pointer-events: none;
}
@media screen and (width <= 74.938rem) {
  .nav .heading,
  .faq .heading {
    pointer-events: all;
  }
}
.nav .heading.collapsed .fa-chevron-up,
.nav .heading .fa-chevron-down,
.faq .heading.collapsed .fa-chevron-up,
.faq .heading .fa-chevron-down {
  display: none;
}
.nav .heading.collapsed .fa-chevron-down,
.nav .heading .fa-chevron-up,
.faq .heading.collapsed .fa-chevron-down,
.faq .heading .fa-chevron-up {
  display: inline-block;
}
.nav i.fa-solid,
.faq i.fa-solid {
  visibility: hidden;
  display: none;
}
@media screen and (width <= 74.938rem) {
  .nav i.fa-solid,
  .faq i.fa-solid {
    visibility: visible;
    display: contents;
  }
}
.nav .br-mobile,
.faq .br-mobile {
  display: none;
}
@media screen and (width <= 74.938rem) {
  .nav .br-mobile,
  .faq .br-mobile {
    display: inline-block;
  }
}
.nav .heading-dropdown,
.faq .heading-dropdown {
  font-size: 1.2rem;
  color: #062f4f;
  letter-spacing: 0.1875rem;
}
@media screen and (width <= 90.62rem) {
  .nav .heading,
  .faq .heading {
    font-size: 1.2rem;
    color: rgb(106.5, 114, 120.75);
    letter-spacing: 0.1875rem;
  }
  .nav .heading-dropdown,
  .faq .heading-dropdown {
    font-size: 1rem;
    color: #39434c;
    letter-spacing: 0.0625rem;
  }
}
.nav .nav-link,
.faq .nav-link {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  color: rgb(106.5, 114, 120.75);
}
.nav .nav-link.expand-title,
.faq .nav-link.expand-title {
  font-size: 1.1rem;
  color: #39434c;
}
.nav .nav-link.side,
.faq .nav-link.side {
  padding: 0.3rem 0.3rem;
  word-break: break-word;
}
.nav .nav-link.side:hover,
.faq .nav-link.side:hover {
  background-color: #c63f1f;
  color: white;
}
.nav .nav-link.side.active,
.faq .nav-link.side.active {
  color: #c63f1f;
  background-color: rgb(242.25, 242.25, 242.25);
  border-right: 0.1875rem solid #c63f1f;
}

/* **** */
.resizer {
  width: 2px;
  top: 0;
  right: 0;
  cursor: col-resize;
  height: 100%;
  position: absolute;
  background-color: #dfdfdf;
}

.data-sources-menu {
  padding-top: 15px;
}

.sidebar.nav {
  overflow-y: auto;
  z-index: 0;
  min-width: min-content;
  max-width: 20vw;
}
@media screen and (width <= 74.938rem) {
  .sidebar.nav {
    position: static;
    min-width: fit-content;
  }
}
.sidebar.nav .sidenav-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 1rem;
  height: 100%;
}
@media screen and (width <= 74.938rem) {
  .sidebar.nav .sidenav-wrapper {
    display: block;
  }
}
.sidebar.nav .sidenav-wrapper .heading {
  border-bottom: 1px solid rgb(242.25, 242.25, 242.25);
  flex: 0 1 0;
}
.sidebar.nav .sidenav-wrapper .checkbox-div {
  border-bottom: 1px solid rgb(242.25, 242.25, 242.25);
  flex: 0 1 0;
}
.sidebar.nav .sidenav-wrapper .sidenav-list {
  flex: 1 0 0;
  overflow-y: auto;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav {
  width: 100%;
  word-break: break-word;
  font-size: 1.1rem;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head {
  display: flex;
  flex-direction: row;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head a,
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button {
  cursor: pointer;
  color: black;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head a:hover,
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button:hover {
  background: rgb(242.25, 242.25, 242.25);
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head a,
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head span {
  padding: 0.3rem;
  padding-left: 0;
  display: inline-block;
  flex-grow: 1;
  height: 100%;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head a:hover,
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head span:hover {
  text-decoration: none;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button {
  padding: 5px;
  border-left: 1px solid rgb(242.25, 242.25, 242.25);
  display: inline-block;
  display: flex;
  flex-direction: row;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button :first-child {
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button:after, .sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button::after {
  content: "";
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%2339434C' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  z-index: 1;
  transition: all 0.2s ease;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button:not(.collapsed):after, .sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head .expand-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head.active, .sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-head.active > a {
  color: #0156b3 !important;
  font-weight: bolder;
  background: #eaeaea;
  font-family: Roboto-Bold, sans-serif;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav-body {
  padding-left: 0.75rem;
}
.sidebar.nav .sidenav-wrapper .sidenav-list .sidenav .sidenav {
  padding-left: 0.75rem;
}

@media print {
  .nav {
    visibility: hidden;
    display: none;
  }
  .sidenav {
    visibility: hidden;
    display: none;
  }
  .sidebar.nav {
    visibility: hidden;
    display: none;
  }
  .sidenav-wrapper {
    visibility: hidden;
    display: none;
  }
  .side-nav-desktop-view {
    visibility: hidden;
    display: none;
  }
  .navbar {
    visibility: hidden;
    display: none;
  }
}
.search-word-found {
  background: yellow;
  color: black;
}

.btn-group-text {
  padding: 0.25rem, 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}

.overlay.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1051;
  background: rgba(0, 0, 0, 0.35);
  padding: 50px;
}
.overlay.search .overlay-inner {
  border-radius: 25px;
  background: white;
  color: #39434c;
  width: 100%;
  display: flex;
  flex-flow: column;
  max-height: 100%;
}
.overlay.search .overlay-inner .search-header {
  flex-shrink: 0;
  position: relative;
}
.overlay.search .overlay-inner .search-header .search-input {
  padding: 10px;
}
.overlay.search .overlay-inner .search-header .search-input input {
  padding-left: 12.5px;
  font-size: 25px;
  line-height: 50px;
  width: 100%;
  border: 0;
  background: white;
  color: #39434c;
}
.overlay.search .overlay-inner .search-header .search-input input:focus {
  outline: none;
}
.overlay.search .overlay-inner .search-header .search-icons {
  position: absolute;
  top: 0px;
  right: 0px;
}
.overlay.search .overlay-inner .search-header .search-icons > div {
  display: inline-block;
}
.overlay.search .overlay-inner .search-header .search-icons .search-parsing-icon {
  height: 25px;
  width: 25px;
  margin-bottom: 8px;
  opacity: 0.5;
}
.overlay.search .overlay-inner .search-header .search-icons .close-search-icon {
  font-size: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.overlay.search .overlay-inner .search-header .search-icons .close-search-icon:hover {
  opacity: 1;
}
.overlay.search .overlay-inner .search-body {
  flex: 1 1 auto;
  padding: 0 50px;
  border-top: 1px solid rgb(223.125, 223.125, 223.125);
  margin-bottom: 25px;
  overflow-y: auto;
}
.overlay.search .overlay-inner .search-body .results .search-result:first-child {
  margin-top: 1.5rem;
}
.overlay.search .overlay-inner .search-body .load-more-results {
  text-align: center;
}

.page-search {
  float: right;
  width: 50%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .overlay.search .search-body {
    flex-basis: 50vh !important;
  }
}
@media screen and (min-width: 1px) and (max-width: 767.8px) {
  .search-input input {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .close-search-icon {
    font-size: 25px !important;
    line-height: 25px !important;
    width: 25px !important;
  }
  .search-parsing-icon {
    width: 14px !important;
    height: 14px !important;
    margin-bottom: 5px !important;
  }
}
.popover {
  box-shadow: 0 0 5px 3px white;
  border-color: #c63f1f;
}
.popover .popover-header {
  background: #c63f1f;
  color: white;
}
.popover.bs-popover-left .arrow::before {
  border-left-color: #c63f1f;
}
.popover.bs-popover-right .arrow::before {
  border-right-color: #c63f1f;
}
.popover.bs-popover-top .arrow::before {
  border-top-color: #c63f1f;
}
.popover.bs-popover-bottom .arrow::before,
.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-bottom .popover-header::before {
  border-bottom-color: #c63f1f;
}

.tour-backdrop,
.tour-highlight {
  opacity: 0;
}

.matrix-container {
  border: 1px solid rgb(223.125, 223.125, 223.125);
  background: white;
}
.matrix-container + .matrix-container {
  margin-top: 1rem;
}
.matrix-container .matrix-border {
  border-left: 1px solid rgb(223.125, 223.125, 223.125);
  padding-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matrix-container .matrix-title {
  border-bottom: 1px solid rgb(223.125, 223.125, 223.125);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.matrix-container .scroll-indicator-group {
  white-space: nowrap;
  display: flex;
}
.matrix-container .scroll-indicator-group .matrix-scroll-box {
  flex-grow: 1;
  display: inline-block;
}
.matrix-container .scroll-indicator-group .scroll-indicator {
  width: 0;
  display: inline-block;
  position: relative;
}
.matrix-container .scroll-indicator-group .scroll-indicator .cover {
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.matrix-container .scroll-indicator-group .scroll-indicator.right .cover {
  right: 0;
}
.matrix-container .scroll-indicator-group .scroll-indicator.right.show .cover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.001), white);
}
.matrix-container .scroll-indicator-group .scroll-indicator.left .cover {
  left: 0;
}
.matrix-container .scroll-indicator-group .scroll-indicator.left.show .cover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.001), white);
}

.matrix {
  white-space: normal;
  line-height: 14px;
}
.matrix.side .tactic {
  padding: 2px 5px;
  width: 1%;
  vertical-align: top;
}
.matrix.side .tactic:first-child {
  padding: 2px 5px 2px 2px;
}
.matrix.side .tactic:last-child {
  padding: 2px 2px 2px 5px;
}
.matrix.side .tactic:hover:not(.name, .count) {
  background: rgb(223.125, 223.125, 223.125);
}
.matrix.side .tactic:hover:not(.name, .count) .sidebar.expanded .angle {
  background: rgb(223.125, 223.125, 223.125);
}
.matrix.side .tactic.name, .matrix.side .tactic.count {
  text-align: center;
  font-size: 16px;
}
.matrix.side .tactic.name {
  font-weight: bold;
}
.matrix.side .tactic.count {
  font-size: 13px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.matrix.side .tactic .techniques-table {
  border-collapse: collapse;
  width: 100%;
}
.matrix.side .tactic .techniques-table tr,
.matrix.side .tactic .techniques-table td {
  padding: 0;
}
.matrix.side .tactic .techniques-table tr {
  height: 1px;
}
.matrix.side .tactic .supertechnique {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
}
.matrix.side .tactic .supertechnique td {
  padding: 0;
  vertical-align: top;
}
.matrix.side .tactic .supertechnique td.technique {
  outline: 1px solid rgb(106.5, 114, 120.75);
  outline-offset: -1px;
}
.matrix.side .tactic .subtechniques {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -1px;
  border-left: 2px solid rgb(106.5, 114, 120.75);
  outline: 1px solid rgb(106.5, 114, 120.75);
  outline-offset: -1px;
  white-space: nowrap;
  vertical-align: top;
}
.matrix.side .tactic .subtechniques.hidden {
  display: none;
}
.matrix.side .tactic .subtechniques .subtechnique {
  height: 100%;
  flex-grow: 1;
}
.matrix.side .tactic .handle {
  text-align: center;
  vertical-align: middle;
  transform: rotate(-90deg);
  color: rgb(242.25, 242.25, 242.25);
  width: 12px;
  height: 12px;
  font-size: 16px;
  line-height: 12px;
}
.matrix.side .tactic .sidebar {
  min-width: 8px;
  width: 12px;
  padding: 0;
  background: rgb(106.5, 114, 120.75);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.matrix.side .tactic .sidebar .angle {
  display: none;
}
.matrix.side .tactic .sidebar.expanded .angle {
  margin: 0 auto;
  height: 12px;
  display: block;
  position: absolute;
  background: white;
}
.matrix.side .tactic .sidebar.expanded .angle svg {
  fill: rgb(106.5, 114, 120.75);
  vertical-align: baseline;
}
.matrix.side .tactic .sidebar.expanded .angle.top {
  top: 0;
}
.matrix.side .tactic .sidebar.expanded .angle.bottom {
  bottom: 0;
}
.matrix.flat .tactic {
  margin-right: 5px;
  width: 1%;
  vertical-align: top;
}
.matrix.flat .tactic.name, .matrix.flat .tactic.count {
  text-align: center;
  font-size: 16px;
}
.matrix.flat .tactic.name {
  font-weight: bold;
}
.matrix.flat .tactic.count {
  font-size: 13px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.matrix.flat .tactic .subtechniques-row.hidden {
  display: none;
}
.matrix.flat .tactic .supertechnique {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
}
.matrix.flat .tactic .supertechnique td {
  padding: 0;
  vertical-align: top;
}
.matrix.flat .tactic .supertechnique td.sidebar.technique {
  min-width: 8px;
  width: 12px;
  padding: 0;
  background: rgb(106.5, 114, 120.75);
  cursor: pointer;
  vertical-align: middle;
}
.matrix.flat .tactic .supertechnique td.sidebar.technique .handle {
  text-align: center;
  vertical-align: middle;
  transform: rotate(-90deg);
  color: rgb(242.25, 242.25, 242.25);
  width: 12px;
  height: 9px;
  font-size: 16px;
  line-height: 12px;
}
.matrix.flat .tactic .supertechnique td.sidebar.subtechniques svg {
  fill: rgb(106.5, 114, 120.75);
  vertical-align: baseline;
}
.matrix.flat .tactic .supertechnique td.sidebar {
  border-right: 2px solid rgb(106.5, 114, 120.75);
}
.matrix.flat .tactic .supertechnique td.technique {
  outline: 1px solid rgb(106.5, 114, 120.75);
  outline-offset: -1px;
}
.matrix.flat .tactic .more-icon {
  transition: all ease 0.125s;
  vertical-align: top;
  transform: scale(0.5) rotate(-90deg);
  width: 12px;
  height: 12px;
}
.matrix.flat .tactic .more-icon.expanded {
  transform: scale(0.5);
}
.matrix .technique-cell {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 13px;
  line-height: 14px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.matrix .technique-cell a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px 3px;
}
.matrix .technique-cell:not(.colored):not(.supertechniquecell) {
  outline-color: rgb(223.125, 223.125, 223.125);
}

.matrix-controls {
  margin: auto;
  width: 50%;
  padding: 1rem;
}
.matrix-controls button {
  border-color: rgb(223.125, 223.125, 223.125);
  background: white;
  color: #39434c;
}
.matrix-controls button:hover {
  background: rgb(244.8, 244.8, 244.8);
}
.matrix-controls .layout-button:active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.center-controls .matrix-controls .btn-toolbar {
  justify-content: center;
}

.btn-toolbar {
  justify-content: center;
}

.version-button.permalink .live {
  display: none;
}
.version-button.live .permalink {
  display: none;
}

.version-table .table-break-row {
  border-right-color: white;
  border-left-color: white;
  padding: 1rem 0;
}

/*# sourceMappingURL=style-attack.css.map */
