{% extends "general/two-column.html" %}
{% set title = "Detection Strategies | MITRE ATT&CK&reg;" %}
{% set parsed = page.data | from_json %}
{% set active_page = "detectionstrategies" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/clean_output.html' as clean_output %}

{% block innerleft %}
<!--stop-indexing-for-search-->
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
        {{ navigation.sidenav(parsed.sidebar_data, output_file) }} 
    </div>
<!--start-indexing-for-search-->
{% endblock %}

{% block innerright %}
    {{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Detection Strategies</li>
    </ol>
    <div class="tab-pane fade show active" id="v-{{ pages.title }}" role="tabpanel" aria-labelledby="v-{{ pages.title }}-tab"></div>
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <div class="overflow-x-auto">
                        <h1>Detection Strategies</h1>
                        <p>
                            Detection strategies define high-level approaches for detecting specific
                            adversary techniques. They serve as containers that organize multiple
                            platform-specific analytics into cohesive detection methodologies.
                        </p>
                        <h6 class="table-object-count">Detection Strategies:&nbsp;<span class="total-count">{{ parsed.total_count }}</span></h6>
                        <div class="tables-mobile">
                        <table class="table table-bordered table-alternate mt-2" id="domain-sort-table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">
                                        <div class="dropdown">
                                            Domain
                                            <i class="fa-solid fa-sm fa-filter"></i>
                                            <div class="dropdown-content">
                                                <div id="filterMenu" class="data-sources-menu">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" checked="checked" id="Enterprise" onchange="showDomain()">
                                                        <label for="Enterprise">Enterprise</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" checked="checked" id="Mobile" onchange="showDomain()">
                                                        <label for="Mobile">Mobile</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" checked="checked" id="ICS" onchange="showDomain()">
                                                        <label for="ICS">ICS</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in parsed.detection_strategy_table %}
                                    <tr>
                                        <td>
                                            <a href="/detectionstrategies/{{ row.id | upper }}"> {{ row.id | upper }} </a>
                                        </td>
                                        <td>
                                            {% if row.deprecated %}
                                                <span style="color: red">****Deprecation Warning****</span>
                                            {% endif %}
                                            <a href="/detectionstrategies/{{ row.id | upper }}"> {{ row.name }} </a>
                                        </td>
                                        <td>
                                            {% for dom in row.domains %}
                                                {{dom}}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--SCRIPTS-->
    <script src="/theme/scripts/sidebar-load-all.js"></script>
    <script src="/theme/scripts/domain_table.js"></script>
{% endblock %}