{% extends "general/base.html" %} 
{% set active_page = "resources" -%} 
{% set title = "Changelog | MITRE ATT&CK&reg;" %}

{% block content %}
{{ super () }}
<!--stopindex-->
<div class="container-fluid">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Changelog</li>
    </ol>
</div>

<div class="container pb-5">
    <div class="clearfix pb-5">
        <div class="clearfix text-center">
            <h2>Changelog</h2>
            <hr>
        </div>
        <div class="markdown-body p-3 p-md-6 changelog">
            {{ page.content }}
        </div>
    </div>
</div>

<!--startindex-->
{% endblock %}