@import "_misc.scss";

.version-button {
    // hide the option not in use
    &.permalink .live {
        display: none;
    }
    &.live .permalink {
        display: none;
    }
}
.version-table .table-break-row {
    border-right-color: color(body);
    border-left-color: color(body);
    padding: 1rem 0;
}