{% extends "general/two-column.html" %} 
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% import 'macros/matrix.html' as matrix_macros %}

{% if parsed.domain == "pre" %}
    {% set title = "Matrix - PRE-ATT&CK | MITRE ATT&CK&trade;" -%}
{% elif parsed.domain == "mobile" %}
    {% set title = "Matrix - Mobile | MITRE ATT&CK&trade;" -%}
{% else %}
    {% if parsed.platform %}
        {% set title = "Matrix - Enterprise - " + parsed.platform + " | MITRE ATT&CK&trade;" -%}
    {% else %}
        {% set title = "Matrix - Enterprise | MITRE ATT&CK&trade;" -%}
    {% endif %}
{% endif %} 

{% set active_page = "matrices" -%}

{% block innerleft %}
<!--stopindex-->
    {{ navigation.sidenav(parsed.menu, output_file) }}  
<!--startindex-->
{% endblock %}

{% block innerright %}
<!--stopindex-->
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/matrices/{{parsed.domain}}/">Matrices</a></li>
                {% if parsed.platform %}
                    <li class="breadcrumb-item"><a href="/matrices/enterprise/">Enterprise</a></li>
                    <li class="breadcrumb-item">{{parsed.platform}}</li>
                {% else %}
                    <li class="breadcrumb-item">{{parsed.name}}</li>
                {% endif %}
            </ol>
        </div>
        <div class="col">
            <span class="h3 mt-3 float-right">
                <a href="https://mitre-attack.github.io/attack-navigator{{'/mobile' if parsed.domain == 'mobile'}}" class="btn btn-navy" target="_blank">Launch the ATT&amp;CK&trade; Navigator <img src="/theme/images/external-link.svg" width="10"></a>
            </span>
        </div>
    </div>
    <div class="tab-pane fade show active" id="v-attckmatrix" role="tabpanel" aria-labelledby="v-attckmatrix-tab">
        <div class="container-fluid">
            {% set matrix_plural = "Matrices" if (parsed.matrices | length > 0) else "Matrix" %}

            <h1>{{parsed.name}} {{matrix_plural}}</h1>             

            <p>
                {{parsed.descr}}
                {% if parsed.platforms | length > 1 %}
                    The {{matrix_plural}} contains information for the following platforms: {% for platform in parsed.platforms %}{%if loop.index != 1 %}, {% endif %}<a href="/matrices/{{platform.path}}">{{platform.name}}</a>{% endfor %}.
                {% elif parsed.platforms | length == 1 %}
                        The {{matrix_plural}} contains information for the {{parsed.platforms[0].name}} platform.
                {% endif %}
            </p>
            <div class="pb-3">
                {{matrix_macros.matrices(parsed.matrices, parsed.has_subtechniques)}}
            </div>
        </div>
    </div>
<!--startindex-->
{% endblock %}

{% block scripts %}
    <!--SCRIPTS-->
    <script src="/theme/scripts/matrix.js"></script>
    {{ super() }}
    <script src="/theme/scripts/navigation.js"></script>
    <script src="/theme/scripts/bootstrap-tour.min.js"></script>
    <script src="/theme/scripts/tour/tour-matrices.js"></script>
{% endblock %} 
