{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item">ATT&amp;CKcon</li>
</ol>

<div class="container-fluid pb-3">
  <div class="working-with-attack">
    <h1>ATT&amp;CKcon</h1>
      <div class="my-5">
        <p>
          At MITRE ATT&amp;CK's annual conference, cybersecurity leaders and practitioners of all levels are
          invited to strengthen capabilities and engage with others in the community through multiple days of programming,
          featuring knowledgeable speakers, engaging content, and meaningful collaboration, all designed to help
          leverage the ATT&amp;CK framework.
          Browse the archive of presentations below.
        </p>
        <p>
          Learn about future ATT&amp;CKcons by keeping up with us at <a href="/resources/engage-with-attack/contact/">Engage with ATT&amp;CK</a>
        </p>
        <div class="card-deck">
          {{contact_card.render(
            "ATT&CKcon 6.0",
            "https://na.eventscloud.com/attackcon6",
            "<strong>October 14th - 15th, 2025</strong><br>McLean, VA",
            fa_icon=True)}}
          {{contact_card.render(
            "ATT&CKcon 5.0",
            "/resources/attackcon/october-2024/",
            "<strong>October 22nd - 23rd, 2024</strong><br>McLean, VA", invert_icon=True)}}
          {{contact_card.render(
              "ATT&CKcon 4.0",
              "/resources/attackcon/october-2023/",
              "<strong>October 24th - 25th, 2023</strong><br>McLean, VA",
              invert_icon=True)}}
        </div>

        <div class="card-deck mt-3">
          {{contact_card.render(
            "ATT&CKcon 3.0",
            "/resources/attackcon/march-2022/",
            "<strong>March 29th - 30th, 2022</strong><br>McLean, VA",
            invert_icon=True)}}
          {{contact_card.render(
            "ATT&CKcon PowerHour",
            "/resources/attackcon/october-2020/",
            "<strong>October 2020 - January 2021</strong><br>Virtual",
            invert_icon=True)}}
          {{contact_card.render("ATT&CKcon 2.0", "/resources/attackcon/october-2019/", "<strong>October 29th - 30th,
              2019</strong><br>McLean, VA",
            invert_icon=True)}}
        </div>
        <div class="card-deck mt-3">
          {{contact_card.render("ATT&CKcon 2018", "/resources/attackcon/october-2018/", "<strong>October 23rd - 24th,
              2018</strong><br>McLean, VA",
            invert_icon=True)}}
            <div class="card" style="visibility: hidden;"></div>
            <div class="card" style="visibility: hidden;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}