{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "Brand | MITRE ATT&CK&reg;" -%} 
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<div class="px-3">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Brand</li>
    </ol>
</div>
<div class="container pb-3 uniform-block">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h2>Brand Guide</h2>
                <p>
                        This page serves as a guide for the consistent implemenation of the MITRE ATT&CK brand identity, both visually and verbally, to both external and internal audiences, while respecting our legal trademark restrictions.
                </p>
                <p>Download the full <a href="/docs/ATTACK_Brand_Guide.pdf">
                    <button type="button" class="brand-button">
                      <span class="brand-button-icon">
                        <i class="fa fa-download"></i>
                      </span>
                      <span class="brand-button-text">
                        <span>ATT&CK Brand Guide</span>
                      </span>
                    </button>
                  </a>
                </p>
                <p>Both MITRE ATT&CK<sup>&reg;</sup> and ATT&CK<sup>&reg;</sup> are separately registered trademarks of The MITRE Corporation and should follow the guidelines below.
                </p>Your first written reference to either trademark in a document must include in writing the &reg; trademark symbol and must include "MITRE" preceding "ATT&CK".
                <p>Subsequent references in that same document need not include the "R" trademark symbol. 
                </p>
                <ul>
                    <li>Example of a first reference: MITRE ATT&CK<sup>&reg;</sup> is a curated knowledge base and model for cyber adversary behavior.
                    </li>
                    <br>
                    <li>Example of subsequent reference: MITRE ATT&CK is open and available to any person or organization for use at no charge.
                    </li>
                    <br>
                    <li>Example of a first reference: ATT&CK<sup>&reg;</sup> is a curated knowledge base and model for cyber adversary behavior.
                    </li>
                    <br>
                    <li>Example of subsequent reference: ATT&CK is open and available to any person or organization for use at no charge.
                    </li>
                    <br>
                    <li>A headline should always reference "MITRE ATT&CK" together (never only "ATT&CK").
                    </li>
                    <br>
                    <li>Always capitalize "ATT&CK" to distinguish it from the surrounding text.
                    </li>
                    <br>
                    <li>Do not modify the trademark, such as through hyphenation or abbreviation. For example, "ATT&CK'd!", "Plan-of-ATT&CK", "ATTK".
                    </li>
                    <br>
                    <li>You may not display the ATT&CK trademark in any manner that implies an affiliation with, sponsorship by, or endorsement by MITRE, or in a manner that can be reasonably interpreted to suggest third party content represents the views and opinions of MITRE or MITRE personnel, unless those third parties receive express permission from MITRE.
                    </li>
                    <br>
                    <li>You may not use ATT&CK in your product names, service names, trademarks, logos, or company names.</li>
                </ul>
            </div>
        </div>
    </div> 
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load.js"></script>
{% endblock %}   