{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "Brand | MITRE ATT&CK&reg;" -%} 
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
    {{navigation.sidenav(RESOURCE_NAV, output_file)}}  
</div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<div class="px-3">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Brand</li>
    </ol>
</div>
<div class="container pb-3 uniform-block">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h2>Brand Guide</h2>
                <p>
                        This page serves as a guide for the consistent implemenation of the MITRE ATT&CK brand identity, both visually and verbally, to both external and internal audiences, while respecting our legal trademark restrictions. 
                </p>
                The official brand guidelines can be found here - <a href="/docs/ATTACK_Brand_Guide.pdf">Brand Guide</a> (pdf)
            </div>
        </div>
    </div> 
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/navigation.js"></script>
{% endblock %}   