{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Contribute | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/engage-with-attack/contact">Engage with ATT&amp;CK</a></li>
        <li class="breadcrumb-item">Contribute</li>
</ol>
<div class="container-fluid pb-3">
        <div class="clearfix pb-3">
            <div class="clearfix pb-3">
                <h1>Contribute</h1>
                <p>
                    ATT&amp;CK is in a constant state of development. We are always on the lookout for new information to help
                    refine and extend what is covered. If you have additional techniques, know about variations on one already covered,
                    have examples of techniques in use, or have other relevant information, then we would like to hear from you.
                </p>
                <p>
                    We are looking for contributions in the following areas, but all contributions and feedback to ATT&amp;CK are appreciated.
                    If you have other information you think may be useful, please reach us at <a href="mailto:attack@mitre.org">attack@mitre.org</a>.
                </p>

                <p>
                    Due to the high volume of contributions, it may take us about a week to get back to you. We recommend you read our
                    <a href="/docs/ATTACK_Design_and_Philosophy_March_2020.pdf">philosophy paper</a> to understand
                    our approach to maintaining ATT&amp;CK so that we get the right details up front. Content updates happen roughly every 6 months.
                </p>
                <p>
                    <a href="mailto:attack@mitre.org">
                      <button type="button" class="slide-button">
                          <span class="slide-button-text">
                              <span>
                                  Submit a contribution
                              </span>
                          </span>
                      </button>
                  </a>
                </p>
                <div class="my-5">
                  <h2>What we're looking for</h2>
                <!-- START USA CARD CONTENT-->
                  <div class="card-deck mt-4">
                    {{contact_card.render("Sub-Techniques and Techniques", "",
                    "Let us know what new variations of behaviors real adversaries are using in the wild! Please share
                    a brief description of the behavior, any references or knowledge about how it works and was used,
                    and how this behavior is not already captured in ATT&amp;CK.<br>To understand the process of how 
                    the MITRE team develops techniques, refer to the video below.",
                    buttons=[
                      {"label": "See an example", "url": "#techniques-modal", "card_modal": "techniques-modal"},
                      {"label": "Video", "url": "https://youtu.be/v24a5IOwObc?si=TuG_-WrknY4r7pkC"}
                    ],
                    fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle=None)}}

                    {{contact_card.render("Threat Intelligence", "",
                    "We map Group and Software examples on our site, and appreciate your help with referenced information about
                    how Groups and Software samples use ATT&CK techniques. Please share the sub-technique or technique name,
                    group or associated group name, a brief description of how the technique is implemented, and the publicly-available reference.",
                    buttons=[
                      {"label": "See an example", "url": "#threat-intel-modal", "card_modal": "threat-intel-modal"}
                    ],
                    fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle=None)}}

                    {{contact_card.render("Website Content Errors", "",
                    "If you find errors or typos on the site related to content, please let us know by
                    submitting the url where you found the error and a short description. Examples include
                    typos and syntax errors, improperly formatted web pages, and 404 errors when links are clicked.",
                    buttons=[
                      {"label": "See an example", "url": "#errors-modal", "card_modal": "errors-modal"}
                    ],
                    fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle=None)}}
                  </div>
                </div>
                <!-- Begin Modals -->
                <!-- Start Techniques Modal -->
                <div class="modal fade" id="techniques-modal" tabindex="-1" role="dialog" aria-labelledby="techniques-modal" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="techniques-modal-label">New Technique Example</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="new-examples">
                          <div class="example-container">
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">(Sub-)Technique Name:</span> COM, ROM, & BE GONE
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Tactic:</span> Persistence
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Platform:</span> Windows
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Required Permissions:</span> User
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Sub-techniques:</span> This is a sub-technique of T1XXX, or this would have T1XXX as a sub-technique
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Data Sources:</span> Windows API, Process monitoring,
                                  or other sources that can be used to detect this activity
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Description:</span> Component Object Model (COM) servers
                                      associated with Graphics Interchange Format (JIF) image viewers can be abused to corrupt arbitrary memory banks. Adversaries may leverage this opportunity to modify, mux, and maliciously annoy (MMA) read-only memory (ROM) regularly accessed during normal system operations.
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Detection:</span> Monitor the JIF viewers for muxing
                                  and malicious annoyance. Use event ID 423420 and 234222 to detect changes.
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Mitigation:</span> Configure the Registry key
                                      HKLM\SYSTEM\ControlSet\001\Control\WindowsJIFControl\ to 0 to disable MMA access
                                      if not needed within the environment.
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Adversary Use:</span> Here is a publicly-available
                                      reference about FUZZYSNUGGLYDUCK using this technique:
                                      (www[.]awesomeThreatReports[.]org/FUZZYSNUGGLYDUCK_NOMS _ON_ROM_VIA_COM).
                                      Additionally, our red team uses this in our operations.
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Additional References:</span> Here is a reference
                                  from the researcher who discovered this technique:
                                  (www[.]crazySmartResearcher[.]net/POC_DETECTIONS_&_MITIGATIONS_4_WHEN_COM_RAMS_ROM)
                              </p>
                          </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <a href="mailto:attack@mitre.org?subject=Techniques">
                          <button type="button" class="slide-button">
                              <span class="slide-button-text">
                                  <span>
                                      Email
                                  </span>
                              </span>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Techniques Modal -->
                <!-- Start threat-intel modal -->
                <div class="modal fade" id="threat-intel-modal" tabindex="-1" role="dialog" aria-labelledby="threat-intel-modal" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="threat-intel-modal-label">Group & Software Example</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="new-examples second-example">
                          <div class="example-container">
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Group Name:</span> FUZZYSNUGGLYDUCK (www[.]sourceX[.]com)
                              </p>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Associated Groups:</span> APT1337 (www[.]sourceY[.]com)
                              </p>
                              <div class="nested-examples-div">
                                  <p class="examples-p mr-0 ml-0">
                                      <span class="example-fields">Description:</span> FUZZYSNUGGLYDUCK
                                      is a Great Lakes-based threat group that has been active since at
                                      least May 2018. The group focuses on targeting the aviation sector. (www[.]sourceY[.]com)
                                  </p>
                              </div>
                              <h6 class="nested-examples-div example-fields">Techniques:</h6>
                              <ul>
                                  <li>
                                      Phishing: Spearphishing Attachment (T1566.001) – FUZZYSNUGGLYDUCK has used spearphishing
                                      email attachments containing images of stale bread to deliver malware. (www[.]sourceX[.]com)
                                  </li>
                                  <li>
                                      File and Directory Discovery (T1083) – FUZZYSNUGGLYDUCK has searched files
                                      and directories for the string *quack*. (www[.]sourceY[.]com)
                                  </li>
                              </ul>
                              <p class="examples-p mr-0 ml-0">
                                  <span class="example-fields">Software Name:</span> FLYINGV
                                  (www[.]sourceX[.]com) (wwwVsourceZ[.]com)
                              </p>
                              <div class="nested-examples-div">
                                  <p class="examples-p mr-0 ml-0">
                                      <span class="example-fields">Group Association:</span> FLYINGV has
                                      been used by FUZZYSNUGGLYDUCK. (www[.]sourceZ[.]com)
                                  </p>
                              </div>
                              <div class="nested-examples-div">
                                  <p class="examples-p mr-0 ml-0">
                                      <span class="example-fields">Description:</span> FLYINGV is custom malware
                                      used by FUZZYSNUGGLYDUCK as a second-stage RAT. (www[.]sourceZ[.]com)
                                  </p>
                              </div>
                              <div class="nested-examples-div">
                                  <p class="examples-p mr-0 ml-0">
                                      <span class="example-fields">Platform:</span> Windows
                                  </p>
                              </div>
                              <h6 class="example-fields">Techniques:</h6>
                              <ul>
                                  <li>
                                      Boot or Logon Autostart Execution: Registry Run Keys / Startup Folder (T1547.001) – FLYINGV has added
                                      the Registry Run key “HueyDeweyLouie” to establish persistence. (www[.]sourceX[.]com)
                                  </li>
                                  <li>
                                      File and Directory Discovery (T1083) – FLYINGV has used rundll32.exe
                                      to load its malicious dll file, estevez.dll. (www[.]sourceX[.]com)
                                  </li>
                              </ul>
                          </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <a href="mailto:attack@mitre.org?subject=Threat Intelligence">
                          <button type="button" class="slide-button">
                              <span class="slide-button-text">
                                  <span>
                                      Email
                                  </span>
                              </span>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end threat intel modal -->
                <!-- start errors modal -->
                <div class="modal fade" id="errors-modal" tabindex="-1" role="dialog" aria-labelledby="errors-modal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="errors-modal-label">Website Content Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="new-examples second-example">
                          <div class="example-container">
                            <span class="example-fields">URL of error:</span> attack.mitre.org/resources/contribute 
                            <span class="example-fields">Description of error:</span> link to the philosophy paper is broken  
                          </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <a href="mailto:attack@mitre.org?subject=Website Content Error">
                          <button type="button" class="slide-button">
                              <span class="slide-button-text">
                                  <span>
                                      Email
                                  </span>
                              </span>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end errors modal -->
                <!-- End Modals -->
                <!-- END USA CARD CONTENT -->

                <!-- Begin Contributor List -->
                <div class="my-5">
                  <h2>Contributors</h2>
                  <p>
                      The following individuals or organizations have contributed information
                      regarding the existence of a technique, details on how to detect and/or mitigate
                      use of a technique, or threat intelligence on adversary use:
                  </p>
                  <div>
                        <div class="row">
                            {% for col in parsed.contributors %}
                            <div class="col">
                                <ul>
                                    {% for row in col %}
                                    <li>
                                        {{row}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                  </div>
                  <p>
                      Thanks to those who have contributed to ATT&amp;CK!
                  </p>
              </div>
                <!-- End Contributor List -->
            </div>
        </div>
</div>
{% endblock %}
{% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}