{% extends "general/base.html" %} 
{% set active_page = "contact" -%}
{% set title = "Contact | MITRE ATT&CK&reg;" %}

{% block content %}
{{ super () }}
<div class="row flex-grow-1 flex-shrink1 justify-content-center align-content-center">
    <div class="text-center">
        <img class="rounded mx-auto d-block pb-3" src="/theme/images/imac-icon.png" width="50">
        <h2>Contact Us!</h2>
        <p class="deemphasis">For questions/comments about Enterprise or Mobile ATT&amp;CK please contact us at <span class="font-weight-bold"><a href="mailto:attack@mitre.org">attack@mitre.org</a></span></p>
        <p class="deemphasis">For the latest news <a href="https://twitter.com/MITREattack" target="_blank" rel="noopener" aria-label="Twitter"> follow us </a> on Twitter!</p>
        <p class="deemphasis">For feedback or issues on the ATT&CK Navigator, please submit issues to the <a href="https://github.com/mitre-attack/attack-navigator" target="_blank">ATT&CK Navigator Git Repository</a></p>
        <p class="deemphasis">For feedback or issues on the ATT&CK Website, please submit issues to the <a href="https://github.com/mitre-attack/attack-website/issues" target="_blank">ATT&CK Website Git Repository</a></p>
        <p class="deemphasis">For learning how to submit contributions to ATT&CK, read our <a href="/resources/contribute">contribute</a> page</p>
    </div>
</div>
{% endblock %}