{% extends "general/two-column.html" %}
{% set active_page = "contact" -%}
{% set title = "Contact | MITRE ATT&CK&reg;" %}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
{{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/engage-with-attack/contact">Engage with ATT&amp;CK</a></li>
        <li class="breadcrumb-item"><a>Stay Informed</a></li>
    </ol>

    <div class="container-fluid pb-5 mb-5">
        <div style="margin-bottom: 15px;">
            <h1>Stay Informed</h1>
            <span>
                We're creating a community of ATT&CK users who are passionate about ATT&CK and threat informed defense. 
                Here's how you can find other community members, find out what they're doing with ATT&CK, and get involved.
            </span>
            <div class="card-deck mt-4">
                {{contact_card.render("X", "https://x.com/MITREattack", "Follow us @MITREattack to hear about news, latest updates, and what community members are doing with ATT&CK.", "fa-brands fa-x-twitter", invert_icon=True)}}
                {{contact_card.render("Medium", "https://medium.com/mitre-attack", "Check out our Medium blog for ATT&CK updates and information.", "fa-brands fa-medium", invert_icon=True)}}
                {{contact_card.render("Slack", "https://join.slack.com/t/mitreattack/shared_invite/zt-3fzdeugg1-RbzsXv6OHF9KX8C46joR9w", "Join the ATT&CK slack workspace! With over 3,000 members and 15 channels, find and start discussions with the community on all things ATT&CK.", "fa-brands fa-slack", invert_icon=True)}}
            </div>
        </div>
        <div class="my-5">
            <h2>Contact Us</h2>
            <div class="card-deck mt-4">
                {{contact_card.render("Email", "mailto:attack@mitre.org", "For questions and comments about Enterprise or Mobile ATT&CK, please contact us at attack@mitre.org", "fa-solid fa-envelope", invert_icon=True)}}
                {{contact_card.render("GitHub", "https://github.com/mitre-attack/", "For feedback or issues on the ATT&CK Navigator or Website, please submit issues to the related git repository. ", "fa-brands fa-github", invert_icon=False,
                    buttons=[
                        {"label": "ATT&CK", "url": "https://github.com/mitre-attack"},
                        {"label": "MITRE CTI", "url": "https://github.com/mitre/cti"}
                    ])
                }}
                {{contact_card.render("Contribute", "/resources/engage-with-attack/contribute/", "We rely on the community to help us improve ATT&CK. For learning how to submit contributions to ATT&CK, read our contribute page to learn how to reach out and what we’re looking for. ")}}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}
