{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Get Started | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<div class="px-3">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Get Started</li>
    </ol>
</div>
<div class="container pb-3 uniform-block">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h3>Get Started</h3><br>
                <div class="card card-filter jump-to-section">
                    <div class="card-body">
                        Jump to Section
                        <ul>
                            <li>
                                <a href="#what-is-attack">What is ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#use-attack">How can I use ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#not-use-attack">How should I not use ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#next-steps">Next Steps</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="getting-started-content">
                    <div id="what-is-attack">
                        <h4><strong>What is ATT&amp;CK?</strong></h4>
                        <p>
                            ATT&amp;CK is knowledge base of adversarial techniques based on real-world observations. ATT&amp;CK focuses on how adversaries interact with systems during an operation, reflecting the various phases of an adversary’s attack lifecycle and the platforms they are known to target.
                        </p>
                        <p>
                            Read the <a href="https://medium.com/mitre-attack/att-ck-101-17074d3bc62">ATT&CK 101 Blog post</a> for more information on the basics of ATT&CK and check the short video below.
                        </p>
                        <div class="col video-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="349" src="https://www.youtube.com/embed/Yxv1suJYMI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <br>
                        <h5><strong>Key Concepts</strong></h5>
                        <div class="row">
                            <div class="col">
                                ATT&CK is a model that attempts to systematically categorize adversary behavior. The main components of the model are:
                                <ul>
                                    <li>
                                        <strong>Tactics</strong>, represents “why” or the reason an adversary is performing an action
                                    </li>
                                    <li>
                                        <strong>Techniques</strong>, represents “how” adversaries achieve tactical goals by performing an action
                                    </li>
                                    <li>
                                        <strong>Sub-techniques</strong>, a more specific or lower-level description of adversarial behavior
                                    </li>
                                    <li>
                                        <strong>Procedures</strong>, specific implementation or in-the-wild use the adversary uses for techniques or sub-techniques
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                ATT&CK is organized in a series of technology domains, the ecosystem an adversary operates within. Currently, there are three <strong>technology</strong> domains:
                                <ul>
                                    <li>
                                        <strong>Enterprise</strong>, representing traditional enterprise networks and cloud technologies
                                    </li>
                                    <li>
                                        <strong>Mobile</strong> for mobile communication devices
                                    </li>
                                    <li>
                                        <strong>ICS</strong> for industrial control systems
                                    </li>
                                </ul>
                                Within each domain are <strong>platforms</strong>, which may be an operating system or application (e.g. Microsoft Windows). Techniques and sub-techniques can apply to multiple platforms.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="use-attack">
                        <h4><strong>How can I use ATT&amp;CK?</strong></h4>
                        <div class="card-deck">
                            {{contact_card.render("Detections and Analytics", "", "ATT&CK can help cyber defenders develop analytics that detect the techniques used by an adversary.
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-detection-a8e49e4960d0\">Getting Started with ATT&amp;CK: Detection and Analytics Blog Post</a><br>
                            This blog post describes how you can get started using ATT&CK for detection and analytics at three different levels of sophistication. (June 2019)
                            <br><br><a href=\"https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics\">Finding Cyber Threats with ATT&amp;CK-Based Analytics</a><br>
                            Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities. (June 2017)
                            <br><br><a href=\"https://www.youtube.com/watch?v=p7Hyd7d9k-c\">ATT&amp;CKing the Status Quo Presentation</a><br>
                            The latter part of this presentation provides an introduction to using ATT&CK to create analytics. <a href=\"https://www.slideshare.net/KatieNickels/bsideslv-2018-katie-nickels-and-john-wunder-attcking-the-status-quo\">Slides are also available</a>. (August 2018)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="View more resources about Detections and Analytics here")}}
                            {{contact_card.render("Threat Intelligence ", "", "ATT&CK gives analysts a common language to structure, compare, and analyze threat intelligence.
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-cti-4eb205be4b2f\">Getting Started with ATT&amp;CK: Threat Intelligence Blog Post</a><br>
                            This blog post describes how you can get started using ATT&CK for detection and analytics at three different levels of sophistication. (June 2019)
                            <br><br><a href=\"https://www.slideshare.net/JamieWilliams130/attcking-your-adversaries-operationalizing-cyber-intelligence-in-your-own-environment-for-better-sleep-and-a-safer-tomorrow\">ATT&amp;CKing Your Adversaries Presentation</a><br>
                            This presentation covers how to use ATT&CK to take cyber threat intelligence and operationalize it into behaviors that can drive relevant detections. (August 2019)
                            <br><br><a href=\"https://www.mitre.org/news-insights/publication/finding-cyber-threats-attck-based-analytics\">Using ATT&CK to Advance Cyber Threat Intelligence</a><br>
                            This blog posts presents practical implementation tips for applying ATT&CK to cyber threat intelligence. (September 2018)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="View more resources about Threat Intelligence here")}}
                        </div>
                        <br>
                        <div class="card-deck">
                            {{contact_card.render("Adversary Emulation and Red Teaming", "", "ATT&CK provides a common language and framework that red teams can use to emulate specific threats and plan their operations.
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-red-29f074ccf7e3\">Getting Started with ATT&amp;CK: Adversary Emulation and Red Teaming Blog Post</a><br>
                            This blog post describes how you can get started using ATT&CK for adversary emulation and red teaming at three different levels of sophistication. (July 2019)
                            <br><br><a href=\"https://www.sans.org/presentations/do-it-yourself-att-ck-evaluations-to-improve-your-security-posture\">Do-It-Yourself ATT&amp;CK Evaluations to Improve Your Security Posture Presentation</a><br>
                            This presentation explains how defenders can improve their security posture through the use of adversary emulation by performing their very own ATT&CK Evaluations. (June 2019)
                            <br><br><a href=\"https://www.x33fcon.com/slides/x33fcon19_ThreatbasedPurpleTeamming_JamieDaniel.pdf\">APT ATT&amp;CK - Threat-based Purple Teaming with ATT&amp;CK Continued Presentation</a><br>
                            This presentation covers how to use ATT&CK to take cyber threat intelligence and operationalize it into behaviors that can drive relevant detections. (May 2019)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="View more resources about Adversary Emulation and Red Teaming here")}}
                            {{contact_card.render("Assessment and Engineering", "", "ATT&CK can be used to assess your organization’s capabilities and drive engineering decisions like what tools or logging you should implement.
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-assessment-cc0b01769cb4\">Getting Started with ATT&amp;CK: Assessments and Engineering Blog Post</a><br>
                            This blog post describes how you can get started using ATT&CK for assessments and engineering at three different levels of sophistication. (August 2019)
                            <br><br><a href=\"https://www.youtube.com/watch?v=lMh9E8l1-ks\">Lessons Learned Applying ATT&amp;CK-Based SOC Assessments</a><br>
                            This keynote presentation discusses a process to gauge a SOC’s detective capabilities as they relate to ATT&CK, including MITRE’s practical experiences and lessons learned. (June 2019)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="View more resources about Assessment and Engineering here")}}
                        </div>
                    </div>
                    <br>
                    <div id="not-use-attack">
                        <h4><strong>How should I not use ATT&amp;CK?</strong></h4>
                        ATT&amp;CK is just as much about the mindset and process of using it as much as it is the knowledge base itself. When it comes to information security, the threats we face, new technologies, and the adaptability of goal-based adversaries, we cannot consider filling out a checklist as “done”.
                        <ul>
                            <li>
                                Don’t try to achieve 100% coverage. Every organization faces its own unique cyber threat. Not every tactic or technique will apply to everyone. Prioritize ones that are most relevant to you and ensure you are prepared for them.
                            </li>
                            <li>
                                Don’t shout “Bingo” when you have one technique. Just because you have identified a single way an adversary has done a technique, doesn’t mean it’s time to declare success and color a box green. Adversaries have multiple ways they can perform most techniques. Look for and understand other ways a technique may be accomplished.
                            </li>
                            <li>
                                Don’t limit yourself to the matrix. Remember the ATT&CK matrix only documents observed real-world behaviors. Adversaries may have a series of other behaviors they use that have not been documented yet. To get a full picture of threats your organization faces, (1) Leverage your own intelligence sources, (2) create and document your own observed techniques, and (3) don’t limit yourselves to behaviors, a timely indicator can catch an adversary.
                            </li>
                        </ul>
                    </div>
                    <br>
                    <div id="next-steps">
                        <h4><strong>Next Steps</strong></h4>
                        <h5><strong>ATT&amp;CK Navigator</strong></h5>
                        Use it to visualize defensive coverage, red/blue team planning, the frequency of detected techniques, and more. For more information on how to use Navigator, <a href="https://www.youtube.com/watch?v=pcclNdwG8Vs">ATT&amp;CK Navigator Use Case for Threat Intelligence</a>.
                        <br>
                        <br>
                        <a href="https://mitre-attack.github.io/attack-navigator/">
                            <button type="button" class="slide-button">
                                <span class="slide-button-text">
                                    <span>
                                        Explore Navigator Tool
                                    </span>
                                </span>
                            </button>
                        </a>
                        <br>
                        <br>
                        <br>
                        <h5><strong>Community</strong></h5>
                        <!-- add link to staying informed page -->
                        Stay informed on the latest updates and engage with the ATT&amp;CK Community through Medium, Slack, and Twitter.
                        <br>
                        <br>
                        <a href="">
                            <button type="button" class="slide-button">
                                <span class="slide-button-text">
                                    <span>
                                        Engage with the Community
                                    </span>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}