{% extends "general/base.html" %} 
{% set active_page = "resources" -%}
{% set title = "Getting Started | MITRE ATT&CK&reg;" -%} 

{% block content %}
{{ super () }}
<div class="container-fluid">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Getting Started</li>
    </ol>
</div>
<div class="container pb-3 uniform-block">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h2>Getting Started</h2>
                <p>
                        You want to get started using ATT&CK, but where do you begin? Regardless of what you want to accomplish, it’s important to understand what ATT&CK is and why MITRE created it. 
                </p>
            </div>
            <div class="row pb-6">
                <ul class="col text-left">
                    <li>
                        <div class="mb-2"><a href="https://medium.com/mitre-attack/att-ck-101-17074d3bc62">ATT&CK 101 Blog Post</a> <div class="card-data">A quick overview of key points to know about ATT&CK.</div></div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="https://medium.com/mitre-attack/getting-started/home">Getting Started with ATT&CK Blog Series</a> <div class="card-data">Provides an overview of how to use ATT&CK at different levels of sophistication for four use cases: <a href="https://medium.com/mitre-attack/getting-started-with-attack-cti-4eb205be4b2f">Threat Intelligence</a>, <a href="https://medium.com/mitre-attack/getting-started-with-attack-detection-a8e49e4960d0">Detection and Analytics</a>, <a href="https://medium.com/mitre-attack/getting-started-with-attack-red-29f074ccf7e3">Adversary Emulation and Red Teaming</a>, and <a href="https://medium.com/mitre-attack/getting-started-with-attack-assessment-cc0b01769cb4">Assessments and Engineering</a>.</div></div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="https://www.mitre.org/sites/default/files/publications/mitre-getting-started-with-attack-october-2019.pdf">Getting Started with ATT&CK eBook</a> <div class="card-data">Pulls together the content from our four Getting Started blog posts on Threat Intelligence, Detection and Analytics, Adversary Emulation and Red Teaming, and Assessments and Engineering onto a single convenient package.</div></div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="/docs/ATTACK_Design_and_Philosophy_March_2020.pdf">Philosophy Paper</a> <div class="card-data">An in-depth look at why MITRE created ATT&CK, how we update and maintain it, and what the community commonly uses it for.</div></div>
                    </li>
                    <!-- <li>
                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=p7Hyd7d9k-c">ATT&CKing the Status Quo Presentation</a> <div class="card-data">Overview of ATT&CK along with details on two use cases. <a href="https://www.slideshare.net/KatieNickels/bsideslv-2018-katie-nickels-and-john-wunder-attcking-the-status-quo">Slides are also available</a>.</div></div>
                    </li> -->
                    <li>
                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=bkfwMADar0M">Sp4rkcon Presentation: Putting MITRE ATT&CK&trade; into Action with What You Have, Where You Are</a> <div class="card-data">Presents an overview of ATT&CK as well as ideas for how you can put it into action for four use cases. <a href="https://www.slideshare.net/KatieNickels/putting-mitre-attck-into-action-with-what-you-have-where-you-are">Slides are also available</a>.</div></div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics">Finding Cyber Threats with ATT&CK-Based Analytics</a> <div class="card-data">Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities.</div></div>
                    </li>
                    <li class="video-li">  
                        <!-- need a video caption for this bullet point -->
                        <!-- Check out this short video for an overview of ATT&CK: -->
                        <div class="mb-2">MITRE ATT&CK Introduction Video:</div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="349" src="https://www.youtube.com/embed/Yxv1suJYMI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </li>
                </ul>
                <div class="col video-col">   
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="349" src="https://www.youtube.com/embed/Yxv1suJYMI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="clearfix pb-3">
                <h2 >Common Use Cases</h2>
                <div class="card-block w-100">   
                    <!-- detections and analytics -->
                    <div class="card w-100">
                        <div class="card-header collapsed" id="detections-and-analytics-header"  data-toggle="collapse" data-target="#detections-and-analytics-body" aria-expanded="false" aria-controls="detections-and-analytics-body">
                            <h5 class="mb-0">
                                Detections and Analytics
                            </h5>
                        </div>
                        <div id="detections-and-analytics-body" class="collapse" aria-labelledby="detections-and-analytics-header">
                            <div class="card-body">
                                <p>
                                    ATT&CK can help cyber defenders develop analytics that detect the techniques used by an adversary.
                                </p>
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://medium.com/mitre-attack/getting-started-with-attack-detection-a8e49e4960d0">Getting Started with ATT&CK: Detection and Analytics Blog Post</a>: This blog post describes how you can get started using ATT&CK for detection and analytics at three different levels of sophistication.</div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="https://car.mitre.org/">Cyber Analytics Repository (CAR)</a>: ATT&CK is the framework of what adversaries do, and CAR is a knowledge base of analytics based on ATT&CK. <a href="https://medium.com/mitre-attack/cyber-analytics-repository-migrated-to-github-4641d7f748f2">This blog post on CAR</a> explains our work to improve it.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"> <a href="https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics">Finding Cyber Threats with ATT&CK-Based Analytics</a>: Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities.</div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="https://github.com/mitre/cascade-server">CASCADE</a>: This MITRE research project seeks to automate “blue team” work, including running analytics.</div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="https://www.youtube.com/watch?v=p7Hyd7d9k-c">ATT&CKing the Status Quo Presentation</a>: The latter part of this presentation provides an introduction to using ATT&CK to create analytics. <a href="https://www.slideshare.net/KatieNickels/bsideslv-2018-katie-nickels-and-john-wunder-attcking-the-status-quo">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"> Many people in the ATT&CK community are doing excellent work with analytics and detection. We encourage you to take a look at the  <a href="/resources/attackcon/">ATT&CKcon 2018 presentations</a> for ideas. You can also follow us on Twitter at <a href="https://twitter.com/MITREattack">@MITREattack</a>, since we sometimes retweet information about community projects that could help ATT&CK users.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- threat intelligence -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="threat-intelligence-header"  data-toggle="collapse" data-target="#threat-intelligence-body" aria-expanded="false" aria-controls="detections-and-analytics-body">
                            <h5 class="mb-0">
                                Threat Intelligence
                            </h5>
                        </div>
                        <div id="threat-intelligence-body" class="collapse" aria-labelledby="threat-intelligence-header">
                            <div class="card-body">
                                <p>
                                    ATT&CK gives analysts a common language to structure, compare, and analyze threat intelligence.
                                </p>
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://medium.com/mitre-attack/getting-started-with-attack-cti-4eb205be4b2f">Getting Started with ATT&CK: Threat Intelligence Blog Post</a>: This blog post describes how you can get started using ATT&CK for threat intelligence at three different levels of sophistication.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.slideshare.net/JamieWilliams130/attcking-your-adversaries-operationalizing-cyber-intelligence-in-your-own-environment-for-better-sleep-and-a-safer-tomorrow">ATT&CKing Your Adversaries Presentation</a>: This presentation covers how to use ATT&CK to take cyber threat intelligence and operationalize it into behaviors that can drive relevant detections.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://medium.com/mitre-attack/using-att-ck-to-advance-cyber-threat-intelligence-part-2-6f21fdba80c">Blog posts on threat intelligence</a>: These blog posts explain the fundamentals of how to use ATT&CK for threat intelligence.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=p7Hyd7d9k-c">ATT&CKing the Status Quo Presentation</a>: This middle part of this presentation provides an introduction to using ATT&CK for threat intelligence. <a href="https://www.slideshare.net/KatieNickels/bsideslv-2018-katie-nickels-and-john-wunder-attcking-the-status-quo">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.pscp.tv/w/1yoKMVDjbrkGQ">ATT&CKing with Threat Intelligence Presentation</a>: This presentation provides perspective on how to use threat intelligence for ATT&CK-based adversary emulation. <a href="https://www.slideshare.net/ChristopherKorban/attcking-with-threat-intelligence">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://youtu.be/pcclNdwG8Vs">ATT&CK Navigator Use Case for Threat Intelligence</a>: This demo provides an overview of the ATT&CK Navigator as well as a threat intelligence use case for how to compare group behaviors. A corresponding written tutorial on comparing Navigator layers is <a href="/docs/Comparing_Layers_in_Navigator.pdf">available here</a>.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Adversary emulation and red teaming -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="adversary-emulation-header" data-toggle="collapse" data-target="#adversary-emulation-header-body" aria-expanded="false" aria-controls="detections-and-analytics-body">
                            <h5 class="mb-0">
                                Adversary Emulation and Red Teaming 
                            </h5>
                        </div>
                        <div id="adversary-emulation-header-body" class="collapse" aria-labelledby="adversary-emulation-header-header">
                            <div class="card-body">
                                <p>
                                    ATT&CK provides a common language and framework that red teams can use to emulate specific threats and plan their operations.
                                </p>
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://medium.com/mitre-attack/getting-started-with-attack-red-29f074ccf7e3">Getting Started with ATT&CK: Adversary Emulation and Red Teaming Blog Post</a>: This blog post describes how you can get started using ATT&CK for adversary emulation and red teaming at three different levels of sophistication.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="http://www.sans.org/cyber-security-summit/archives/download/22695">Do-It-Yourself ATT&CK Evaluations to Improve Your Security Posture Presentation</a>: This presentation explains how defenders can improve their security posture through the use of adversary emulation by performing their very own ATT&CK Evaluations.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.x33fcon.com/slides/x33fcon19_ThreatbasedPurpleTeamming_JamieDaniel.pdf">APT ATT&CK - Threat-based Purple Teaming with ATT&CK Continued Presentation</a>: This presentation takes a deep-dive into using ATT&CK for purple teaming, including lessons learned from ATT&CK Evaluations.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=9X-LO7aGr2s">To Blue with ATT&CK-Flavored Love Presentation</a>: This presentation provides a red teamer’s perspective to show how ATT&CK is a valuable tool to help red and blue teams work together to improve their defenses. <a href="https://www.sans.org/cyber-security-summit/archives/file/summit_archive_1555000088.pdf">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics">Finding Cyber Threats with ATT&CK-Based Analytics</a>: Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="/resources/adversary-emulation-plans">Adversary Emulation Plans</a>: To showcase the practical use of ATT&CK for offensive operators and defenders, MITRE created Adversary Emulation Plans. We previously released <a href="/docs/APT3_Adversary_Emulation_Plan.pdf">a plan for APT3</a> (as well as <a href="/docs/APT3_Adversary_Emulation_Field_Manual.xlsx">an accompanying field manual</a>) and anticipate that we will release additional plans in the future.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://github.com/mitre/caldera">CALDERA</a>: CALDERA is an automated adversary emulation system that performs post-compromise adversarial behavior within Windows Enterprise networks. It generates plans using a pre-configured adversary model based on ATT&CK. <a href="https://www.youtube.com/watch?v=gTGnHXgqZCo">This presentation from BSides Charm</a> provides an overview of CALDERA. </div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=OYEP-YAKIn0&index=3&list=PL7ZDZo2Xu332XUiwFHB5X-tXfqIwVkg5l&t=0s">Threat-based Purple Teaming with ATT&CK Presentation</a>:This presentation discusses how purple teams can use ATT&CK as a common language for adversary emulation. <a href="https://www.slideshare.net/ChristopherKorban/purple-teaming-with-attck-x33fcon-2018">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.pscp.tv/w/1yoKMVDjbrkGQ">ATT&CKing with Threat Intelligence Presentation</a>: This presentation provides perspective on how to use threat intelligence for ATT&CK-based adversary emulation <a href="https://www.slideshare.net/ChristopherKorban/attcking-with-threat-intelligence">Slides are also available</a>.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://attackevals.mitre-engenuity.org/methodology-overview">ATT&CK Evaluations Adversary Emulation Summary</a>: This summary from the ATT&CK Evaluations website provides an introduction to how ATT&CK Evaluations used an adversary emulation approach.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Assessment and engineering -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="assessment-and-engineering-header" data-toggle="collapse" data-target="#assessment-and-engineering-body" aria-expanded="false" aria-controls="detections-and-analytics-body">
                            <h5 class="mb-0">
                                Assessment and Engineering
                            </h5>
                        </div>
                        <div id="assessment-and-engineering-body" class="collapse" aria-labelledby="assessment-and-engineering-header">
                            <div class="card-body">
                                <p>
                                    ATT&CK can be used to assess your organization’s capabilities and drive engineering decisions like what tools or logging you should implement.
                                </p>
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://medium.com/mitre-attack/getting-started-with-attack-assessment-cc0b01769cb4">Getting Started with ATT&CK: Assessments and Engineering Blog Post</a>: This blog post describes how you can get started using ATT&CK for assessments and engineering at three different levels of sophistication.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.sans.org/cyber-security-summit/archives/file/summit_archive_1561390150.pdf">Lessons Learned Applying ATT&CK-Based SOC Assessments Presentation</a>: This keynote presentation discusses a process to gauge a SOC’s detective capabilities as they relate to ATT&CK, including MITRE’s practical experiences and lessons learned.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://attackevals.mitre.org/">ATT&CK Evaluations</a>: MITRE’s evaluations of cybersecurity products using an open methodology based on ATT&CK can help end users understand how commercial security products detect known adversary behaviors.</div>
                                    </li>
                                    <li>
                                        <div class="mb-2"><a href="https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics">Finding Cyber Threats with ATT&CK-Based Analytics</a>: Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end use cases -->
            <div class="clearfix pb-1">
                <h2>Working with ATT&CK</h2>
                <p>
                    Here are some resources on the ATT&CK infrastructure to help you work with the content to accomplish these use cases.
                </p>
                <ul>
                    <li>
                        <div class="mb-2"><a href="/resources/working-with-attack">Interfaces for Working with ATT&CK</a>: This page describes how you can programmatically access ATT&CK content using STIX/TAXII as well as Excel.</div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="https://github.com/mitre-attack/attack-navigator">ATT&CK Navigator</a>: The ATT&CK Navigator is designed to provide basic navigation and annotation of ATT&CK matrices. You can use the Navigator to visualize defensive coverage, your red/blue team planning, or anything else you what to do with ATT&CK. If you want to get started immediately, a hosted instance is available <a href="https://mitre-attack.github.io/attack-navigator">here</a>.</div>
                    </li>
                </ul>
            </div>

            <div class="clearfix">
                <h2>Community</h2>
                <p>
                    We’re creating a community of ATT&CK users who are passionate about ATT&CK and threat-informed defense. Here’s how you can find other community members, find out what they’re doing with ATT&CK, and get involved.
                </p>
                <ul>
                    <li>
                        <div class="mb-2"><a href="https://medium.com/mitre-attack">Blog</a>: Check out our Medium blog for ATT&CK updates and information.</div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="https://twitter.com/mitreattack">Twitter: Follow us at @MITREattack</a> to hear about our latest updates and what community members are doing with ATT&CK.</div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="/resources/attackcon/">ATT&CKcon 2018 Presentations</a>: In October 2018, we held the first-ever ATT&CKcon at MITRE’s McLean campus. Check out <a href="/resources/attackcon/">the presentations</a> for ideas on how the community is using ATT&CK as well as <a href="https://medium.com/mitre-attack/attackcon-2018-501d62566233">the blog post about the event</a>.</div>
                    </li>
                    <li>
                        <div class="mb-2"><a href="/resources/contribute/">Contribute to ATT&CK</a>: We rely on the community to help us improve ATT&CK. If you want to contribute, <a href="/resources/contribute/">here’s how to reach out and what we’re looking for</a>.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}      