{% extends "general/two-column.html" %}
{% set active_page = "learn-more-about-attack" -%}
{% set title = "Learn More About ATTACK | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<div><h1>hola</h1></div>
{% endblock %}

{% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}
<!-- 
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
  <li class="breadcrumb-item">Learn More About ATT&amp;CK</li>
</ol>

<div class="container pb-3">
  <div class="card-block">
      <div class="clearfix pb-3">
          <div class="clearfix pb-3">
              <h1>Lean More About ATT&amp;CK</h1>
              <div class="card card-filter jump-to-section">
                <div class="card-body">
                  Jump to Section
                  <ul>
                    <li>
                      <a href=""></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="learn-about-attack-content">
                <div class="anchor" id="featured-presentations"></div>
                <div>
                  <h2><strong>Featured MITRE Presentations</strong></h2>
                  <p>
                    The featured presentations highlight applications, new techniques, and current topics of interest to ATT&CK. 
                    All MITRE presentations were developed by members of the ATT&amp;CK team at MITRE.
                  </p>
                  <div class="card-deck">
                    {{contact_card.render("<h6><strong>Automation: The Wonderful Wizard of CTI (Or is IT?)</strong></h6><br>JANUARY 2020", "", "BODY",
                    buttons=[
                      {"label": "Slides", "url": ""}
                      ],
                    fa_icon=None, invert_icon=True, buttons=None, header_background=True)}}

                  </div>
                  <a href="#">Browse all MITRE presentations</a>
                </div>
                <div class="anchor" id="ATTACKcon-presentations"></div>
                <div>
                  <h2><strong>ATT&amp;CKCon Presentations</strong></h2>
                  <p>
                    At MITRE ATT&amp;CK's yearly conference, cybersecurity leaders and practitioners of all levels are 
                    invited to strengthen capabilities and engage with others in the community through two days of programming, 
                    featuring knowledgeable speakers, engaging content, and meaningful collaboration, all designed to help 
                    leverage the ATT&amp;CK framework. Browse the archive of presentations organized by event. 
                  </p>
                  <p>
                    Learn about future ATT&amp;CKcons by keeping up with us at <a href="#">Engage with ATT&amp;CK</a>
                  </p>
                  <div class="card-deck">
                    {{contact_card.render("<a href="#">ATT&amp;CKcon 4.0</a>")}}
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
 -->