{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<div><h1>hola</h1></div>
{% endblock %}

{% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}