{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item">Learn More About ATT&amp;CK</li>
</ol>

<div class="container-fluid pb-3">
  <div class="working-with-attack">
    <h1>Learn More About ATT&amp;CK</h1>
    <div class="my-5">
      <h2>Featured MITRE Presentations</h2>
        <p>
          The featured presentations highlight applications, new techniques, and current topics of interest to ATT&CK.
          All MITRE presentations were developed by members of the ATT&amp;CK team at MITRE.
        </p>
        <div class="card-deck mt-4">
          {{contact_card.render("MITRE ATT&CK: The Play at Home Edition", "",
          "This presentation from Black Hat walks through the story of a fictional organization in order to explain how different teams can use ATT&CK as a powerful force to improve defenses.",
          buttons=[
            {"label": "View Presentation", "url": "http://i.blackhat.com/USA-19/Wednesday/us-19-Nickels-MITRE-ATTACK-The-Play-At-Home-Edition.pdf"}
          ],
          fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle="August 2019")}}

          {{contact_card.render("Leveraging Campaigns to Untangle the Threat Group Ship of Theseus", "",
            "This presentation introduces ATT&CK's newer categorization of Campaigns - a method of classification that more easily enables the tracking of the abilities and sophistication over time, in addition to enabling stakeholders to better identify potential targets based on industry.",
          buttons=[
            {"label": "View Presentation", "url": "https://www.slideshare.net/AdamPennington4/leveraging-campaigns-to-untangle-the-threat-group-ship-of-theseus"}
          ],
          fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle="January 2023")}}

          {{contact_card.render("Objective by the Sea: Drawing Out ATT&CK Techniques in the Wild", "",
            "This presentation provides a high-level explanation of the ATT&CK framework for MacOS and its components, then walks through the application of the ATT&CK framework to a real-world campaign using Pandas as a model. Emphasizes community-driven aspects of ATT&CK.",
            buttons=[
                {"label": "View Presentation", "url": "https://www.youtube.com/watch?v=pT8C9P3BiVw"}
            ],
            fa_icon=None, invert_icon=True, header_background=True, footer_description=None, header_subtitle="November 2022")}}
        </div>
        <br>
        <a href="/resources/learn-more-about-attack/presentation-archive/">Browse all MITRE presentations</a>
      </div>
      <div class="my-5">
        <h2>MITRE CTI Training</h2>
        <p>
          Using MITRE ATT&CK for Cyber Threat Intelligence Training by Katie Nickels and Adam Pennington provides
          several modules to help you learn how to apply ATT&CK and improve your threat intelligence practices.
        </p>
        <a href="/resources/learn-more-about-attack/training/cti/">
          <button type="button" class="slide-button">
            <span class="slide-button-text">
              <span>
                Take the Training
              </span>
            </span>
          </button>
        </a>
      </div>
      <div class="my-5">
        <h2>Reading Materials</h2>
        <p>
          These materials provide an in-depth look at why we created these ATT&CK domains, how we maintain and update
          them,
          and what the community commonly uses them for.
        </p>
        <div class="card-deck">
          {{contact_card.render("ATT&CK Design and Philosophy", "/docs/ATTACK_Design_and_Philosophy_March_2020.pdf",
          "This paper outlines the process MITRE
          used to create ATT&CK, and the
          philosophy that has developed for
          curating new content.",
          invert_icon=True)}}
          {{contact_card.render("ATT&CK for ICS extension", "/docs/ATTACK_for_ICS_Philosophy_March_2020.pdf",
          "For individuals already familiar with
          ATT&CK, this document can be viewed
          as an extension to the ATT&CK Design
          and Philosophy whitepaper above that
          highlights unique, as well as some
          common, aspects of the design and philosophy of ATT&CK for ICS. ",
          invert_icon=True)}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %} {{ super () }}
<script src="/theme/scripts/tables.js"></script>
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}