{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item">Legal &amp; Branding</li>
</ol>

<div class="container-fluid pb-3">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix getting-started-content">
                <h1>Legal & Branding</h1>
                <p>
                    ATT&amp;CK is open and available to any person or organization for use at no charge. If you decide to use ATT&amp;CK, then follow the <a href="/resources/legal-and-branding/terms-of-use">Terms of Use</a> and follow guidelines for referencing the use of ATT&amp;CK in your work.
                </p>

                <h2 class="mt-5">Referencing ATT&amp;CK</h2>
                <p>
                    Both MITRE ATT&amp;CK<sup>&reg;</sup> and ATT&amp;CK<sup>&reg;</sup> are registered trademarks of The MITRE Corporation.
                </p>
                <p>
                    Your first references in writing must include “MITRE” preceding “ATT&amp;CK<sup>&reg;</sup>” - but subsequently should just reference “ATT&amp;CK” (no registered trademark symbol required).
                </p>
                <p>
                    A headline should always reference MITRE ATT&amp;CK<sup>&reg;</sup>
                </p>
                <div class="card-deck">
                    <div class="contact-card card">
                        <div class="card-body background">
                            <strong>Example of a first reference of ATT&amp;CK</strong>
                            <p class="mt-2">MITRE ATT&amp;CK<sup>&reg;</sup> is a curated knowledge base and model for cyber adversary behavior.</p>
                        </div>
                    </div>
                    <div class="contact-card card">
                        <div class="card-body background">
                            <strong>Example of subsequent reference of ATT&amp;CK</strong>
                            <p class="mt-2">ATT&amp;CK is open and available to any person or organization for use at no charge.</p>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5">Dos and Don’ts of Referencing ATT&amp;CK</h3>
                <div class="row">
                    <div class="col">
                        <p>
                            <strong>DO</strong>
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle-check fa-2x" style="color: #36AA31;"></i>
                                </div>
                                <div class="col">
                                    Reference “MITRE ATT&amp;CK<sup>®</sup>” together in headlines and first references.
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle-check fa-2x" style="color: #36AA31;"></i>
                                </div>
                                <div class="col">
                                    Capitalize “ATT&amp;CK” to distinguish it from the surrounding text.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p>
                            <strong>DO NOT</strong>
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle-xmark fa-2x" style="color: #c63f1f;"></i>
                                </div>
                                <div class="col">
                                    Modify the trademark, such as through hyphenation or abbreviation (“ATT&amp;CK’d!”, “Plan-of-ATT&CK”, “ATTK”).
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle-xmark fa-2x" style="color: #c63f1f;"></i>
                                </div>
                                <div class="col">
                                    Display the ATT&amp;CK trademark in any manner that implies an affiliation with, sponsorship, or endorsement by MITRE, or in a manner that can be reasonably interpreted to suggest third party content represents the views and opinions of MITRE or MITRE personnel, unless those third parties receive express permission from MITRE.
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle-xmark fa-2x" style="color: #c63f1f;"></i>
                                </div>
                                <div class="col">
                                    Use ATT&amp;CK in your product names, service names, trademarks, logos, or company names.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5">Logos</h3>
                <div class="row my-4">
                    <div class="col">
                        <img src="/theme/images/MITRE_ATTACK_logo_Lockup-black.jpg" width="100%" alt="MITRE ATT&amp;CK black image">
                        <p></p>
                        <p>
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-black.jpg">jpg <i class="fa-solid fa-image"></i></a> |
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-black-transparent.png">png <i class="fa-solid fa-image"></i></a> |
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-black.svg">svg <i class="fa-solid fa-image"></i></a>
                        </p>

                        <img src="/theme/images/MITRE_ATTACK_logo_Lockup-gray-transparent.png" width="100%" alt="MITRE ATT&amp;CK gray image">
                        <p></p>
                        <p>
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-gray-transparent.png">png <i class="fa-solid fa-image"></i></a> |
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-gray.svg">svg <i class="fa-solid fa-image"></i></a>
                        </p>
                    </div>
                    <div class="col">
                        <img src="/theme/images/MITRE_ATTACK_logo_Lockup-white-transparent-new.png" width="100%" alt="MITRE ATT&amp;CK white image">
                        <p></p>
                        <p>
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-white-transparent.png">png <i class="fa-solid fa-image"></i></a> |
                            <a href="/theme/images/MITRE_ATTACK_logo_Lockup-white.svg">svg <i class="fa-solid fa-image"></i></a>
                        </p>
                    </div>
                </div>

                <h2 class="mt-5">Brand Guide</h2>
                <p>
                    The brand guide provides further detail on the consistent implementation of the MITRE ATT&amp;CK<sup>&reg;</sup> brand identity, both visually and verbally, to both internal and external audiences, while respecting our legal trademark restrictions. If you have further questions, please reach out to as at <a href="mailto:attack@mitre.org">attack@mitre.org</a>.
                </p>
                <a href="/docs/ATTACK_Brand_Guide.pdf">
                    <button type="button" class="slide-button">
                        <span class="slide-button-text">
                        <span>
                            Download Brand Guide
                        </span>
                        </span>
                        <span class="slide-button-icon">
                            <i class="fa-solid fa-download"></i>
                        </span>
                    </button>
                </a>
                <p></p><br>
                <h2>Additional Policies</h2>
                <p>
                    <a href="/resources/legal-and-branding/terms-of-use">Terms of Use</a>
                    <br>
                    <a href="/resources/legal-and-branding/privacy">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}