{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Presentation Archive | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item"><a href="/resources/learn-more-about-attack">Learn More about ATT&amp;CK</a></li>
    <li class="breadcrumb-item">Presentation Archive</li>
</ol>

<div class="container-fluid pb-3">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h1>Presentation Archive</h1>
                <div class="card card-filter">
                    <div class="card-body">
                        <strong>
                            Date of Presentation
                        </strong>
                        <div id="filterMenu">
                            <div>
                                <input type="radio" name="dates" checked="checked" id="All-years" onchange="filterMenu()">
                                <label for="All-years">All years</label>
                            </div>
                            <div>
                                <input type="radio" name="dates" id="Last-1-year" onchange="filterMenu()">
                                <label for="Last-1-year">Last 1 year</label>
                            </div>
                            <div>
                                <input type="radio" name="dates" id="Last-3-years" onchange="filterMenu()">
                                <label for="Last-3-years">Last 3 years</label>
                            </div>
                            <strong>
                                Presentation Materials
                            </strong>
                            <div>
                                <input type="checkbox" checked="checked" id="Slide-Deck" onchange="filterMenu()">
                                <label for="SlideDeck">Slide Deck</label>
                            </div>
                            <div>
                                <input type="checkbox" checked="checked" id="Recording" onchange="filterMenu()">
                                <label for="Recording">Recording</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="getting-started-content">
                    <p>
                        Browse our archive of presentations by MITRE’s ATT&amp;CK team, covering various cybersecurity topics related to ATT&amp;CK. Presented at different conferences, these talks offer valuable insights and expertise from our team members.
                    </p>
                    <input type="text" class="page-search" id="searchPresentation" onkeyup="searchPresentation()" placeholder="Search Presentations">
                    <h2>Presentations</h2>
                    <h6 class="presentation-count"></h6>
                    {% for presentation in parsed.presentations %}
                        <div class="card w-60 card-presentation">
                            <div class="card-body">
                                <strong>
                                    <div class="title">
                                        {{ presentation.name }}
                                    </div>
                                </strong>
                                <p></p>
                                <div>
                                    {{ presentation.presenters }}
                                </div>
                                <div class="date">
                                    {{ presentation.date }}
                                </div>
                                <p></p>
                                <div class="timeline-card-body">
                                    {{ presentation.description }}
                                </div>
                                <p></p>
                                <div class="material">
                                    {% if "url" in presentation %}
                                    <a href="{{ presentation.url }}">
                                        <button type="button" class="slide-button">
                                            <span class="slide-button-text">
                                            <span>
                                                Recording
                                            </span>
                                            </span>
                                            <span class="slide-button-icon">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </span>
                                        </button>
                                    </a>
                                    {% endif %}
                                    {% if "slides" in presentation %}
                                        <a class="my-2 {% if 'url' in presentation %}ml-2{% endif %}" href="{{ presentation.slides }}">
                                            <button type="button" class="slide-button slide-button-secondary">
                                                <span class="slide-button-text">
                                                <span>
                                                    Slide Deck
                                                </span>
                                                </span>
                                                <span class="slide-button-icon">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                </span>
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
<script src="/theme/scripts/search-presentation.js"></script>
{% endblock %}