{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Get Started | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/contact_card.html' as contact_card %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->

<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
        <li class="breadcrumb-item">Get Started</li>
</ol>
<div class="container-fluid pb-3">
    <div class="getting-started">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h1>Get Started</h1>
                <div class="card card-filter jump-to-section">
                    <div class="card-body">
                        Jump to Section
                        <ul>
                            <li>
                                <a href="#what-is-attack">What is ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#use-attack">How can I use ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#not-use-attack">How should I not use ATT&amp;CK?</a>
                            </li>
                            <li>
                                <a href="#navigator">ATT&amp;CK Navigator</a>
                            </li>
                            <li>
                                <a href="#community">Community</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="getting-started-content">
                    <div class="anchor" id="what-is-attack"></div>
                    <div class="mt-4">
                        <h2>What is ATT&amp;CK?</h2>
                        <p>
                            ATT&amp;CK is knowledge base of adversarial techniques based on real-world observations. ATT&amp;CK focuses on how adversaries interact with systems during an operation, reflecting the various phases of an adversary’s attack lifecycle and the platforms they are known to target.
                        </p>
                        <p>
                            Read the <a href="https://medium.com/mitre-attack/att-ck-101-17074d3bc62">ATT&CK 101 Blog post</a> for more information on the basics of ATT&CK and check the short video below.
                        </p>
                        <div class="col video-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe title="MITRE ATT&CK Framework" width="560" height="349" src="https://www.youtube.com/embed/Yxv1suJYMI8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <br>
                        <h3>Key Concepts</h3>
                        <div class="row">
                            <div class="col">
                                ATT&CK is a model that attempts to systematically categorize adversary behavior. The main components of the model are:
                                <ul>
                                    <li>
                                        <strong><a href="/tactics/enterprise/">Tactics</a></strong>, represents “why” or the reason an adversary is performing an action
                                    </li>
                                    <li>
                                        <strong><a href="/techniques/enterprise/">Techniques</a></strong>, represents “how” adversaries achieve tactical goals by performing an action
                                    </li>
                                    <li>
                                        <strong>Sub-techniques</strong>, a more specific or lower-level description of adversarial behavior
                                    </li>
                                    <li>
                                        <strong>Procedures</strong>, specific implementation or in-the-wild use the adversary uses for techniques or sub-techniques
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                ATT&CK is organized in a series of technology domains, the ecosystem an adversary operates within. Currently, there are three <strong>technology</strong> domains:
                                <ul>
                                    <li>
                                        <strong><a href="/matrices/enterprise/">Enterprise</a></strong>, representing traditional enterprise networks and cloud technologies
                                    </li>
                                    <li>
                                        <strong><a href="/matrices/mobile/">Mobile</a></strong> for mobile communication devices
                                    </li>
                                    <li>
                                        <strong><a href="/matrices/ics/">ICS</a></strong> for industrial control systems
                                    </li>
                                </ul>
                                Within each domain are <strong>platforms</strong>, which may be an operating system or application (e.g. Microsoft Windows). Techniques and sub-techniques can apply to multiple platforms.
                            </div>
                        </div>
                        <p>
                            For more information on the principles behind ATT&amp;CK, its creation, and its ongoing maintenance, read the <a href="/docs/ATTACK_Design_and_Philosophy_March_2020.pdf">ATT&amp;CK Philosophy Paper</a>.
                            For additional information focused on ATT&amp;CK for ICS, including the unique elements and commonalities with ATT&amp;CK, read the <a href="/docs/ATTACK_for_ICS_Philosophy_March_2020.pdf">ATT&amp;CK for ICS Extension</a>.
                        </p>

                        <p>
                            <a href="/docs/attack_roadmap_2024_april.pdf">
                                <button type="button" class="slide-button">
                                    <span class="slide-button-text">
                                        <span>
                                            MITRE ATT&amp;CK Roadmap
                                        </span>
                                    </span>
                                </button>
                            </a>
                            <div class="text-label-small">Last updated April 2024</div>
                        </p>
                        <p>
                            <a href="/docs/attack_matrix_poster_2024_april.pdf">
                                <button type="button" class="slide-button">
                                    <span class="slide-button-text">
                                        <span>
                                            MITRE ATT&amp;CK Matrix Poster
                                        </span>
                                    </span>
                                </button>
                            </a>
                            <div class="text-label-small">Last updated April 2024</div>
                        </p>

                    </div>
                    <br>
                    <div class="anchor" id="use-attack">
                        <p></p>
                    </div>
                    <div>
                        <h2>How can I use ATT&amp;CK?</h2>
                        The following four use cases are the most common way that users report applying ATT&CK to their work.
                        <p></p>
                        <div class="card-deck">
                            {{contact_card.render("Detections and Analytics", "", "<strong>ATT&CK can help cyber defenders develop analytics that detect the techniques used by an adversary.</strong>
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-detection-a8e49e4960d0\">Getting Started with ATT&amp;CK: Detection and Analytics Blog Post <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This blog post describes how you can get started using ATT&CK for detection and analytics at three different levels of sophistication. (June 2019)
                            <br><br><a href=\"https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics\">Finding Cyber Threats with ATT&amp;CK-Based Analytics <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities. (June 2017)
                            <br><br><a href=\"https://www.youtube.com/watch?v=p7Hyd7d9k-c\">ATT&amp;CKing the Status Quo Presentation <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            The latter part of this presentation provides an introduction to using ATT&CK to create analytics. <a href=\"https://www.slideshare.net/KatieNickels/bsideslv-2018-katie-nickels-and-john-wunder-attcking-the-status-quo\">Slides are also available</a>. (August 2018)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="<a href=\"/resources/get-started/detections-and-analytics\">View more resources about Detections and Analytics</a>")}}
                            {{contact_card.render("Threat Intelligence ", "", "<strong>ATT&CK gives analysts a common language to structure, compare, and analyze threat intelligence.</strong>
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-cti-4eb205be4b2f\">Getting Started with ATT&amp;CK: Threat Intelligence Blog Post <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This blog post describes how you can get started using ATT&CK for detection and analytics at three different levels of sophistication. (June 2019)
                            <br><br><a href=\"https://www.slideshare.net/JamieWilliams130/attcking-your-adversaries-operationalizing-cyber-intelligence-in-your-own-environment-for-better-sleep-and-a-safer-tomorrow\">ATT&amp;CKing Your Adversaries Presentation <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This presentation covers how to use ATT&CK to take cyber threat intelligence and operationalize it into behaviors that can drive relevant detections. (August 2019)
                            <br><br><a href=\"https://medium.com/mitre-attack/using-att-ck-to-advance-cyber-threat-intelligence-part-1-c5ad14d59724\">Blog posts on threat intelligence <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            These blog posts explain the fundamentals of how to use ATT&CK for threat intelligence. (September 2018)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="<a href=\"/resources/get-started/threat-intelligence\">View more resources about Threat Intelligence</a>")}}
                        </div>
                        <br>
                        <div class="card-deck">
                            {{contact_card.render("Adversary Emulation and Red Teaming", "", "<strong>ATT&CK provides a common language and framework that red teams can use to emulate specific threats and plan their operations.</strong>
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-red-29f074ccf7e3\">Getting Started with ATT&amp;CK: Adversary Emulation and Red Teaming Blog Post <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This blog post describes how you can get started using ATT&CK for adversary emulation and red teaming at three different levels of sophistication. (July 2019)
                            <br><br><a href=\"https://www.sans.org/presentations/do-it-yourself-att-ck-evaluations-to-improve-your-security-posture\">Do-It-Yourself ATT&amp;CK Evaluations to Improve Your Security Posture Presentation <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This presentation explains how defenders can improve their security posture through the use of adversary emulation by performing their very own ATT&CK Evaluations. (June 2019)
                            <br><br><a href=\"https://www.x33fcon.com/slides/x33fcon19_ThreatbasedPurpleTeamming_JamieDaniel.pdf\">APT ATT&amp;CK - Threat-based Purple Teaming with ATT&amp;CK Continued Presentation <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This presentation covers how to use ATT&CK to take cyber threat intelligence and operationalize it into behaviors that can drive relevant detections. (May 2019)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="<a href=\"/resources/get-started/adversary-emulation-and-red-teaming\">View more resources about Adversary Emulation and Red Teaming</a>")}}
                            {{contact_card.render("Assessment and Engineering", "", "<strong>ATT&CK can be used to assess your organization’s capabilities and drive engineering decisions like what tools or logging you should implement.</strong>
                            <br><br><a href=\"https://medium.com/mitre-attack/getting-started-with-attack-assessment-cc0b01769cb4\">Getting Started with ATT&amp;CK: Assessments and Engineering Blog Post <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This blog post describes how you can get started using ATT&CK for assessments and engineering at three different levels of sophistication. (August 2019)
                            <br><br><a href=\"https://www.youtube.com/watch?v=lMh9E8l1-ks\">Lessons Learned Applying ATT&amp;CK-Based SOC Assessments <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            This keynote presentation discusses a process to gauge a SOC’s detective capabilities as they relate to ATT&CK, including MITRE’s practical experiences and lessons learned. (June 2019)
                            <br><br><a href=\"https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics\">Finding Cyber Threats with ATT&CK-Based Analytics <i class=\"fa-solid fa-arrow-up-right-from-square\"></i></a><br>
                            Presents a methodology for using ATT&CK to build, test, and refine behavioral-based analytic detection capabilities. (June 2017)",
                            fa_icon=None, invert_icon=True, buttons=None, header_background=True,footer_description="<a href=\"/resources/get-started/assessment-and-engineering\">View more resources about Assessment and Engineering</a>")}}
                        </div>
                        <br>
                        <p>
                            Learn more about the Use Cases through the <a href="https://www.youtube.com/watch?v=bkfwMADar0M">Sp4rkcon Presentation: Putting MITRE ATT&amp;CK into Action with What You Have, Where You Are</a> and the <a href="https://www.mitre.org/sites/default/files/publications/mitre-getting-started-with-attack-october-2019.pdf">Getting Started with ATT&amp;CK eBook</a>.
                            <br><br>
                            For additional ATT&amp;CK topics and to explore presentations and training:
                            <br><br>
                            <!-- link to learn more page -->
                            <a href="/resources/learn-more-about-attack/">
                                <button type="button" class="slide-button">
                                    <span class="slide-button-text">
                                        <span>
                                            Learn More About ATT&amp;CK
                                        </span>
                                    </span>
                                </button>
                            </a>
                        </p>
                    </div>
                    <br>
                    <div class="anchor" id="not-use-attack">
                        <p></p>
                    </div>
                    <div>
                        <h2>How should I <i>not</i> use ATT&amp;CK?</h2>
                        ATT&amp;CK is just as much about the mindset and process of using it as much as it is the knowledge base itself. When it comes to information security, the threats we face, new technologies, and the adaptability of goal-based adversaries, we cannot consider filling out a checklist as “done”.
                        <p></p>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-bullseye fa-2x getting-started-icon"></i>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="col">
                                Don’t try to achieve 100% coverage. Every organization faces its own unique cyber threat. Not every tactic or technique will apply to everyone. Prioritize ones that are most relevant to you and ensure you are prepared for them.
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-volume-high fa-2x getting-started-icon"></i>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="col">
                                Don’t shout “Bingo” when you have one technique. Just because you have identified a single way an adversary has done a technique, doesn’t mean it’s time to declare success and color a box green. Adversaries have multiple ways they can perform most techniques. Look for and understand other ways a technique may be accomplished.
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-magnifying-glass fa-2x getting-started-icon"></i>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="col">
                                Don’t limit yourself to the matrix. Remember the ATT&CK matrix only documents observed real-world behaviors. Adversaries may have a series of other behaviors they use that have not been documented yet. To get a full picture of threats your organization faces, (1) Leverage your own intelligence sources, (2) create and document your own observed techniques, and (3) don’t limit yourselves to behaviors, a timely indicator can catch an adversary.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="anchor" id="navigator">
                        <p></p>
                    </div>
                    <div>
                        <h2>ATT&amp;CK Navigator</h2>
                        Use it to visualize defensive coverage, red/blue team planning, the frequency of detected techniques, and more. For more information on how to use Navigator, <a href="https://www.youtube.com/watch?v=pcclNdwG8Vs">ATT&amp;CK Navigator Use Case for Threat Intelligence</a>.
                        <br>
                        <br>
                        <a href="https://mitre-attack.github.io/attack-navigator/">
                            <button type="button" class="slide-button">
                                <span class="slide-button-text">
                                    <span>
                                        Explore the Navigator Tool
                                    </span>
                                </span>
                            </button>
                        </a>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="anchor" id="community">
                        <p></p>
                    </div>
                    <div>
                        <h2>Community</h2>
                        <!-- add link to staying informed page -->
                        Stay informed on the latest updates and engage with the ATT&amp;CK Community through Medium, Slack, and Twitter.
                        <br>
                        <br>
                        <a href="/resources/engage-with-attack/contact/">
                            <button type="button" class="slide-button">
                                <span class="slide-button-text">
                                    <span>
                                        Engage with the Community
                                    </span>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}