{% extends "general/base.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}

{% block content %}
{{ super () }}
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item">General Information</li>
  </ol>
</div>
<div class="container pb-3 uniform-block">
  <div class="general-info">
    <div class="clearfix pb-3">

      <div class="clearfix pb-3">
        <h2>Papers</h2>
        <p><strong>Philosophy Papers</strong>: These whitepapers provide an in-depth look at why we created these ATT&amp;CK domains, how we maintain and update them, and what the community commonly uses them for.</p>
        <ul>
          <li>
            <p><a href="/docs/ATTACK_Design_and_Philosophy_March_2020.pdf">ATT&amp;CK Design and Philosophy</a> (pdf)</p>
          </li>
          <li>
            <p>
              <a href="/docs/ATTACK_for_ICS_Philosophy_March_2020.pdf">ATT&amp;CK for ICS extension</a> (pdf):
              This document does not represent a comprehensive resource on MITRE ATT&CK.
              For individuals already familiar with ATT&CK, this document can be viewed as an extension to the
              ATT&CK Design and Philosophy whitepaper above that highlights unique, as well as some common, aspects of the design and philosophy of ATT&CK for ICS.
            </p>
          </li>
        </ul>
        <p><a href="https://www.mitre.org/publications/technical-papers/finding-cyber-threats-with-attck-based-analytics">Finding Cyber Threats with ATT&amp;CK-Based Analytics</a>: This paper presents a methodology for using ATT&amp;CK to build, test, and refine behavioral-based analytic detection capabilities using adversary emulation.</p>
      </div>

      <div class="clearfix pb-3">
        <h2>Presentations</h2>
        <ul class="timeline collapse presentations-timeline-collapse">
        {% for presentation in parsed.presentations %}
          <li class="timeline-card">
            <div class="timeline-card-header">

              <div class="title">
                <a href="{{ presentation.url }}">{{ presentation.name }}</a>
              </div>

              <div class="date">
                {{ presentation.date }}
              </div>

            </div>
            <div class="timeline-card-body">
              {{ presentation.description }}
            </div>
          </li>
        {% endfor %}
        </ul>
        <div class="showmore-btn collapse presentations-timeline-collapse">
          <button class="btn btn-default" data-toggle="collapse" data-target=".presentations-timeline-collapse" role="button" aria-expanded="false" aria-controls="presentations-timeline">
            show more
          </button>
        </div>
      </div>

      <div class="clearfix pb-3">
        <h2>Other ATT&CK Efforts</h2>
        <div class="card-deck">

          <div class="card">
            <div class="card-header">
              <a href="/resources/sightings">ATT&CK Sightings</a>
            </div>
            <div class="card-body">
              Building a community around sharing observations of ATT&CK techniques in the wild.
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a href="/resources/adversary-emulation-plans">Adversary Emulation Plans</a>
            </div>
            <div class="card-body">
              Plans that showcase the practical use of ATT&CK for offensive operators and defenders.
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a href="https://attackevals.mitre-engenuity.org/">ATT&CK Evaluations</a>         
            </div>
            <div class="card-body">
              Evaluations of cybersecurity products using an open methodology based on ATT&CK.
            </div>
          </div>

        </div>
      </div>

      <div class="clearfix pb-3">
        <h2>Graphics</h2>
        <div class="card-deck graphics">

          <div class="card">
            <a href="/docs/attack_roadmap_2020_october.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Roadmap"><img class="card-img-top" src="/theme/images/attack_roadmap_2020_october_preview.png" alt="Card image cap"></a>
            <div class="card-header">
              <a href="/docs/attack_roadmap_2020_october.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Roadmap">MITRE ATT&CK Roadmap</a>
              <p class="mb-0"><small>Last updated October 2020</small></p>
            </div>
          </div>

          <div class="card">
            <a href="/docs/attack_matrix_poster_2021_june.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Matrix Poster"><img class="card-img-top" src="/theme/images/attack_matrix_2021_june_preview.png" alt="Card image cap"></a>
            <div class="card-header">
              <a href="/docs/attack_matrix_poster_2021_june.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Matrix Poster">MITRE ATT&CK Matrix Poster</a>
              <p class="mb-0"><small>Last updated June 2021</small></p>
            </div>
          </div>

          <!-- <div class="card">
            <a href="/docs/MITRE_ATTACK_Enterprise_11x17.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Matrix Placemat"><img class="card-img-top" src="/theme/images/ATTACK_placemat_preview.png" alt="Card image cap"></a>
            <div class="card-header">
              <a href="/docs/MITRE_ATTACK_Enterprise_11x17.pdf" target="_blank" rel="noopener" aria-label="MITRE ATT&CK Matrix Placemat">MITRE ATT&CK Matrix Placemat</a>
              <p class="mb-0"><small>Last updated October 2019</small></p>
            </div>
          </div> -->

        </div>
      </div>

      <div class="clearfix">
        <h2>Other Resources</h2>
        <ul>
          <li>
            <a href="/resources/updates/">ATT&CK Update Log</a>: Recent changes to the ATT&CK content.
          </li>
          <li>
            <a href="/resources/working-with-attack/">Interfaces for Working with ATT&CK</a>: Tools we've developed for accessing and manipulating the ATT&CK content.
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}