{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "ATT&CK Training | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/learn-more-about-attack">Learn More about ATT&amp;CK</a></li>
        <li class="breadcrumb-item">Training</li>
</ol>

<div class="container-fluid pb-3">
    <div class="general-info">
        <h1>ATT&CK Training</h1>
        <ul>
            <li>
                <a href="/resources/learn-more-about-attack/training/cti/">Using MITRE ATT&CK for Cyber Threat Intelligence Training</a>: This training by Katie Nickels and Adam Pennington of the ATT&CK team will help you learn how to apply ATT&CK and improve your threat intelligence practices.
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}