{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "ATT&CK Training | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}


{% block innerleft %}
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
    {{ navigation.sidenav(parsed.menu, output_file) }}  
</div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<div class="px-3">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">ATT&CK Training</li>
    </ol>
</div>

<div class="row pl-5 uniform-block">
    <div class="col-10 general-info">
        <h2>ATT&CK Training</h2>
        <ul>
            <li>
                <a href="/resources/training/cti/">Using MITRE ATT&CK for Cyber Threat Intelligence Training</a>: This training by Katie Nickels and Adam Pennington of the ATT&CK team will help you learn how to apply ATT&CK and improve your threat intelligence practices.
            </li>
            <li>
                Free Cybrary Courses:
                <ul>
                    <li>
                        <a href="https://www.cybrary.it/course/mitre-attack-defender-mad-attack-fundamentals/" target="_blank">MITRE ATT&CK Defender (MAD) ATT&CK Fundamentals Badge Training Course</a>: ATT&CK Fundamentals will not only familiarize you with how the ATT&CK knowledge base documents real-world adversary tactics, techniques, and procedures (TTPs), but also introduce the various ways we can exploit this understanding of adversary TTPs to address current (operational) and future (strategic) threats.
                    </li>
                    <li>
                        <a href="https://www.cybrary.it/course/mitre-attack-defender-mad-attack-for-cyber-threat-intelligence/" target="_blank">MITRE ATT&CK Defender (MAD) ATT&CK Cyber Threat Intelligence Certification Training</a>: The ATT&CK team will help you learn how to leverage ATT&CK to improve your cyber threat intelligence (CTI) practices.
                    </li>
                    <li>
                        <a href="https://www.cybrary.it/course/mitre-attack-defender-mad-attack-for-soc-assessments/" target="_blank">MITRE ATT&CK Defender (MAD) ATT&CK SOC Assessments Certification Course</a>: This SOC Assessments course is designed to help answer "how do you actually implement ATT&CK?" and understand how your current defenses map to ATT&CK.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/navigation.js"></script>
{% endblock %}