{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "Using ATT&CK for CTI Training | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
    {{ navigation.sidenav(parsed.menu, output_file) }}  
</div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<div class="px-3">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item"><a href="/resources/training">ATT&CK Training</a></li>
            <li class="breadcrumb-item">CTI Training</li>
    </ol>
</div>

<div class="row pl-5 uniform-block">
    <div class="col-10">
        <div class="clearfix pb-3">
            <div class="clearfix">
                <h2>Using ATT&CK for Cyber Threat Intelligence Training</h2>
                <p>
                        The goal of this training is for students to understand the following:
                </p>
                <ul>
                    <li>What ATT&CK is and why it’s useful for cyber threat intelligence (CTI)</li>
                    <li>How to map to ATT&CK from both finished reporting and raw data</li>
                    <li>Why it’s challenging to store ATT&CK-mapped data and what you should consider when doing that</li>
                    <li>How to perform CTI analysis using ATT&CK-mapped data</li>
                    <li>How to make defensive recommendations based on CTI analysis</li>
                </ul>
                <p>
                    The training contains five modules that consist of videos and exercises that are linked below. This training was designed to be completed in approximately 4 hours, and may be completed solo or as a team. We recommend you view the video for each module, and when prompted, pause the video to access the exercise documents linked below and complete the exercises, then proceed with viewing the video to go over the exercise. A copy of all slides from the training are <a href="/docs/training-cti/CTI%20Workshop%20Full%20Slides.pdf" target="_blank">here</a>.
                </p>
                <p>
                    The exercises in this training are based on a previous version of ATT&CK. We recommend using <a href="https://attack.mitre.org/versions/v6/">ATT&CK v6</a> and <a href="https://mitre-attack.github.io/attack-navigator/v2/enterprise/">ATT&CK Navigator v2</a> if you want to match the training.
                </p>
            </div>
            <div class="clearfix training pb-3">
                <h2 >Training Modules</h2>
                <div class="card-block w-100">   
                    <!-- module 1 -->
                    <div class="card w-100">
                        <div class="card-header collapsed" id="module-one-header"  data-toggle="collapse" data-target="#module-one-body" aria-expanded="false" aria-controls="module-one-body">
                            <h5 class="mb-0">
                                Module 1: Introducing training and understanding ATT&CK
                            </h5>
                        </div>
                        <div id="module-one-body" class="collapse" aria-labelledby="module-one-header">
                            <div class="card-body">
                                <ul class="mb-0">
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=mm4j4g3NL-Q&list=PLkTApXQou_8IlkPDzY8vroxBLLhbZbqqC&index=1" target="_blank">Module 1 Video <img width="10" src="/theme/images/external-site-dark.jpeg"></a></div>
                                    </li>
                                    <li>
                                         <div><a href="/docs/training-cti/Module%201%20Slides.pdf" target="_blank">Module 1 Slides</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- module 2 -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="module-two-header"  data-toggle="collapse" data-target="#module-two-body" aria-expanded="false" aria-controls="module-one-body">
                            <h5 class="mb-0">
                                Module 2 with Exercise 2: Mapping to ATT&CK from finished reporting
                            </h5>
                        </div>
                        <div id="module-two-body" class="collapse" aria-labelledby="module-two-header">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=VUqdytInxRg&list=PLkTApXQou_8IlkPDzY8vroxBLLhbZbqqC&index=2" target="_blank">Module 2 Video <img width="10" src="/theme/images/external-site-dark.jpeg"></a></div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="/docs/training-cti/Module%202%20Slides.pdf" target="_blank">Module 2 Slides</a></div>
                                    </li>
                                </ul>
                                <h4>Exercise 2: Mapping from finished reporting
                                </h4>
                                <p class="card-text border border-danger p-3 mb-2 rounded">
                                    <span class="font-weight-bold text-danger">Warning:</span> This exercise is based on a previous version of ATT&CK. We recommend using <a href="https://attack.mitre.org/versions/v6/">ATT&CK v6</a> if you want to match the training.
                                </p>
                                <div class="exercise p-3">    
                                    <strong>Cybereason Cobalt Kitty Report</strong>: we walk through this exercise in the video and slides.
                                    <ul>
                                        <li>
                                            <a href="/docs/training-cti/Cybereason%20Cobalt%20Kitty%20-%20highlights%20only.pdf" target="_blank">Cybereason Cobalt Kitty Report: Highlights Only</a>
                                            <br>
                                            <em>Identifies the highlighted behaviors you should map to tactics and techniques – choose this for a more challenging exercise.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/Cybereason%20Cobalt%20Kitty%20-%20tactic%20hints.pdf" target="_blank">Cybereason Cobalt Kitty Report: Tactic Hints</a>
                                            <br>
                                            <em>Identifies the tactics for the highlighted behaviors so you just fill in the technique – choose this for a less challenging exercise.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/Cybereason%20Cobalt%20Kitty%20-%20answers.pdf" target="_blank">Cybereason Cobalt Kitty Report: Answers</a>
                                            <br>
                                            <em>Provides one set of answers for the exercise.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/Cybereason%20Cobalt%20Kitty%20-%20original%20report.pdf" target="_blank">Cybereason Cobalt Kitty Report: Original Report</a>
                                            <br>
                                            <em>For reference only if you would like to see the report in totality.</em>
                                        </li>
                                    </ul>
                                    <strong>FireEye APT39 Report</strong>: we do not walk through this exercise in the video and slides, but if you would like more practice mapping finished reporting to ATT&CK, we recommend you do this exercise on your own.

                                    <ul>
                                        <li>
                                            <a href="/docs/training-cti/FireEye%20APT39%20-%20highlights%20only.pdf" target="_blank">FireEye APT39 Report: Highlights Only</a>
                                            <br>
                                            <em>Identifies the highlighted behaviors you should map to tactics and techniques.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/FireEye%20APT39%20-%20answers.pdf" target="_blank">FireEye APT39 Report: Answers</a>
                                            <br>
                                            <em>Provides one set of answers for the exercise.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/FireEye%20APT39%20-%20original%20report.pdf" target="_blank">FireEye APT39 Report: Original Report</a>
                                            <br>
                                            <em>For reference only if you would like to see the report in totality.</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- module 3 -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="module-three-header" data-toggle="collapse" data-target="#module-three-body" aria-expanded="false" aria-controls="module-one-body">
                            <h5 class="mb-0">
                                Module 3 with Exercise 3: Mapping to ATT&CK from raw data 
                            </h5>
                        </div>
                        <div id="module-three-body" class="collapse" aria-labelledby="module-three-header">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=0p1UFnBWgj8&list=PLkTApXQou_8IlkPDzY8vroxBLLhbZbqqC&index=3" target="_blank">Module 3 Video <img width="10" src="/theme/images/external-site-dark.jpeg"></a></div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="/docs/training-cti/Module%203%20Slides.pdf" target="_blank">Module 3 Slides</a></div>
                                    </li>
                                </ul>
                                <h4>Exercise 3: Working with raw data
                                </h4>
                                <p class="card-text border border-danger p-3 mb-2 rounded">
                                    <span class="font-weight-bold text-danger">Warning:</span> This exercise is based on a previous version of ATT&CK. We recommend using <a href="https://attack.mitre.org/versions/v6/">ATT&CK v6</a> if you want to match the training.
                                </p>
                                <div class="exercise p-3">    
                                    <strong>Ticket 473822</strong>: we walk through this exercise in the video and slides
                                    <ul>
                                        <li>
                                            <a href="/docs/training-cti/ticket-473822.rtf" target="_blank">Ticket 473822 Rich Text File</a>
                                            <br>
                                            <em>Provides raw data from a simulated incident for you to use to annotate applicable ATT&CK tactics and techniques.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/ticket-473822%20answers.pdf" target="_blank">Ticket 473822 Answers</a>
                                            <br>
                                            <em>Provides one set of answers for the exercise.</em>
                                        </li>
                                    </ul>
                                    <strong>Ticket 473845</strong>: we walk through this exercise in the video and slides

                                    <ul>
                                        <li>
                                            <a href="/docs/training-cti/ticket-473845.rtf" target="_blank">Ticket 473845 Rich Text File</a>
                                            <br>
                                            <em>Provides raw data from a simulated incident for you to use to annotate applicable ATT&CK tactics and techniques.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/ticket-473845%20answers.pdf" target="_blank">Ticket 473845 Answers</a>
                                            <br>
                                            <em>Provides one set of answers for the exercise.</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- module 4 -->
                    <div class="card w-100 mt-1">
                        <div class="card-header collapsed" id="module-four-header" data-toggle="collapse" data-target="#module-four-body" aria-expanded="false" aria-controls="module-one-body">
                            <h5 class="mb-0">
                                Module 4 with Exercise 4: Storing and analyzing ATT&CK-mapped intel
                            </h5>
                        </div>
                        <div id="module-four-body" class="collapse" aria-labelledby="module-four-header">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=8wLGeMPx7Qw&list=PLkTApXQou_8IlkPDzY8vroxBLLhbZbqqC&index=4" target="_blank">Module 4 Video <img width="10" src="/theme/images/external-site-dark.jpeg"></a></div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="/docs/training-cti/Module%204%20Slides.pdf" target="_blank">Module 4 Slides</a></div>
                                    </li>
                                </ul>
                                <h4>Exercise 4: Comparing layers in ATT&CK Navigator
                                </h4>
                                <p class="card-text border border-danger p-3 mb-2 rounded">
                                    <span class="font-weight-bold text-danger">Warning:</span> This exercise is based on a previous version of ATT&CK. We recommend using <a href=" https://mitre-attack.github.io/attack-navigator/v2/enterprise/">ATT&CK Navigator v2</a> if you want to match the training.
                                </p>
                                <div class="exercise p-3">    
                                    <ul>
                                        <li>
                                            <a href="/docs/training-cti/Comparing%20Layers%20in%20Navigator.pdf" target="_blank">Comparing Layers in Navigator</a>
                                            <br>
                                            <em>Provides detailed instructions for using Navigator to compare techniques used by APT39 and Cobalt Kitty (OceanLotus). You may find it useful to print this document (in color if possible) to have it as a reference as you work through the exercise on your screen.</em>
                                        </li>
                                        <li>
                                            <a href="/docs/training-cti/APT39%20and%20Cobalt%20Kitty%20techniques.pdf" target="_blank">APT39 and Cobalt Kitty techniques</a>
                                            <br>
                                            <em>A list of the techniques used by APT39 and Cobalt Kitty (OceanLotus) extracted from the reports in Exercise 2. If you are already familiar with Navigator, you could use these techniques to try to create and compare layers yourself.</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- module 5 -->

                    <div class="card w-100 mt-1">

                        <div class="card-header collapsed" id="module-five-header" data-toggle="collapse" data-target="#module-five-body" aria-expanded="false" aria-controls="module-one-body">
                            <h5 class="mb-0">
                                Module 5 with Exercise 5: Making ATT&CK-mapped data actionable with defensive recommendations
                            </h5>
                        </div>
                        <div id="module-five-body" class="collapse" aria-labelledby="module-five-header">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="mb-2"><a href="https://www.youtube.com/watch?v=RpCpKc4m3gI&list=PLkTApXQou_8IlkPDzY8vroxBLLhbZbqqC&index=5" target="_blank">Module 5 Video <img width="10" src="/theme/images/external-site-dark.jpeg"></a></div>
                                    </li>
                                    <li>
                                         <div class="mb-2"><a href="/docs/training-cti/Module%205%20Slides.pdf" target="_blank">Module 5 Slides</a></div>
                                    </li>
                                </ul>
                                <h4>Exercise 5: Making defensive recommendations 
                                </h4>
                                <p class="card-text border border-danger p-3 mb-2 rounded">
                                    <span class="font-weight-bold text-danger">Warning:</span> This exercise is based on a previous version of ATT&CK. We recommend using <a href="https://attack.mitre.org/versions/v6/">ATT&CK v6</a> if you want to match the training.
                                </p>
                                <div class="exercise p-3">    
                                    <strong>Guided Exercise</strong>: we walk through this exercise in the video and slides.
                                    <ul>
                                        <li><a href="/docs/training-cti/Making%20Defensive%20Recommendations%20Guided%20Exercise.rtf" target="_blank">Making Defensive Recommendations Guided Exercise Rich Text Document</a>
                                        </li>
                                            <em>Guides you though steps for making defensive recommendations from ATT&CK techniques with specific questions and assumptions provided for each step.
                                            </em>
                                    </ul>
                                    <strong>Unguided Exercise</strong>: we do not walk through this exercise in the video and slides, but if you would like more practice making defensive recommendations directly related to your own organization, we recommend you do this exercise on your own.

                                    <ul>
                                        <li><a href="/docs/training-cti/Making%20Defensive%20Recommendations%20Unguided%20Exercise.rtf" target="_blank">Making Defensive Recommendations Unguided Exercise</a>
                                        </li>
                                            <em>Provides steps for making defensive recommendations from ATT&CK techniques.
                                            </em>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end use cases -->
        </div>
    </div> 
</div>


<!--startindex-->
{% endblock %}
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/navigation.js"></script>
{% endblock %}      