{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "ATT&CK Training | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/learn-more-about-attack">Learn More about ATT&amp;CK</a></li>
        <li class="breadcrumb-item">Training</li>
</ol>

<div class="container-fluid pb-3">
    <div class="general-info">
        <h1>ATT&CK Training</h1>
        <ul>
            <li>
                <a href="/resources/learn-more-about-attack/training/cti/">ATT&CK Cyber Threat Intelligence</a>: This training by the ATT&CK team will help you learn how to apply ATT&CK and improve your threat intelligence practices.
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/purple-teaming-fundamentals/">Purple Teaming Fundamentals
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/attack-fundamentals/">ATT&CK Fundamentals
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/adversary-emulation/">ATT&CK Adversary Emulation
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/access-tokens/">ATT&CK Access Tokens Technical Primer
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/soc-assessments/">ATT&CK Based SOC Assessments
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/threat-hunting/">TTP-Based Threat Hunting and Detection Engineering
            </li>
            <li>
                <a href="/resources/learn-more-about-attack/training/detection-engineering/">ATT&CK Detection Engineering
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<!--startindex-->
{% block scripts %}
{{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}