{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "CTI Training | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
<!--stopindex-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item"><a href="/resources/learn-more-about-attack">Learn More about ATT&amp;CK</a></li>
    <li class="breadcrumb-item"><a href="/resources/learn-more-about-attack/training">Training</a></li>
    <li class="breadcrumb-item">CTI Training</li>
</ol>

<div class="container-fluid pb-3">
  <div class="getting-started">
    <div class="clearfix pb-3">
      <div class="clearfix">
        <div class="card card-filter jump-to-section">
          <div class="card-body">
            Jump to Section
            <ul>
              {% for training in parsed.cti_training.values() %}
              <li>
                <a href="#{{training.id}}">{{training.short_name}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="getting-started-content">
          <h1>CTI Training</h1>
          <p>
            The goal of this training is for students to understand the following:
          </p>
          <ul>
            <li>
              Why ATT&CK is useful for cyber threat intelligence
              (CTI)
            </li>
            <li>
              How to map to ATT&CK from both finished reporting and raw data
            </li>
            <li>
              Why it’s challenging to store ATT&CK-mapped data and what you should
              consider when doing that
            </li>
            <li>How to perform CTI analysis using ATT&CK-mapped data</li>
            <li>How to make defensive recommendations based on CTI analysis</li>
          </ul>
          <p>
            The training contains five modules that consist of videos and exercises that are linked below.
            This training was designed to be completed in approximately 4 hours, and may be completed solo or as a team.
            We recommend you view the video for each module, and when prompted, pause the video to access the exercise documents linked below and complete the exercises, then proceed with viewing the video to go over the exercise.
            A copy of all slides from the training are <a href="/docs/training-cti/CTI%20Workshop%20Full%20Slides.pdf" target="_blank">here</a>.
          </p>
          <p class="card-text border border-danger p-3 mb-2 rounded">
            <span class="font-weight-bold text-danger">Note:</span>This training assumes an existing knowledge of ATT&CK and its primary concepts. We recommend reviewing the content from our <a href="https://www.youtube.com/watch?v=THOGnEqoStQ&list=PLLGRmm150VfC6p5RMJDMe1ZgliqDfXhvd">ATT&CK Fundamentals Training</a> before taking this training.
          </p>
          <p class="card-text border border-danger p-3 mb-2 rounded">
            <span class="font-weight-bold text-danger">Note:</span> The exercises in this training are based on a previous version of ATT&amp;CK. We suggest using <a href="https://attack.mitre.org/versions/v8/">ATT&amp;CK v8</a> and <a href="https://mitre-attack.github.io/attack-navigator/#bundleURL=https%3A%2F%2Fraw.githubusercontent.com%2Fmitre%2Fcti%2FATT%26CK-v8.2%2Fenterprise-attack%2Fenterprise-attack.json&version=8.2&domain=enterprise-attack">ATT&amp;CK Navigator with ATT&CK v8</a> if you want exercise results to exactly match the training.
          </p>
          <div class="mt-4">
            <h2>Modules</h2>
          </div>
          {% for training in parsed.cti_training.values() %}
          <div class="anchor" id="{{training.id}}"></div>
          <div class="card w-60 card-training">
            <div class="card-body training-card-body">
              <div class="training-header">
                <div class="training-text-container">
                  <strong class="title">{{ training.name }}</strong>
                  <div class="text-label">{{ training.module }}</div>
                </div>
                <div class="mt-3">
                  <div class="resources-container">
                    <a href="{{ training.youtube }}">
                      <button type="button" class="slide-button">
                        <span class="slide-button-text">
                          <span> Video </span>
                        </span>
                        <span class="slide-button-icon">
                          <i class="fa fa-external-link"></i>
                        </span>
                      </button>
                    </a>
                    <a href="{{ training.slides }}">
                      <button type="button" class="slide-button slide-button-secondary">
                        <span class="slide-button-text">
                          <span> Slides </span>
                        </span>
                        <span class="slide-button-icon">
                          <i class="fa fa-external-link"></i>
                        </span>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
              {% for exercise in training.exercises %}
              <div class="mt-3">
                <strong>{{ exercise.name }}</strong>
                <ul class="resource-links">
                  <li>
                    <p class="card-text border border-danger p-3 mb-2 rounded">
                      <span class="font-weight-bold text-danger">Note:</span> This exercise is based on a previous version of ATT&amp;CK. We recommend using <a href="{{ exercise.software.url }}">{{ exercise.software.version }}</a> if you want to match the training.
                    </p>
                  </li>
                </ul>
                <div class="resources-container">
                  {% for resource in exercise.resources %}
                  <div class="resource">
                    <strong>{{ resource.name }}</strong>
                    {% for link in resource.links %}
                    <ul class="resource-links">
                      <li>
                        <a href="{{ link.url }}">{{ link.text }}</a>
                        {{ link.description }}
                      </li>
                    </ul>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--startindex-->
{% endblock %} {% block scripts %} {{ super() }}
<!--SCRIPTS-->
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}
</div>