{% extends "general/two-column.html" %}
{% set active_article = "resources" -%}
{% set title = "Updates - " + article.title + " | MITRE ATT&CK&reg;" -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
{{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/versions/">Version History</a></li>
        <li class="breadcrumb-item">{{ article.date|strftime("%B %Y") }} Release Notes</a></li>
    </ol>
    <div class="container-fluid blog-post pb-3">
        <h1 class="blog-post-title mb-4">{{ article.title }}</h1>
        {{ article.content }}
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}