{% extends "general/two-column.html" %}
{% set active_article = "resources" -%} 
{% set title = "Updates - " + article.title + " | MITRE ATT&CK&reg;" -%} 
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
    <div id="sidebars"></div>
</div>
{% endblock %}

{% block innerright %}
{{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
        <li class="breadcrumb-item"><a href="/resources/updates">Updates</a></li>
        <li class="breadcrumb-item">{{ article.date|strftime("%B %Y") }}</a></li>
    </ol>
    <div class="blog-post p-3">
        <h1 class="blog-post-title mb-4">{{ article.title }}</h1>
        {{ article.content }}
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/theme/scripts/sidebar-load.js"></script>
{% endblock %}