{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "Version History | MITRE ATT&CK&reg;" -%}
{% set version_history = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}
{% block innerright %}
{{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
        <li class="breadcrumb-item">Updates</li>
    </ol>

    <div class="version-history pb-3">
        <div class="getting-started">
            <h2 class="col-md-8 px-2">Version History</h2>

            <div class="col-md-8 px-2">
                {% if version_history.current %}
                <h5><strong>Current Version</strong></h5>
                <div class="card my-4 p-2 flex-row align-items-center">
                    <div class="col order-first">
                        <span><strong>ATT&amp;CK {{version_history.current.name}}</strong></span>
                        <p class="text-label card-data">
                            {{version_history.current.date_start}} - current
                        </p>
                    </div>
                    <div class="col-md-6 button-group">
                        <button type="button" class="slide-button slide-button-secondary">
                            Release Notes
                        </button>
                        <button type="button" class="slide-button">
                            {{version_history.current.name}} Website
                        </button>
                    </div>
                </div>
                {% endif %}

                <h5><strong>Most Recent Versions</strong></h5>
                {% for i in range(1, 5) %}
                    {% set version = version_history.previous[i] %}
                    <div class="card my-4 p-2 flex-row align-items-center">
                        <div class="col order-first">
                            <span><strong>ATT&amp;CK {{version.name}}</strong></span>
                            <p class="text-label card-data">
                                {{version.date_start}} - {{version.date_end}}
                            </p>
                        </div>
                        <div class="col-md-6 button-group">
                            <button type="button" class="slide-button slide-button-secondary">
                                Release Notes
                            </button>
                            <button type="button" class="slide-button">
                                {{version.name}} Website
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}