{% extends "general/two-column.html" %} 
{% set active_page = "resources" -%}
{% set title = "Updates | MITRE ATT&CK&reg;" -%}
{% set found = {'found': True} -%}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
    {{navigation.sidenav(RESOURCE_NAV, output_file)}} 
</div>
{% endblock %}
{% block innerright %}
{{ super () }}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
        <li class="breadcrumb-item">Updates</li>
    </ol>
    {% if articles %}
        <div class="blog-post p-3">
            <h1 class="blog-post-title mb-4">{{ (articles|selectattr('template', 'equalto', 'resources/update-post')|first).title }}</h1>
            {{ (articles|selectattr('template', 'equalto', 'resources/update-post')|first).content }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/theme/scripts/navigation.js"></script>
{% endblock %}