{% extends "general/base.html" %}
{% set active_page = "resources" -%}
{% set title = page.title + " | MITRE ATT&CK&reg;" -%}
{% set parsed = page.data | from_json %}
{% import 'macros/filetree.html' as filetree %}

{% block content %}
{{ super () }}
<div class="container-fluid">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item">Working With ATT&CK</li>
    </ol>
</div>
<div class="container pb-3 uniform-block decorative-panels">
    <div class="working-with-attack">
        <h2>Accessing ATT&CK Data</h2>
        <!-- STIX data panel -->
        <div class="decorative-panel container">
            <div class="decorative-panel-header row align-items-center">
                <div class="col py-4">
                    <h3>ATT&CK in STIX</h3>
                    <p>
                        Structured Threat Information Expression (STIX&trade;) is a language and serialization 
                        format used to exchange cyber threat intelligence (CTI). The ATT&CK dataset is available in STIX 2.0 and STIX 2.1. 
                        Other presentations of this dataset, including the ATT&CK Navigator and this website, are built from the STIX data.
                    </p>
                    <button class="btn btn-default" id="stix-button" data-toggle="collapse" data-target="#stix-body" aria-expanded="false" aria-controls="stix-body">Learn more</button>
                </div>
                <div class="col text-right">
                    <img class="w-100" src="/theme/images/mitre-cti.png">
                </div>
            </div>
            <div class="decorative-panel-body collapse pt-4"  id="stix-body" aria-labelledby="stix-button">
                <div class="row align-items-center">
                    <div class="col">
                        <p>
                            STIX is a machine-readable format providing access to the ATT&CK knowledge base. It is the most granular 
                            representation of the ATT&CK data, and all other representations are derived from the STIX dataset. 
                        </p>
                        <p>Consider using ATT&CK in STIX if you:</p>
                        <ul>
                            <li>Have automated workflows that need to ingest ATT&CK data.</li>
                            <li>Are a proficient Python user seeking to save time with automation or want to perform advanced queries.</li>
                            <li>Want your workflows to keep up-to-date with the evolving knowledge base.</li>
                            <li>Want to extend the ATT&CK dataset with custom content, and use this custom content with ATT&CK tools.</li>
                        </ul>
                        <p>
                            The ATT&CK STIX representation is most easily manipulated in Python using the
                            <a href="https://github.com/oasis-open/cti-python-stix2#installation">stix2</a> library. However, because STIX is represented in JSON, 
                            other programming languages can easily interact with the raw content.
                        </p>
                        <p>
                            The ATT&CK STIX data can be retrieved from GitHub directly, or accessed via the official ATT&CK TAXII&trade; server. 
                            Trusted Automated Exchange of Intelligence Information (TAXII) is an application protocol for exchanging CTI over HTTPS. The ATT&CK TAXII server provides API access to the ATT&CK STIX knowledge base.
                            Learn more about accessing the TAXII server <a href="https://github.com/mitre/cti/blob/master/USAGE.md#access-from-the-attck-taxii-server">here</a>.
                        </p>
                    </div>
                    <div class="col text-center">
                        <div class="card mb-4 w-75 mx-auto">
                            <h4 class="card-header">
                                ATT&CK in STIX 2.1
                            </h4>
                            <div class="card-body">
                                <h4 class="mb-4"><a href="https://github.com/mitre-attack/attack-stix-data">Visit the repository</a></h4> 
                                <h4 class="mb-0"><a href="https://github.com/mitre-attack/attack-stix-data/blob/master/USAGE.md">Read the docs</a></h4>
                            </div>
                        </div>
                        <div class="card mb-4 w-75 mx-auto">
                            <h4 class="card-header">
                                ATT&CK in STIX 2.0
                            </h4>
                            <div class="card-body">
                                <h4 class="mb-4"><a href="https://github.com/mitre/cti">Visit the repository</a></h4> 
                                <h4 class="mb-0"><a href="https://github.com/mitre/cti/blob/master/USAGE.md">Read the docs</a></h4>
                            </div>
                        </div>
                        <h4 class="mb-4"><a href="https://oasis-open.github.io/cti-documentation/stix/intro">Learn about STIX</a></h4>
                        <h4><a href="https://oasis-open.github.io/cti-documentation/taxii/intro.html">Learn about TAXII</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Excel data panel -->
        <div class="decorative-panel container">
            <div class="decorative-panel-header row align-items-center">
                <div class="col py-4">
                    <h3>ATT&CK in Excel</h3>
                    <p>
                        Excel spreadsheets representing the ATT&CK dataset. These spreadsheets are built from the STIX dataset 
                        and provide a more human-accessible view into the knowledge base while also supporting 
                        rudimentary querying/filtering capabilities.
                    </p>
                    <button class="btn btn-default" id="excel-button" data-toggle="collapse" data-target="#excel-body" aria-expanded="false" aria-controls="excel-body">Learn more</button>
                </div>
                <div class="col order-first">
                    <img class="w-100" src="/theme/images/attack-in-excel.png">
                </div>
            </div>
            <div class="decorative-panel-body collapse row align-items-center pt-4" id="excel-body" aria-labelledby="excel-button">
                <div class="col">
                    <p>Consider using ATT&CK in Excel if you:</p>
                    <ul>
                        <li>Want to quickly sort, filter and query the dataset in a familiar UI.</li>
                        <li>Want to explore the contents of the dataset without having to navigate around the ATT&CK website.</li>
                        <li>Are not comfortable enough in Python or other programming languages to work with the STIX representation.</li>
                    </ul>
                    <p>
                        The Excel representation of the ATT&CK dataset includes both master spreadsheets, containing all object types, and 
                        individual spreadsheets for each object type. The individual type spreadsheets break out relationships 
                        (e.g procedure examples connecting groups to techniques) into separate sheets by relationship type,
                        while the master spreadsheet includes all relationship types in a single sheet. 
                        Otherwise the representation is identical.
                    </p>
                    <p>
                        A citations sheet can be used to look up the in-text citations which appear in some fields. 
                        For domains that include multiple matrices, such as Mobile ATT&CK, each matrix gets its own named sheet. 
                        Unlike the STIX dataset, objects that have been <i>revoked</i> or <i>deprecated</i> are not included in the spreadsheets.
                    </p>
                    <p>
                        The source code for the STIX to Excel converter can be found in our <a href="https://github.com/mitre-attack/mitreattack-python">mitreattack-python pip module</a>.
                    </p>
                </div>
                <div class="col file-list">
                    {{filetree.filetree(parsed.excel_files)}}
                </div>
            </div>
        </div>
        <h2>Tools for working with ATT&CK</h2>
        <!-- Navigator -->
        <div class="decorative-panel container">
            <div class="decorative-panel-header row align-items-center">
                <div class="col py-4">
                    <h3>ATT&CK Navigator</h3>
                    <p>
                        The ATT&CK Navigator is a web-based tool for annotating and exploring ATT&CK matrices. It can be used to
                        visualize defensive coverage, red/blue team planning, the frequency of detected techniques, and more.
                    </p>
                    <h4><a href="https://mitre-attack.github.io/attack-navigator/">Open the application</a></h4>
                    <h4><a href="https://github.com/mitre-attack/attack-navigator/">Visit the repository</a></h4>
                </div>
                <div class="col text-right">
                    <img class="w-100" src="/theme/images/nav-example.png">
                </div>
            </div>
        </div>
        <!-- Workbench -->
        <div class="decorative-panel container">
            <div class="decorative-panel-header row align-items-center">
                <div class="col py-4">
                    <h3>ATT&CK Workbench</h3>
                    <p>
                        The ATT&CK Workbench is an application allowing users to explore, create, annotate, and share extensions of the ATT&CK knowledge base.
                    </p>
                    <h4><a href="https://github.com/center-for-threat-informed-defense/attack-workbench-frontend">Visit the repository</a></h4>
                </div>
                <div class="col order-first">
                    <img class="w-100" src="/theme/images/workbench-groups-list.png">
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <div class="decorative-panel container">
            <div class="decorative-panel-header row align-items-center">
                <div class="col py-4">
                    <h3>ATT&CK Python Utilities</h3>
                    <p>
                        ATT&CK provides a variety of Python tools for accessing, querying, and processing the ATT&CK dataset. 
                        These scripts can be useful utilities or serve as examples for how to work with ATT&CK programmatically.
                    </p>
                    <h4><a href="https://github.com/mitre-attack/mitreattack-python">Install our pip module</a></h4>
                    <h4><a href="https://github.com/mitre-attack/attack-scripts/">Explore our standalone scripts</a></h4>
                </div>
                <div class="col text-right">
                    <img class="w-100" src="/theme/images/attack-scripts.png">
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}