{% macro reference_section(citations) -%}
    {% if citations %}
        {% if citations.current_number > 0 %}
        <h2 class="pt-3" id="references">References</h2>
        {% if citations.current_number % 2 == 0 %}
            {% set half = (citations.current_number//2) + 1 %}
        {% else %}
            {% set half = (citations.current_number//2) + 2 %}
        {% endif %}

        <div class="row">
            <div class="col">
                <ol>
                    {% for j in range(1, half) %}
                        {% for citation in citations if citations[citation].number == j %}
                            {{ reference_section_helper(citations[citation]) }}
                        {% endfor %}
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                {% if citations.current_number > 1 %}
                    <ol start="{{half}}.0">
                        {% for j in range(half, citations.current_number + 1) %}
                            {% for citation in citations if citations[citation].number == j %}
                                {{ reference_section_helper(citations[citation]) }}
                            {% endfor %}
                        {% endfor %}  
                    </ol>
                {% endif %}
            </div>             
        </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro reference_section_helper(citation) %}

    {% if citation.url %}
        <li>
            <span  id="scite-{{citation.number}}" class="scite-citation">
                <span class="scite-citation-text">
                    <a rel="nofollow" class="external text" name="scite-{{citation.number}}" href="{{citation.url}}" target="_blank">
                        {{citation.description}}
                    </a>
                </span>
            </span>
        </li>
    {% else %}
        <li>
            <span  id="scite-{{citation.number}}" class="scite-citation">
                <span class="scite-citation-text">{{citation.description}}</span>
            </span>
        </li>
    {% endif %}

{% endmacro %}