<!--
Clean output of STIX content.

stixToHTML
params:
    data (required, string), the STIX description to format
    citations (optional, object), if not None, add citation markers to the data.
    firstParagraphOnly (optional, boolean), if true, only return the first paragraph of the data in question.
    convert (optional, boolean), if true, convert the data to markdown.
-->

{% macro stixToHTML(data, citations=None, firstParagraphOnly=False, convert=True) %}
    {% if data %}
        {{ data | stixToHTML(citations, firstParagraphOnly, convert) }}
    {% endif %}
{% endmacro %}