{% macro render(title, link, description, fa_icon=None, invert_icon=None, buttons=None, header_background=None, footer_description=None, header_subtitle=None) %}
<div class="contact-card card">
    {% if header_background %}
        <div class="card-header background">
            <span class="contact-card-title">
                <h6 class="mb-0"><strong>{{title}}</strong></h6>
            </span>
            {% if header_subtitle %}
            <div class="text-label mt-2">
                {{header_subtitle}}
            </div>
            {% endif %}
        </div>
    {% else %}
        <div class="card-header no-background">
            <a class="partial-underline" href="{{link}}">
                <span class="contact-card-title hover-line">{{title}}</span>
                &nbsp;&nbsp;
                {% if fa_icon %}
                <i class="fa-solid fa-up-right-from-square"></i>
                {% else %}
                <i class="fa-solid fa-arrow-right"></i>
                {% endif %}
            </a>
        {% if fa_icon %}
            <span class="card-title-icon fa-stack">
                {% if invert_icon %}
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="{{fa_icon}} fa-stack-1x fa-inverse"></i>
                {% else %}
                    <i class="{{fa_icon}} fa-stack-2x"></i>
                {% endif %}
            </span>
        {% endif %}
        </div>
    {% endif %}
    <div class="card-body">
        <p>
            {{description}}
        </p>
    </div>
    {% if buttons %}
    <div class="card-footer no-background button-group">
        {% for button in buttons %}
        {% set isCardModal = "card_modal" in button %}
            <a href="{{button.url}}" {% if isCardModal %} aria-controls="{{button.card_modal}}" {% endif %}>
                <button type="button" class="slide-button" {% if isCardModal %} data-toggle="modal" data-target="#{{button.card_modal}}" {% endif %}>
                    <span class="slide-button-text text-nowrap">
                        {{button.label}}
                    </span>
                    <span class="slide-button-icon">
                        <i class="fa-solid fa-up-right-from-square fa-sm"></i>
                    </span>
                </button>
            </a>
        {% endfor %}
    </div>
    {% endif %}
    {% if footer_description %}
        <div class="card-footer card-footer-no-button d-flex align-items-center">
            {% if footer_description %}
                {{footer_description}}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endmacro %}
