{% import 'macros/clean_output.html' as clean_output %}

{% macro detection_strategies_table_datacomponents(detection_strategies) %}
<div class="tables-mobile">
<table class="table datasources-table table-bordered">
    <thead>
        <tr>
            <th class="p-2" scope="col">ID</th>
            <th class="p-2 nowrap" scope="col">Name</th>
            <th class="p-2 nowrap" scope="col">Technique Detected</th>
        </tr>
    </thead>
    <tbody>
        {% for detection_strategy in detection_strategies %}
            <tr class="detection_strategy" id="uses-{{detection_strategy.id}}">
                <td rowspan="{{ rowspan }}">
                    <a href="/detectionstrategies/{{detection_strategy.attack_id}}">{{detection_strategy.attack_id}}</a>
                </td>
                <td rowspan="{{ rowspan }}">
                    <a href="/detectionstrategies/{{detection_strategy.attack_id}}">{{detection_strategy.name}}</a>
                </td>
                <td rowspan="{{ rowspan }}">
                    <a href="{{detection_strategy.technique_url}}">{{detection_strategy.technique_attack_id}}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}