{% import 'macros/clean_output.html' as clean_output %}

{% macro detection_strategies_table_techniques(detection_strategies, citations) %}
<div class="tables-mobile">
<table class="table datasources-table table-bordered">
    <thead>
        <tr>
            <th class="p-2" scope="col">ID</th>
            <th class="p-2 nowrap" scope="col">Name</th>
            <th class="p-2 nowrap" scope="col">Analytic ID</th>
            <th class="p-2 nowrap" scope="col">Analytic Description</th>
        </tr>
    </thead>
    <tbody>
        {% for detection_strategy in detection_strategies %}
            {% set rowspan = detection_strategy.analytics|length if detection_strategy.analytics else 1 %}
            {% for analytic in detection_strategy.analytics %}
                <tr class="detection_strategy" id="uses-{{detection_strategy.id}}">
                    {% if loop.first %}
                        <td rowspan="{{ rowspan }}">
                            <a href="/detectionstrategies/{{detection_strategy.id}}">{{detection_strategy.id}}</a>
                        </td>
                        <td rowspan="{{ rowspan }}">
                            <a href="/detectionstrategies/{{detection_strategy.id}}">{{detection_strategy.name}}</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="/detectionstrategies/{{detection_strategy.id}}#{{ analytic.id }}">{{ analytic.id }}</a>
                    </td>
                    <td>
                        {{clean_output.stixToHTML(analytic.description, citations)}}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}