{% macro full_coverage() %}

<div id="full-coverage" style="display:block; padding-right: auto; padding-left: auto; margin-right: auto; margin-left: auto;">
  <canvas id="board"></canvas>
  <div style="text-align:center;">
    <a href="/full-coverage.html" style="text-decoration: none">
      <button style="background-color: #0b2338; color: white; padding: 14px 20px; border: none; cursor: pointer; width: 300px; opacity: 0.9; font-size: 20px; margin-top: 20px;">Play Game in Full Screen</button>
    </a>
  </div>
</div>

<script type="application/javascript">
  function toggleFullCoverage() {
    var divJumbotron = document.getElementById('attack-jumbotron');
    var div1 = document.getElementById('matrix-section');
    var div2 = document.getElementById('matrix-enterprise');
    var div3 = document.getElementById('matrix-header');
    var divFullCoverage = document.getElementById('full-coverage');
    var btn = document.getElementById('game-toggle');
    if (divJumbotron.style.display === 'none') {
      divJumbotron.style.display = 'block';
      div1.style.display = 'block';
      div2.style.display = 'block';
      div3.style.display = 'block';
      divFullCoverage.style.display = 'none';
      btn.innerHTML = 'Back to Game'
    } else {
      divJumbotron.style.display = 'none';
      div1.style.display = 'none';
      div2.style.display = 'none';
      div3.style.display = 'none';
      divFullCoverage.style.display = 'block';
      btn.innerHTML = 'Back to Normal'
    }
  }
  </script>

  <script src="/theme/scripts/attack-game.js"></script>
  <script src="/theme/scripts/attack-game-data.js"></script>

{% endmacro %}
