{% macro render_small(title, link, fa_icon) %}
<div class="horizontal-card">
    <div class="horizontal-card-container">
        <div class="horizontal-card-header">
            <a class="external text" href="{{link}}">
                <h2>{{title}}</h2>
            </a>
            <button type="button" class="horizontal-card-title-action">
                <i class="fa fa-external-link"></i>
            </button>
            <span class="fa-stack" style="vertical-align: top;">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa {{fa_icon}}"></i>
            </span>
        </div>
        <div class="horizontal-card-body">
            <p>
                card content goes here
            </p>
        </div>
        <div class="horizontal-card-footer">
            bottom links will go here, if needed
        </div>
    </div>
</div>
{% endmacro %}
