{% macro render_small(title, link, description, is_external, fa_icon=None, invert_icon=None, buttons=None) %}
<div class="horizontal-card card">
    <div class="card-header no-background">
        <a class="partial-underline" href="{{link}}">
            <span class="horizontal-card-title hover-line">{{title}}</span>
            &nbsp;&nbsp;
            {% if is_external %}
            <i class="fa-solid fa-up-right-from-square"></i>
            {% else %}
            <i class="fa-solid fa-arrow-right"></i>
            {% endif %}
        </a>
        {% if fa_icon %}
        <span class="card-title-icon fa-stack">
            {% if invert_icon %}
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="{{fa_icon}} fa-stack-1x fa-inverse"></i>
            {% else %}
                <i class="{{fa_icon}} fa-stack-2x"></i>
            {% endif %}
        </span>
        {% endif %}
    </div>
    <div class="card-body">
        <p>
            {{description}}
        </p>
    </div>
    {% if buttons %}
    <div class="card-footer no-background button-group">
        {% for button in buttons %}
        <div class="card-button-container">
            <a href="{{button.url}}">
                <button type="button" class="card-button">
                    <span class="card-button-text">
                        {{button.label}}
                    </span>
                    <span class="card-button-icon">
                        <i class="fa-solid fa-up-right-from-square fa-sm"></i>
                    </span>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}
