{% macro render_small(title, link, description, is_external, fa_icon=None) %}
<div class="horizontal-card card">
    <div class="card-header no-background">
        <a class="partial-underline" href="{{link}}">
            <span class="horizontal-card-title hover-line">{{title}}</span>
            &nbsp;&nbsp;
            {% if is_external %}
            <i class="fa-solid fa-up-right-from-square"></i>
            {% else %}
            <i class="fa-solid fa-arrow-right"></i>
            {% endif %}
        </a>
        {% if fa_icon %}
        <span class="card-title-icon">
            <i class="fa-brands fa-xl {{fa_icon}}"></i>
        </span>
        {% endif %}
    </div>
    <div class="card-body">
        <p>
            {{description}}
        </p>
    </div>
    <div class="card-footer no-background">
        links
    </div>
</div>
{% endmacro %}
