{% macro navigation_menu(menu, output_file) -%}
    <nav class='navbar navbar-expand-lg navbar-dark fixed-top'>
        <a class='navbar-brand' href='/'><img src="/theme/images/mitre_attack.png" height="50px"/></a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse'
                aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon' onclick="search('')"></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='nav nav-tabs ml-auto'>
                {% for element in menu %}
                    {% if element.children %}
                        {{has_child(element)}}
                    {% elif element.external_link %}
                        {{external_link(element)}}
                    {% else %}
                        <li class="nav-item"><a href="{{ element.url }}" {% if output_file | clean_path == element.url %} class="nav-link active" {%
                                else %} class="nav-link" {% endif %}><b>{{ element.name }}</b></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class='navbar-nav flex-row d-md-flex float-right'>
                <li>
                    <form class='form-inline pl-2'>
                        <input class='form-control' type='text' placeholder='Search site' aria-label='Search' id="search"
                            autocomplete="off">
                    </form>
                    <div class="search-results"></div>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}

{% macro external_link(element) %}
    <li class="nav-item">
        <a href="{{element.url}}" target="_blank" {% if id==active_page %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
        <b>{{ element.name }}</b>&nbsp;
        <img src="/theme/images/external-site.svg" alt="External site" class="external-icon" /></a>
    </li>
{% endmacro %}

{% macro has_child(element) %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ element.url }}" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>{{ element.name }}</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for child in element.children %}
                {% if child.children %}
                    {{has_child(child)}}
                {% elif child.external_link %}
                    {{external_link(child)}}
                {% else %}
                    <a class="dropdown-item" href="{{child.url}}">{{ child.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endmacro %}