{% macro layer_links(attack_id, page_type, layers) -%}
    {% if layers | length > 0 %}
    <!--stop-indexing-for-search-->
        <div class="dropdown h3 mt-3 float-right">
            <button class="btn btn-navy dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>ATT&amp;CK<sup>&reg;</sup> Navigator Layers</b>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for layer in layers %}
                    {% if loop.index != 1 %} 
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <h6 class="dropdown-header">{{layer.name}} Layer</h6>
                    <a class="dropdown-item" href="/{{page_type}}/{{attack_id}}/{{layer.filename}}" download target="_blank">download</a>
                    <!-- only show view on navigator link if layer link is defined -->
                    {% if layer.navigator_link %}
                        <a class="dropdown-item" href="#" id="view-layer-on-navigator-{{layer.domain}}" target="_blank">view <img width="10" src="/theme/images/external-site-dark.jpeg"></a>
                        <script src="/theme/scripts/settings.js"></script>
                        <script>
                            if (window.location.protocol == "https:") { //view on navigator only works when this site is hosted on HTTPS
                                layerURL = window.location.protocol + "//" + window.location.host + base_url + "{{page_type}}/{{attack_id}}/{{layer.filename}}";
                                document.getElementById("view-layer-on-navigator-{{layer.domain}}").href = "{{layer.navigator_link}}/#layerURL=" + encodeURIComponent(layerURL);
                            } else { //hide button
                                document.getElementById("view-layer-on-navigator-{{layer.domain}}").classList.add("d-none");
                            }
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    <!--start-indexing-for-search-->
    {% endif %}
{% endmacro %}