<!--
Create sidenav content via recursive datastructure.
params:
    root: a node of the following format:
          {
              name: the node will be labeled with this field
              path: the path to the page
              children: array of nodes of this same type.
          }
    output_file: the current path the navigation is being built to,
                 use jinja's builtin `output_file` for this argument.
    filter: boolean to activate navigation filtering based on domains

Notes:
    the root level node has special behavior. If it has a path,
    it will prepend a tree node called "Overview" with this path.
    The root level node's title is used for the sidenav header,
    and the immediate children are not grouped under an expansion panel,
    unlike grand+ children.
-->
{% macro sidenav(root, output_file, filter=False) %}
<div class="sidenav-wrapper">
    <div class="heading" id="v-home-tab" aria-selected="false">{{root.name | upper}}</div>
    {% if filter %}
    <div class="checkbox-div" id="v-home-tab" aria-selected="false">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="enterpriseSwitch" onchange="filterTables(enterpriseSwitch, icsSwitch)">
            <label class="custom-control-label" for="enterpriseSwitch">Enterprise</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="mobileSwitch" onchange="filterTables(mobileSwitch, enterpriseSwitch)">
            <label class="custom-control-label" for="mobileSwitch">Mobile</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="icsSwitch" onchange="filterTables(icsSwitch, enterpriseSwitch)">
            <label class="custom-control-label" for="icsSwitch">ICS</label>
        </div>
    </div>
    {% endif %}
    <div class="sidenav-list">
        {# "overview" link as first item in list if root.path exists #}
        {% if root.path %}
            {{sidenav_helper("0", {"name": "Overview", "id": "0", "path": root.path, "children": []}, output_file)}}
        {% endif %}
        
        {% for child in root.children %}
            {{sidenav_helper(child.id, child, output_file)}}
        {% endfor %}
    </div>
</div>
{% endmacro %}

<!-- recusive helper for sidenav -->
{% macro sidenav_helper(root_id, root, output_file) %}


<div class="sidenav">
    {% if root.children | length == 0 %}
        {% if root.path %}
            <div class="sidenav-head{% if output_file | clean_path == root.path %} active{% endif %} {% for domain in root.domains %}{{domain}} {% endfor %}" id="{{root_id}}-{{root.id}}">
                <a href="{{root.path | escape_spaces}}"{% if "external" in root and root.external %} target="_blank"{% endif %}>
                    {{root.name}}
                    {% if "external" in root and root.external %}
                        <img src="/theme/images/external-site-dark.jpeg" width="15">
                    {% endif %}
                </a>
            </div>
        {% else %}
            <span>{{root.name}}</span>
        {% endif %}
    {% else %}
        <div class="sidenav-head {% if output_file | clean_path == root.path %} active{% endif %} {% for domain in root.domains %}{{domain}} {% endfor %}" id="{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}">
            {% if root.path %}
                <a href="{{root.path | escape_spaces}}"{% if "external" in root and root.external %} target="_blank"{% endif %}>
                    {{root.name}}
                    {% if "external" in root and root.external %}
                        <img src="/theme/images/external-site-dark.jpeg" width="15">
                    {% endif %}
                </a>
            {% else %}
                <span>{{root.name}}</span>
            {% endif %}
            <div class="expand-button collapsed" id="{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}-header" data-toggle="collapse" data-target="#{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}-body" aria-expanded="false" aria-controls="#{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}-body"></div>

        </div>
        <div class="sidenav-body collapse" id="{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}-body" aria-labelledby="{% if root.id != root_id %}{{root_id}}-{% endif %}{{root.id}}-header">
            {% for child in root.children %}
                {% if root_id == root.id %}
                    {{ sidenav_helper(root_id, child, output_file) }}
                {% else %}
                    {{ sidenav_helper(root_id + "-" + root.id, child, output_file) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}
