
<!-- overlay that gets displayed when the user clicks the search button -->
{% macro searchgui() %}
<div class="overlay search" id="search-overlay" style="display: none;">
    <div class="overlay-inner">
        <!-- text input for searching -->
        <div class="search-header">
            <div class="search-input">
                <input type="text" id="search-input" placeholder="search">
            </div>
            <div class="search-icons">
                <div class="search-parsing-icon spinner-border" style="display: none" id="search-parsing-icon"></div>
                <div class="close-search-icon" id="close-search-icon">&times;</div>
            </div>
        </div>
        <!-- results and controls for loading more results -->
        <div id="search-body" class="search-body">
            <div class="results" id="search-results">
                <!-- content will be appended here on search -->
            </div>
            <div id="load-more-results" class="load-more-results">
                <button class="btn btn-default" id="load-more-results-button">load more results</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}