{% import 'macros/clean_output.html' as clean_output %}

{% macro techniques_used(technique_table_data, title, citations=None) %}
<h2 class="pt-3" id="techniques">{{title}}</h2>
<table class="table techniques-used table-bordered mt-2">
    <thead>
        <tr>
            <th class="p-2" scope="col">Domain</th>
            <th class="p-2" colspan="2">ID</th>
            <th class="p-2" scope="col">Name</th>
            <th class="p-2" scope="col">Use</th>
        </tr>
    </thead>
    <tbody>
        {% for technique in technique_table_data %}
            {% if technique.descr %}
                <tr class="technique" id="uses-{{technique.id}}">
                    <td>
                        {% if technique.domain == "enterprise" %}
                            Enterprise
                        {% elif technique.domain == "mobile" %}
                            Mobile 
                        {% endif %} 
                    </td>
                    <td colspan="2">
                        <a href="/techniques/{{technique.id}}">{{technique.id}}</a>
                    </td>
                    <td>
                        <a href="/techniques/{{technique.id}}">{{technique.name}}</a>
                    </td>
                    <td>
                        {{clean_output.stixToHTML(technique.descr, citations)}}
                    </td>
                </tr>
                {% for subtechnique in technique.subtechniques %}
                    <tr class="sub technique" id="uses-{{technique.id}}-{{subtechnique.id}}">
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                        </td>
                        <td>
                            <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{subtechnique.name}}</a>
                        </td>
                        <td>
                            {{clean_output.stixToHTML(subtechnique.descr, citations)}}
                        </td>
                    </tr>
                {% endfor %}
            {% elif not technique.descr and not technique.subtechniques %}
            <tr class="technique" id="uses-{{technique.id}}">
                <td>
                    {% if technique.domain == "enterprise" %}
                        Enterprise
                    {% elif technique.domain == "mobile" %}
                        Mobile 
                    {% else %}
                        PRE-ATT&CK 
                    {% endif %} 
                </td>
                <td colspan="2">
                    <a href="/techniques/{{technique.id}}">{{technique.id}}</a>
                </td>
                <td>
                    <a href="/techniques/{{technique.id}}">{{technique.name}}</a>
                </td>
                <td>
                </td>
            </tr>
            {% else %}
                {% for subtechnique in technique.subtechniques %}
                    {% if loop.first %}
                        <tr class="sub technique noparent" id="uses-{{technique.id}}-{{subtechnique.id}}">
                            <td>
                                {% if technique.domain == "enterprise" %}
                                    Enterprise
                                {% elif technique.domain == "mobile" %}
                                    Mobile 
                                {% endif %} 
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}">{{technique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}">{{technique.name}}</a>: <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{subtechnique.name}}</a>
                            </td>
                            <td>
                                {{clean_output.stixToHTML(subtechnique.descr, citations)}}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="sub technique" id="uses-{{technique.id}}-{{subtechnique.id}}">
                            <td></td>
                            <td></td>
                            <td>
                                <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">.{{subtechnique.id}}</a>
                            </td>
                            <td>
                                <a href="/techniques/{{technique.id}}">{{technique.name}}</a>: <a href="/techniques/{{technique.id}}/{{subtechnique.id}}">{{subtechnique.name}}</a>
                            </td>
                            <td>
                                {{clean_output.stixToHTML(subtechnique.descr, citations)}}
                            </td>
                        </tr>                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}