<!-- version permalink button -->
{% macro permalink_button(output_file, object_name, format=True) %}
<div class="{% if format %}text-center pt-2 {% endif %}version-button live">
    <div class="live">
        <a data-toggle="tooltip" 
           data-placement="bottom" 
           title="Permalink to this version of {{object_name}}" 
           href="{{ output_file | permalink }}" data-test-ignore="true">Version Permalink</a>
    </div>
    <div class="permalink">
        <a data-toggle="tooltip" 
           data-placement="bottom" 
           title="Go to the live version of {{object_name}}" 
           href="{{ output_file | permalink }}" data-test-ignore="true">Live Version</a><!--do not change this line without also changing versions.py-->
    </div>
</div>
{% endmacro %}