//$use_attack_theme : true;
// end search
// Do not remove previous lines - used to add/remove ATT&CK theme

/*COLORS*/

// ATT&CK Brand colors
$attack-colors: (
    attack-orange: #c63f1f,
    attack-blue: #062f4f
);
// User colors
$user-colors: (
    user-gray: #303435
);

/**
 * Colors used across the website.
 * For each color-pair:
 *   - "color" refers to the color itself
 *   - "on-color" refers to the most readable text-color to appear on top of the color. 
 * Note: some colors don't define on-colors. This is because, for these colors, they aren't intended to
 * appear with inner content. For example, "link" is only intended to be used for link text, which inherently
 * cannot have inner text.
 */
$colors: (
    primary: (color: if(variable-exists($name: use_attack_theme), map-get($attack-colors, attack-orange), map-get($user-colors, user-gray)),  on-color: white),  //used for header and some nav elements
    secondary: (color: if(variable-exists($name: use_attack_theme), map-get($attack-colors, attack-blue), map-get($user-colors, user-gray)), on-color: white),  //used for footer and some buttons
    body: (color: white, on-color: #39434C),                                  //primary page body
    // body: (color: rgb(50, 50, 50), on-color: #cdcdcd),                          //example of a dark theme for the site
    link: (color: #4f7cac),                                                     //hyperlinks
    matrix-header: (color: gray, on-color: white),                            //color of matrix headers

    //bootstrap colors
    bootstrap-primary: (color: #428bca, on-color: white),
    bootstrap-success: (color: #5cb85c, on-color: white),
    bootstrap-danger: (color: #d9534f, on-color: black),
    bootstrap-warning: (color: #f0ad4e, on-color: black),
    bootstrap-info: (color: #5bc0de, on-color: white),

    //query highlight in the search UI
    search-highlight: (color: yellow, on-color: black)
);

// accessor helper for $colors. Gets the color of the named pair
@function color($name) {
    @return map-get(map-get($colors, $name), "color");
}

// given a color name, get an alternate version of the color, for patterning
// if the base color is dark, the alternate will be slightly lighter.
// if the base color is light, the alternate will be slightly darker.
// contrast, an optional argument, multiplies to create a more distint or similar color. >1 is more distant, <1 is more similar.
@function color-alternate($name, $contrast: 1) {
    @return mix(invert(color($name)), color($name), $weight: $contrast * 5%); 
}

// accessor helper for $colors. Gets the on-color of the named pair
@function on-color($name) {
    @return map-get(map-get($colors, $name), "on-color");
}

// given a color-name, get an emphasized version of the on-color.
// The emphasized on-color is less like the background color.
@function on-color-emphasis($name) {
    @return mix(invert(color($name)), on-color($name)); 
}
// given a color-name, get an deemphasized version of the on-color.
// The deemphasized on-color is more like the background color.
@function on-color-deemphasis($name) {
    @return mix(color($name), on-color($name), 25%); 
}

// given a color name, compute a border color for the color
@function border-color($name) {
    @return mix(invert(color($name)), color($name), 12.5%); 
    // @return rgba(invert(color($name)), 0.125);
}

// given a color name, compute a border color for the color
@function background-color($name) {
    @return mix(invert(color($name)), color($name), 12.5%); 
}

// escape the color. Note param is a color and not a color name: this is not an accessor to the color map above.
// replaces # with %23 in hex colors
// see https://codepen.io/gunnarbittersmann/pen/BoovjR for explanation of why we have to escape # for the background image
@function escape-color($color) {
    $hex: ie-hex-str($color);
    @return "%23"+ str-slice($string: #{$hex}, $start-at: 4); //skip #AA in #AARRGGBB
}

// used in 404 and contact templates
.deemphasis {
    color: on-color-deemphasis(body);
}

// background color for the table matrix headers in the home page and the matrices page
.matrix-header {
    background-color: color(matrix-header);
    color: on-color(matrix-header);
}

// background color for the table matrix in the home page
.bg-alternate {
    background-color: color-alternate(body) !important;   
}


/******/
