$fonts: (
    font-families: (
        "Roboto-Thin",
        "Roboto-Light",
        "Roboto-Regular",
        "Roboto-Medium",
        "Roboto-Bold",
        "Roboto-Black",
        "AlegreyaSans-Regular"
    ),
    font-weights: (
        100,
        300,
        400,
        500,
        700,
        900,
        400
    ),
    srcs: (
        "fonts/Roboto/Roboto-Thin.ttf",
        "fonts/Roboto/Roboto-Light.ttf",
        "fonts/Roboto/Roboto-Regular.ttf",
        "fonts/Roboto/Roboto-Medium.ttf",
        "fonts/Roboto/Roboto-Bold.ttf",
        "fonts/Roboto/Roboto-Black.ttf",
        "fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf"
    )
);

/*FONTS*/
@for $i from 1 to length(map-get($fonts, "font-families")) {
    @font-face {
        font-family: nth(map-get($fonts, "font-families"), $i);
        font-style: normal;
        font-weight: nth(map-get($fonts, "font-weights"), $i);
        src: url(nth(map-get($fonts, "srcs"), $i));
    }
}

.text-label {
    text-transform: uppercase;
    font-size: 14px;
}

h1, .subtechnique-parent-name {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.75;
}
h2 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.75;
}
h3 {
    @include font("Roboto-Bold");
    font-size: 20px;
    line-height: 1.2;
}
h4, h5 {
    @include font("Roboto-Light");
}
strong {
    @include font("Roboto-Bold");
}
/******/
