/*Footer styling*/
.footer {
    background-color: color(footer);
    color: on-color(secondary);
    padding: 1rem 3rem;
    @include font("Roboto-Thin");

    // place footer at the bottom
    &.sticky-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    // space block between text block and buttons in footer
    .footer-responsive-break {
        display: none;
    }

    // place buttons to the right of footer
    .footer-float-right-responsive-brand {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;
    }

    // place button to the right of footer; vertically centered
    .footer-float-right-responsive-centered {
        display: flex;
        justify-content: flex-end;
        align-items:center;
    }

    .footer-link-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link {
        color: on-color(footer);

        &:hover {
            //add some link color to this so that it resembles a link, but is still visible if normal link color is not visible on footer color
            color: mix(on-color(footer), color(link));
        }
    }
}

.col {
    .col-footer {
        border-right: 1px solid;
    }
}

.p-footer {
    padding-left: 25px;
}

.btn-footer {
    color: white;
    padding: .375rem;
}

.btn-footer:hover {
    color: white;
}

// phones and small tablets view
@media screen and (max-width: 47.9875rem) {
    .footer {
        // space block between text block and buttons in footer
        .footer-responsive-break {
            display: block !important;
        }

        // extend buttons width to 100% in the footer
        .footer-float-right-responsive-brand {
            float: none !important;
        }

        .footer-float-right-responsive-centered {
            float: none !important;
            display: block !important;
            justify-content: none !important;
            align-items: none !important;
        }
    }
}
/******/

//Hides the footer when the user tries to print out a page so that the page looks clean and only the relevant information is displayed

@media print {
    .footer {
        visibility: hidden;
        display: none;
    }
}