/*General styling*/
html { height: 100%; }
body {
    height: 100%;
    background: color(body);
    color: on-color(body); 
    @include font("Roboto-Regular");
    display: flex;
    flex-direction: column;
}
//footer IE compatability
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     body {
         height: auto; //fix footer bug
     }
}
// .maincontent { //grow the page content to fill space before footer
//     flex-grow: 1;
// }

.attack-website-wrapper {
    max-height: 100vh;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    @include font("Roboto-Light");
}

strong {
    @include font("Roboto-Bold");
}

.jumbotron {
    padding: 0;
    background: color(body);
    color: on-color(body); 
    
    code {
        color: on-color-emphasis(body);
        background-color: color-alternate(body, 2);
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;
    }
}

a {
    color: color(link); 

    .anchor::before {
        content: "";
        display: block;
        margin-top: to-rem(-80); 
        position: absolute;
    }
}

.marker-none {
    list-style-type: none;
}

.overflow-x-auto {   
    overflow-x: auto;
}

.fs-s {
    font-size: small;
}

.capec-card {
    background: rgb(128,0,0);

    img {
        margin: to-rem(8);
        max-width: to-rem(160); 
        max-height: to-rem(55); 
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
}

.maec-card {
    background: #212121;

    img {
        margin: to-rem(8); 
        max-width: to-rem(146); 
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
}

.default-img-size {
    width: 100%; 
    max-width: to-rem(1000);
}

.twitter-icon {
    vertical-align: top;
    width: to-rem(20);
    height: to-rem(20);
}

.mitre-logo-wtrans {
    width: to-rem(144);
    height: to-rem(66);
}

// left column in the home page
.quick-links {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    td {
        padding: to-rem(5) 0;
    }
    tr+tr {
        border-top: 1px solid border-color(body);
    }
}

// p for home page
.p-line {
    p {
        border-top: 0.0625rem solid #1c2226; 
    }
}

// button style in the side navigation of MATRICES, TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
.btn-default {
    background: color(body);
    border-color: on-color-deemphasis(body);
    color: on-color(body);
    &:hover {
        color: on-color-emphasis(body);
    }
}

// placeholder for base style of all navy colored buttons
%button-style {
    color: on-color(secondary);
    border-color: to-rem(1) solid color(secondary);
}

// navy buttons are in the home page and in MATRICES
.btn-navy {
    @extend %button-style;
    background-color: color(secondary);
    color: on-color(secondary);

    &:hover {
        // Extending placeholder 'button-style' is necessary to keep on-color white. Else, the on-color will change to the <a> tag on-color when hovering the button.
        @extend %button-style;
        background-color: scale-color(color(secondary), $lightness: 5%); 
        background-image: none;
    }
}

// Style for changelog markdown section
.markdown-body {

    h1:not(:first-child) {
        padding-top: 2rem;
    }
    h1 {
        padding-bottom: rem(0.5);
        font-size: rem(1.5);
    }
    h2 {
        font-size: rem(1.0);
    }
    h3 {
        font-size: rem(0.8);
    }
}

// Base style for section headers in Resources
.uniform-block h2 {
    text-align: center;
    border-bottom: to-rem(1) solid on-color-emphasis(body); 
    width: 100%;
    margin: to-rem(25) 0;
}
/******/

/*Table styling*/
.table, .blog-post table, .changelog table  {
    empty-cells: hide;

    td {
        p:last-child {
            margin-bottom: 0;
        }
        padding: .75rem;
        vertical-align: top;
    }
    th {
        padding: rem(0.3);
        vertical-align: top;
        font-size: rem(0.6);
    }

    .active {
        color: color(primary);
    }
}

.blog-post table {
    margin-bottom: 1.5rem;
}

// background color for tables in TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
.table-alternate, .blog-post table, .changelog table {
    @extend .bg-alternate;
    tbody {
        background: color(body);
        color: on-color(body);
    }
}

// table for techniques
.table-techniques {

    thead tr {
        background: #f2f2f2;
        border-bottom: 2px solid #dee2e6;
    }
    table {
        border-collapse: collapse;
    }
    td {
        vertical-align: top;
        padding: 10px;
        border: 1px solid #dfdfdf;
    }
    tr:last-child {
        border-bottom: 1px solid #dfdfdf;;
    }
    .sub.technique {
        border-left: none;
    }
    .technique td:first-child {
        border-bottom: none;
    }
    .sub.technique td:first-child {
        width: 5ex;
        border-top: none; border-bottom: none;
    }
    .sub.technique td:not(:nth-child(4)) {
        color: #4f7cac;
    }
    .technique:not(.sub) td:not(:nth-child(3)) {
        color: #4f7cac;
    }
}

// Styling for techniques used table
.techniques-used {
    table {
        border-collapse: collapse;
    }
    td {
        vertical-align: top;
        padding: 10px;
        border: 1px solid #dfdfdf;
    }
    tr:last-child {
        border-bottom: 1px solid #dfdfdf;;
    }
    .sub.technique {
        border-left: none;
    }
    .technique td:first-child {
        border-bottom: none;
    }
    .technique td:nth-child(2) {
        border-bottom: none;
    }
    .sub.technique:not(.noparent) td:nth-child(2) {
        width: 5ex;
        border-top: none;
        border-bottom: none; 
    }
    .sub.technique:not(.noparent) td:first-child {
        width: 5ex;
        border-top: none; border-bottom: none;
    }
}

.techniques-used.background {
    thead tr {
        background: #f2f2f2;
        border-bottom: 2px solid #dee2e6;
    }
}

// .table td.border {
//     border-color: on-color-deemphasis(body);
// }

// Styling for datasources table
.datasources-table {
    table {
        border-collapse: collapse;
    }
    thead tr {
        background: #f2f2f2;
        border-bottom: 2px solid #dee2e6;
    }
    td {
        vertical-align: top;
        padding: 10px;
        border: 1px solid #dfdfdf;
    }
    tr:last-child {
        border-bottom: 1px solid #dfdfdf;;
    }
    .datacomponent.datasource {
        border-left: none;
    }
    .datasource td:first-child {
        border-bottom: none;
    }
    .datasource td:nth-child(2) {
        border-bottom: none;
    }
    .datacomponent.datasource:not(.noparent) td:nth-child(2) {
        width: 5ex;
        border-top: none;
        border-bottom: none; 
    }
    .datacomponent.datasource:not(.noparent) td:first-child {
        width: 5ex;
        border-top: none; border-bottom: none;
    }

    .nowrap {
        white-space:nowrap;
    }
}

.table-bordered, .blog-post table, .changelog table {
    &, & td, & th {
        border: 1px solid border-color(body);
    }
    th {
        border-bottom: 2px solid border-color(body) !important;
    }
}

// border style for empty cells in the home page matrix and in MATRICES
@mixin no-border($property) {
    #{$property}: none !important;
}

// vertically aligned text
@mixin align($text, $vertical) {
    text-align: $text !important;
    vertical-align: $vertical !important;
}

// matrix style in home page and in MATRICES
.table-matrix {
    @include no-border(border);

    thead th {
        @include align(center, middle);
        border: to-rem(1) solid border-color(body) !important;
    }

    td,
    th {
        @include align(center, middle);
        @include no-border(border-top);
        padding: to-rem(2) !important;
        font-size: to-rem(12) !important;

        &.border {
            border: to-rem(1) solid border-color(body) !important;
        }
            
        &.no-border {
            @include no-border(border);
        }
    }

    td {
        background: color(body);
        color: on-color(body);
    }
}

// table expands/contracts depending on the cell's content
%table-nowrap {
    white-space: nowrap;
    width: 1%;
}

// mitigation tables
.table-mitigations {
    @extend %table-nowrap;

    th,
    td {
        @extend %table-nowrap;
    }
}



// number of table rows in TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
.div-count {
    margin-top: auto; 
    margin-bottom: 0
}

.table-object-count {
    display: flex;
    justify-content: flex-end;
}

// links in header row of matrices in the home page matrix and in MATRICES
.matrix-tactics-url {
    color: on-color(primary);

    &:visited,
    &:hover,
    &:active {
        color: on-color(primary);
    }
}
/******/

/*BANNER*/
.banner-message {
    padding: to-rem(5) 0;
    text-align: center;
    background-color: color-alternate(body, 2);
}

// basic banner
.version-banner {
  @extend .banner-message;
}
/******/

/*IMG/SVG ICON in BANNER*/
.icon-inline {
    display: inline-flex;
    align-self: center;

    svg,
    img {
        height: rem(0.7);
        width: rem(0.7);
        fill: currentColor;
        top: rem(-0.175);
        position: relative;
    }
}
/******/

/*Pre-block in SIGHTINGS*/
// style for inline code blocks
pre {
    color: on-color(body);
    background-color: color-alternate(body, 3);
    border-radius: 5px;
    padding: 1rem;
}
/******/

/*CARDS*/
// cards are used in the General Information and Related Projects page, and in TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
.card {
    background: color(body);
    color: on-color(body); 
    border-color: border-color(body);
}
.card-data {
    margin-bottom: rem(0.2);
}

.card-header {
    color: on-color(body);
    background: rgba(on-color(body), 0.03);
    border-bottom-color: border-color(body);
}

.card-body {
    // Remove extra whitespace from tables inside of cards
    // Source: https://github.com/philipnewcomer/bootstrap4-card-tables/blob/master/src/bootstrap4-card-tables.scss
    > .table {
        border-right: 0;
		border-left: 0;
		margin-bottom: 0;

		&:last-child {
			border-bottom: 0;
		}

		&:not(.table-sm) th,
        &:not(.table-sm) td {
			padding: 0.75rem 1.25rem;
		}

		td:first-child,
		th:first-child {
			border-left: 0;
		}

		td:last-child,
		th:last-child {
			border-right: 0;
		}

		tr:first-child td,
		tr:first-child th {
			border-top: 0;
		}

		tr:last-child td {
			border-bottom: 0;
		}
	}

	.card-header + .table {
		border-top: 0;
	}
}
// remove botton margin from last item in the card
.card-data:last-of-type {
    margin-bottom: 0;
}

.card-title {
    font-size: rem(0.8);
    color: on-color-emphasis(body); 
}
/******/

/*TWITTER*/
// twitter container in the home page
.twitter-card {
    width: to-rem(400);
    max-width: 100%;
    height: to-rem(400);
    margin: 0 auto;
    iframe {
        border: 1px solid border-color(body) !important;
        border-radius: .25rem;
    }
    
}
/******/

/*BREADCRUMBS*/
.breadcrumb {
    font-size: 90%;
    background-color: color(body); 

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
        color: on-color-deemphasis(body);
    }
}
/******/

/*CALLOUTS*/
// callouts style in the Contribute page
.bs-callout {
    padding: 0 to-rem(20) to-rem(20) to-rem(20);
    margin: to-rem(20) 0;
    border: to-rem(1) solid border-color(body);
    border-left-width: to-rem(5);
    border-radius: to-rem(3);

    p {
        margin-left: to-rem(20);
        margin-bottom: 0;
    }

    + .bs-callout {
        margin-top: to-rem(-5);
    }

    $callouts: (
        "primary": color(bootstrap-primary),  
        "success": color(bootstrap-success),  
        "danger": color(bootstrap-danger),    
        "warning": color(bootstrap-warning),  
        "info": color(bootstrap-info),        
    );

    @each $key, $val in $callouts {
        &.bs-callout-#{$key} {
            border-left-color: $val;

            h5 {
                color: $val;
                margin-top: to-rem(15);
                margin-bottom: to-rem(10);
            }
        }
    }
}

.danger-card {
    .card-header {
        background: color(primary);
        color: on-color(primary);
    }
    border-color: color(primary);
}
/******/

/*ATT&CKCON*/
// collapsible expansion panels - light
.bg-accord-light {
    color: on-color(body);
    background-color: color-alternate(body);
}

// collapsible expansion panels - dark
.bg-accord-dark {
    color: on-color(body);
    background-color: color-alternate(body, 3);
}
/******/

/*CONTRIBUTE*/
.contribution-headers {
    @include font("Roboto-Regular");
}

/*CONTRIBUTE Examples*/
.new-examples {
    padding: to-rem(10) to-rem(10) 0 to-rem(10);
    width: 100%;

    &.second-example {
        margin-top: to-rem(10);
        margin-bottom: to-rem(20);
    }

    .example-container {
        background-color: color-alternate(body);
        padding: to-rem(15);

        .examples-div {
            display: flex;

            .margin-contribute-a {
                margin-left: to-rem(25);
            }

            .margin-contribute-b {
                margin-left: to-rem(183);
            }
        }

        .examples-p {
            margin-left: to-rem(5);
            margin-bottom: to-rem(10);
            word-break: break-word;
        }

        .nested-examples-div {
            padding-left: to-rem(50);
        }

        .example-fields {
            @include font("Roboto-Bold");

            + ul {
                padding-left: to-rem(100);
            }
        }
    }
}
/******/

/* No transition */
.notransition:after {
  transition: none !important;
}

/*FAQ*/
.faq {
    line-height: rem(1.7);
}
/******/

@mixin collapsible($direction) {
    display: flex;
    flex-direction: row;

    :first-child {
        cursor: pointer;
        display: inline-block;
        flex-grow: 1;
    }

    &:#{$direction}, &::#{$direction} {
        content: "";
        cursor: pointer;
        width: to-rem(24);
        height: to-rem(24);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='#{escape-color(on-color(body))}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        z-index: 1;
        transition: all 0.2s ease;
    }
    
    
    @if $direction == "before" {
        &.collapsed:#{$direction}, &.collapsed::#{$direction} {
            transform: rotate(-90deg);
        }
    } @else {
        &:not(.collapsed):#{$direction}, &:not(.collapsed)::#{$direction} {
            transform: rotate(-180deg);
        }
    }
}

/*Card Blocks*/
// container of groups of cards
.card-block {
    // style of card headers in collapsable cards in Getting Started and FAQ
    .card-header {

        h5 {
            @include font("Roboto-Regular");
        }
        @include collapsible("after");
    }

    // style of card titles in Related Projects
    .card-title {
        display: inline-block;
        flex-grow: 1;
        @include font("Roboto-Regular");
    }
}
/******/

/*GENERAL INFORMATION*/
.general-info {
    // cards with image in General Information page
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .graphics .card-header {
        flex-grow: 1;
    }

    // show entire timeline
    .showmore-btn {
        display: block !important;
        text-align: center;

        &.show {
            display: none !important;
        }
    }
}
/******/

/*GETTING STARTED*/
// move video to an item in the getting started list when in mobile or tablet view
.getting-started {
  ul:not(.col) {
      padding: 0 to-rem(15);
      margin-left: to-rem(15);
  }

  .video-li {
      /* don't display the video in the list itself except in mobile layout */
      display: none;
  }

  @media screen and (max-width: 47.9875rem) {
      .row ul.col {
          margin-left: to-rem(30);
      }

      .video-col {
          display: none;
      }

      .video-li {
          display: list-item;
      }
  }
}
/******/

/*Timeline in GENERAL INFORMATION*/
// base style of timeline
@mixin timeline($bg, $w, $h, $z) {
  background: $bg;
  position: absolute;
  width: $w;
  height: $h;
  z-index: $z;
  content: "";
}

.timeline {
    $timeline-size: 20px;
    $timeline-padding: 10px;
    $timeline-hidden-height: 300px;

    overflow-y: hidden;
    position: relative;
    list-style-type: none;
    padding-left: 0;

    // left line
    &:before {
        @include timeline(on-color-deemphasis(body), to-rem(1), 100%, 2);
        left: (0.5 * $timeline-size) + $timeline-padding;
    }

    &.collapse {
        display: block !important;
    }

    // hidden section of the timeline 
    &:not(.show) {
        height: $timeline-hidden-height;

        // creating the 'faded' effect at the of the timeline when a section of the timelien is hidden
        &:after {
            @include timeline(
                linear-gradient(to bottom, transparent, color(body)),   
                100%,
                $timeline-hidden-height / 4,
                4
            );
            bottom: 0;
            pointer-events: none; //allow the user to click-through the overlay
        }
    }

    // milestones in timeline
    .timeline-card {
        margin: $timeline-size 0;
        padding-left: $timeline-size + (2 * $timeline-padding);

        // roundel on the line indicating a milestone
        &:before {
            @include timeline(color(body), $timeline-size, $timeline-size, 3);   
            display: inline-block;
            border-radius: 50%;
            border: to-rem(2) solid on-color-deemphasis(body);
            left: $timeline-padding;
        }

        // title style of the milestone
        .timeline-card-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            clear: both;

            .title {
                display: inline-block;
                flex-grow: 1;
                font-size: rem(0.95);
            }

            .date {
                display: inline-block;
                font-size: rem(0.95);
                text-align: right;
                white-space: nowrap;
                padding-left: to-rem(10);
            }
        }

        // content of each milestone
        .timeline-card-body {
            padding-top: to-rem(5);
        }
    }
}
/******/

/*Description formatting in TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE*/
.description-body {
    line-height: rem(1.5);
}

.description-body.in-table {
    padding: 0.75rem 1.25rem;

    p {
        margin-bottom: 0;
    }
}

.description-body.card-description {
    padding: 0.3rem 0 0 0;

    p {
        margin-bottom: 0;
    }
}
/******/

/*External link icon*/
.external-icon {
    width: to-rem(15);
    margin-top: to-rem(-5);
}
/******/

/*ATTA&K Logo*/
// attack logo in the home page
.attack-logo-bold {
    width: 60%;
}

// attack logo - menu
.attack-logo {
    // vertically center
    margin: 8px 0;
    display: block;
    height: 24px;
}

/******/

/* anchor tag to bypass navbar */
.anchor {
    display: block;
    position: relative;
    top: to-rem(-66);
    visibility: hidden;
}

.section-view {
    .anchor-section {
        position: -webkit-sticky;
        position: sticky;
        top: 4.125rem;
        background: color(body);
        z-index: 100;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
        padding-bottom: 0.5rem;
    }

    // don't show in mobile view
    .section-mobile-view {
        display: none;
    }

    // show in desktop view
    .section-desktop-view {
        display: block;
    }

    // collapsed view for phones and small tablets
    @media screen and (max-width: 47.9875rem) {
        // show collapsed side navigation (mobile view)
        .section-mobile-view {
            display: block;
        }

        // don't show side navigation in desktop view
        .section-desktop-view {
            display: none;
        }
    }

    .section-shadow {
        border-bottom: 1px solid #dfdfdf !important;
    }

    table {
        margin-top: -1px;
    }
}

/******/

/******/

/*Plus/Minus expand icons*/
// used in the expandable list items in the side navigation and in the expandable gray blocks in ATT&CKCON
.expand-icon {
    font-size: 5%;
    color: on-color(body); 
    margin-top: to-rem(7);
}
/******/

/* attackcon page */
.attackcons {
    border: 1px solid border-color(body);
    border-top-width: 0px;
    .sponsors-block {
        background: #efefef;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .img-container {
            margin: 10px;
            img { 
                width: 80%;
                margin: auto;
            }
        }
    }
}
/******/

/* training pages */
.training {
    .exercise {
        background: color-alternate(body);
    }
}
/******/

// Decorative panels used for working-with-attack page

.decorative-panels {
    .decorative-panel {
        // display: block;
        .decorative-panel-header, .decorative-panel-body { padding: 10px; }
        .decorative-panel-header {
            h3, h4, .btn {
                margin-bottom: 16px;
            }
        }

        .decorative-panel-body.show {
            border-top: 1px solid border-color(body);
        }


        & + .decorative-panel {
            margin-top: 25px;
        }

        &:nth-of-type(even) {
            border-radius: 8px;
            background: color-alternate(body);
        }
    }
    @media screen and (max-width: 47.9875rem) {
        .row {
            display: block;
            &.collapse:not(.show) {
                display: none;
            }
        }
    }
}

.working-with-attack {
    .file-list {
        border: 3px solid border-color(body);
        border-radius: 8px;
        background: color(body);
        margin: 10px;
        padding: 10px;
        ul {
            margin-bottom: 0;
        }
    }
}

/*Card Blocks*/
// container of groups of cards
.expand-panel {
    .card-block {
        // style of card headers in collapsable cards in Getting Started and FAQ
        .card-header {
    
            h5 {
                @include font("Roboto-Regular");
            }
            @include collapsible("after");
    
            &:not(:last-child) { 
                border-bottom: none; 
            }
        }
    
        // style of card titles in Related Projects
        .card-title {
            display: inline-block;
            flex-grow: 1;
            @include font("Roboto-Regular");
        }

        .first-card {
            border-bottom: none;
            border-radius: .25rem .25rem 0 0;
        }

        .last-card {
            border-radius: 0 0 .25rem .25rem;
        }

        .middle-card {
            border-bottom: none;
            border-radius: 0;
        }
    }
}
/******/