@import "_layouts.scss";

/*Navigation styling*/
// base style for nav-links in the top navigation bar (across the web site)
%ele-state {
    border: to-rem(1) solid transparent;
    border-top-left-radius: rem(-0.05);
    border-top-right-radius: rem(-0.05);
    text-decoration: underline;
}

/*Top NAVIGATION*/          // top navigation bar across the web site
.navbar {
    background-color: color(primary);

    // ATT&CK brand in the top navigation bar
    .navbar-brand {
        font-size: rem(1.7);
    }

    .nav-tabs {
        border-bottom: none;

        // list items
        .nav-link {
            color: on-color(primary);
            @include font("Roboto-Light");

            &:focus {
                color: on-color(primary);
                @extend %ele-state;
            }

            &:hover:not(.active) {
                color: on-color(primary);
                background-color: transparent;
                @extend %ele-state;
            }

            &.active {
                color: on-color(primary);
                background-color: color(primary);
                @extend %ele-state;
            }
        }

        .nav-item.show .nav-link {
            color: on-color(primary);
            background-color: color(primary);
            border-color: transparent;
        }
    }
    .search-button {
        padding: .3rem to-rem(16);
        font-size: 1rem;
        border: to-rem(1) solid on-color(primary);
        border-radius: .25rem;
        color: on-color(primary);
        line-height: to-rem(24);
        

        opacity: 0.8;
        &:hover { opacity: 1; }

        .search-icon {
            // margin: 0 15px;
            content: "";
            cursor: pointer;
            width: to-rem(24);
            height: to-rem(24);
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            background-position: center;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='#{escape-color(on-color(primary))}' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
            z-index: 1;
            transition: all 0.2s ease;
        }
    }
}
/******/

.nav,
.faq {

    /*NAVIGATION Dropdown*/     // dropdowns in top navigation bar
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        background-color: color(primary);

        .dropdown-item {
            color: on-color(primary);

            &:hover,
            &:focus {
                color: on-color(primary);
                text-decoration: underline;
                background-color: transparent;
            }
        }
    }
    /******/

    /*Side NAVIGATION*/
    // bold list name for MATRICES, TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
    .heading {
        font-size: rem(1.3);
        color: on-color-deemphasis(body); 
        letter-spacing: to-rem(3);
    }

    // dropdown of the button in the side natigation. This button is in MATRICES, TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
    .heading-dropdown {
        font-size: rem(0.9);
        color: color(secondary);
        letter-spacing: to-rem(3);
    }

    border-color: border-color(body) !important;

    // smaller fon-size and letter spacin for phones and small tablets 
    @media screen and (max-width: 90.62rem) {
        // bold list name for MATRICES, TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
        .heading {
            font-size: rem(0.9);
            color: on-color-deemphasis(body); 
            letter-spacing: to-rem(3);
        }

        // dropdown of the button in the side natigation. This button is in MATRICES, TACTICS, TECHNIQUES, MITIGATIONS, GROUPS, and SOFTWARE
        .heading-dropdown {
            font-size: rem(0.7);
            color: on-color(body);
            letter-spacing: to-rem(1);
        }
    }
    /******/

    // list items
    .nav-link {
        font-size: rem(0.7);
        padding: rem(0) rem(0.7);
        color: on-color-deemphasis(body); 
    
        &.expand-title {
            font-size: rem(0.8);
            color: on-color(body);  
        }
    
        &.side {
            padding: rem(0) rem(0);
            word-break: break-word;
    
            &:hover {
                background-color: color(primary);
                color: on-color(primary);
            }
    
            &.active {
                color: color(primary);
                background-color: color-alternate(body); 
                border-right: to-rem(3) solid color(primary);
            }
        }
    }

    /*Side navigation collapse for GROUPS and SOFTWARE*/
    // don't show collapsed side navigation (desktop view)
    .group-nav-mobile-view {
        display: none;
    }

    // show side navigation in desktop view
    .group-nav-desktop-view {
        display: block;
    }

    // side navigation collapsed view for phones and small tablets
    @media screen and (max-width: 47.9875rem) {
        // show collapsed side navigation (mobile view)
        .group-nav-mobile-view {
            display: block;
        }

        // don't show side navigation in desktop view
        .group-nav-desktop-view {
            display: none;
        }
    }
    /******/
}
/******/
.sidenav {
    width: 100%;
    word-break: break-word; 
    font-size: rem(0.8);
    .sidenav-head {
        display: flex;
        flex-direction: row;
        a, .expand-button { //any direct child
            cursor: pointer;
            &:hover {
                background: color-alternate(body);
            }
        }
        a, span {
            padding: rem(0); 
            display: inline-block;
            flex-grow: 1;
            height: 100%;
            &:hover {
                text-decoration: none; //disable underline
            }
        }        
        .expand-button {
            padding: 5px;
            border-left: 1px solid color-alternate(body);
            display: inline-block;
            @include collapsible("after");
        }
        
        &.active { //current page
            &, &>a { color: color(primary) !important; }
            // background-color: color-alternate(body); 
            // border-right: to-rem(3) solid color(primary);
        }
        
    }
    .sidenav { //nested
        padding-left: to-rem(12);
    }
}
