@import '_colors.scss';

// highlight for found search words in preview and title
.search-word-found {
    background: color(search-highlight);
    color: on-color(search-highlight);
}

.btn-group-text {
    padding: .25rem, .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid transparent;
}
.overlay.search {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1051; // header is 1050 and we need to overlay header
    background: rgba(0,0,0,0.35);
    padding: 50px;

    .overlay-inner {
        border-radius: 25px;
        background: color(body);
        color: on-color(body);
        width: 100%; 

        display: flex;
        flex-flow: column;
        max-height: 100%;

        .search-header {
            flex-shrink: 0;
            position: relative;
            .search-input {
                padding: 10px;
                input {
                    padding-left: 12.5px;
                    font-size: 25px;
                    line-height: 50px;
                    width: 100%;
                    border: 0;
                    background: color(body);
                    color: on-color(body);
                    &:focus {
                        outline: none;
                    }

                }
            }
            .search-icons {
                position: absolute;
                top: 0px;
                right: 0px;
                >div {
                    display: inline-block;
                }
                .search-parsing-icon {
                    height: 25px;
                    width: 25px;
                    margin-bottom: 8px;
                    opacity: 0.5;
                }
                .close-search-icon {
                    font-size: 50px;
                    width: 50px; line-height: 50px;
                    text-align: center;
                    margin: 10px; 
                    
                    opacity: 0.8;
                    cursor: pointer;
                    &:hover { opacity: 1; }
                }
            }

        }

        .search-body {
            flex: 1 1 auto;
            padding: 0 50px;
            border-top: 1px solid border-color(body);
            margin-bottom: 25px;
            overflow-y: auto;

            .results {
                .search-result:first-child {
                    margin-top: 1.5rem;
                }
            }
            .load-more-results { //button and stuff for showing more results
                text-align: center;
            }
            
        }
    }
}

// internet explorer compatability override
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .overlay.search .search-body { flex-basis: 50vh !important; }
}

// mobile display search overrides
@media screen and (min-width: 1px) and (max-width: 767.8px) {
    .search-input input { font-size: 20px !important; line-height: 25px !important; }
    .close-search-icon { font-size: 25px !important; line-height: 25px !important; width: 25px !important; }
    .search-parsing-icon { width: 14px !important; height: 14px !important; margin-bottom: 5px !important;}
}