@import "colors.scss";
// .tour-backdrop {
//     opacity: 0.3;
//     position: fixed;
// }
.popover {
    .popover-header { 
        background: color(primary);
        color: on-color(primary);
    }

    box-shadow: 0 0 5px 3px color(body); // give the popover a halo for readability

    //darker border
    border-color: color(primary);
    &.bs-popover-left .arrow::before { border-left-color: color(primary); }
    &.bs-popover-right .arrow::before { border-right-color: color(primary); }
    &.bs-popover-top .arrow::before { border-top-color: color(primary); }
    &.bs-popover-bottom {
        .arrow::before, .arrow::after, .popover-header::before { 
            border-bottom-color: color(primary); 
        }
    }
}

.tour-backdrop, .tour-highlight { //hide tour backdrop and highlight to prevent animations
    opacity: 0; 
}