@import "colors.scss";
// .tour-backdrop {
//     opacity: 0.3;
//     position: fixed;
// }
.popover {
    .popover-header { color: #212529; } // darker header text color

    //darker border
    border-color: on-color-deemphasis(body);
    &.bs-popover-left .arrow::before { border-left-color: on-color-deemphasis(body); }
    &.bs-popover-right .arrow::before { border-right-color: on-color-deemphasis(body); }
    &.bs-popover-top .arrow::before { border-top-color: on-color-deemphasis(body); }
    &.bs-popover-bottom .arrow::before { border-bottom-color: on-color-deemphasis(body); }
}

.tour-backdrop, .tour-highlight { //hide tour backdrop and highlight to prevent animations
    opacity: 0; 
}