$fonts: (
    font-families: (
        "Roboto-Thin",
        "Roboto-Light",
        "Roboto-Regular",
        "Roboto-Medium",
        "Roboto-Bold",
        "Roboto-Black",
        "AlegreyaSans-Regular"
    ),
    font-weights: (
        100,
        300,
        400,
        500,
        700,
        900,
        400
    ),
    srcs: (
        "fonts/Roboto/Roboto-Thin.ttf",
        "fonts/Roboto/Roboto-Light.ttf",
        "fonts/Roboto/Roboto-Regular.ttf",
        "fonts/Roboto/Roboto-Medium.ttf",
        "fonts/Roboto/Roboto-Bold.ttf",
        "fonts/Roboto/Roboto-Black.ttf",
        "fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf"
    )
);

/*FONTS*/
@for $i from 1 to length(map-get($fonts, "font-families")) {
    @font-face {
        font-family: nth(map-get($fonts, "font-families"), $i);
        font-style: normal;
        font-weight: nth(map-get($fonts, "font-weights"), $i);
        src: url(nth(map-get($fonts, "srcs"), $i));
    }
}
/******/
