{% extends "general/two-column.html" %} 
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% if parsed.domain == "pre" %}
    {% set title = "Techniques - PRE-ATT&CK | MITRE ATT&CK&reg;" -%}
{% elif parsed.domain == "mobile" %}
    {% set title = "Techniques - Mobile | MITRE ATT&CK&reg;" -%}
{% else %} 
    {% set title = "Techniques - Enterprise | MITRE ATT&CK&reg;" -%}
{% endif %}
{% block innerleft %}
<!--stopindex-->
    {% if parsed.domain == "pre" %}
        <button class="btn btn-default dropdown-toggle heading-dropdown mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRE-ATT&CK</button>
    {% elif parsed.domain == "mobile" %}
        <button class="btn btn-default dropdown-toggle heading-dropdown mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MOBILE</button>
    {% else %} 
        <button class="btn btn-default dropdown-toggle heading-dropdown mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ENTERPRISE</button>
    {% endif %}
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/techniques/enterprise">ENTERPRISE</a>
        <a class="dropdown-item" href="/techniques/mobile">MOBILE</a>
        <a class="dropdown-item" href="/techniques/pre">PRE-ATT&CK</a>
    </div>
    <div id="v-tab" role="tablist" aria-orientation="vertical">
        {{ navigation.sidenav(parsed.menu, output_file) }}  
    </div>
<!--startindex-->
{% endblock %}

{% block innerright %}
<!--stopindex-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/techniques/{{parsed.domain}}/">Techniques</a></li>
        {% if parsed.domain == "pre" %}
            <li class="breadcrumb-item">PRE-ATT&CK</li>
        {% elif parsed.domain == "mobile" %}
            <li class="breadcrumb-item">Mobile</li>
        {% else %}
            <li class="breadcrumb-item">Enterprise</li>
        {% endif %}
    </ol>
    <div class="tab-pane fade show active" id="v-{{pages.title}}" role="tabpanel" aria-labelledby="v-{{pages.title}}-tab"></div>
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <div class="overflow-x-auto">
                        <h1>
                            {% if parsed.domain == "pre" %}
                                PRE-ATT&CK Techniques
                            {% elif parsed.domain == "mobile" %}
                                Mobile Techniques
                            {% else %} 
                                Enterprise Techniques
                            {% endif %}
                        </h1>
                        {% if parsed.domain == "pre" %}
                            <h6 class="table-object-count">PRE-ATT&CK Techniques: {{ parsed.technique_list_len }}</h6>
                        {% elif parsed.domain == "mobile" %}
                            <h6 class="table-object-count">Mobile Techniques: {{ parsed.technique_list_len }}</h6>
                        {% else %} 
                            <h6 class="table-object-count"> Enterprise Techniques: {{ parsed.technique_list_len }}</h6>
                        {% endif %}
                        <table class="table table-bordered table-alternate mt-2">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in parsed.technique_table %}
                                    <tr>
                                        <td>
                                            <a href="/techniques/{{row.tid}}"> {{row.tid}} </a>
                                        </td>
                                        <td>
                                            <a href="/techniques/{{row.tid}}"> {{row.technique_name}} </a>
                                        </td>
                                        <td>
                                            {% if row.deprecated %}
                                                <font color="red">****Deprecation Warning****</font>
                                            {% endif %}
                                            {{row.descr}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--startindex-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--SCRIPTS-->
    <script src="/theme/scripts/navigation.js"></script>
{% endblock %}   