{% extends "general/two-column.html" %} 
{% set parsed = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}
{% import 'macros/table_with_subtechniques.html' as technique_table %}
{% import 'macros/deprecated.html' as deprecated %}

{% if parsed.domain == "mobile" %}
    {% set title = "Techniques - Mobile | MITRE ATT&CK&reg;" -%}
{% elif parsed.domain == "enterprise" %} 
    {% set title = "Techniques - Enterprise | MITRE ATT&CK&reg;" -%}
{% elif parsed.domain == "ics" %} 
    {% set title = "Techniques - ICS | MITRE ATT&CK&reg;" -%}
{% else %}
    {% set title = "Technique | MITRE ATT&CK&reg;" -%}
{% endif %}

{% block head %}
    {{ super () }}
    {% if parsed.deprecated %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{%  endblock %}

{% block innerleft %}
<!--stop-indexing-for-search-->
    <div id="v-tab" role="tablist" aria-orientation="vertical" class="h-100">
        {{ navigation.sidenav(parsed.menu, output_file) }}  
    </div>
<!--start-indexing-for-search-->
{% endblock %}

{% block innerright %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/techniques/{{parsed.domain}}/">Techniques</a></li>
        {% if parsed.domain == "mobile" %}
            <li class="breadcrumb-item">Mobile</li>
        {% elif parsed.domain == "enterprise" %} 
            <li class="breadcrumb-item">Enterprise</li>
        {% elif parsed.domain == "ics" %} 
            <li class="breadcrumb-item">ICS</li>
        {% endif %}
    </ol>
    <div class="tab-pane fade show active" id="v-{{pages.title}}" role="tabpanel" aria-labelledby="v-{{pages.title}}-tab"></div>
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    {% if parsed.deprecated %}
                        {{deprecated.deprecated("Techniques under this domain have been deprecated.")}}
                    {% else %}
                        <div class="container overflow-x-auto">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1>
                                        {% if parsed.domain == "mobile" %}
                                            Mobile Techniques
                                        {% elif parsed.domain == "enterprise" %} 
                                            Enterprise Techniques
                                        {% elif parsed.domain == "ics" %} 
                                            ICS Techniques
                                        {% endif %}
                                    </h1>
                                    <p>
                                        Techniques represent 'how' an adversary achieves a tactical goal by performing an action. For example, an adversary may dump credentials to achieve credential access.
                                    </p>
                                </div>
                                <div class="col-md-2 div-count">
                                    <div class="row table-object-count pr-3">
                                        <h6>Techniques: {{ parsed.technique_list_len }}</h6>
                                    </div>
                                    <div class="row table-object-count pr-3">
                                        <h6>Sub-techniques: {{ parsed.subtechniques_len }}</h6>
                                    </div>
                                </div>
                            </div>
                            {{technique_table.table_with_subtechniques(parsed.technique_table)}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--SCRIPTS-->
    <script src="/theme/scripts/navigation.js"></script>
{% endblock %}   