{% extends "general/two-column.html" %}
{% set active_page = "resources" -%}
{% set title = "Version History | MITRE ATT&CK&reg;" -%}
{% set version_history = page.data | from_json %}
{% import 'macros/navigation.html' as navigation %}

{% block innerleft %}
<div id="sidebars"></div>
{% endblock %}

{% block innerright %}
{{ super () }}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/resources/">Resources</a></li>
    <li class="breadcrumb-item">Version History</li>
</ol>

<div class="container version-history pb-3">
    <div class="col-md-10">
        <h1>Version History</h1>
        <p>
            The overall ATT&CK catalog is versioned using a <code><span class="keyword">major.minor</span></code> version schema.
            The ATT&CK releases listed on the <a href="/resources/updates/">updates pages</a> increment the major version number.
            The minor version number increments for our other small releases, which include typo and data corrections but not typically new content.
        </p>
        <p>
            Below are a list of versions of the ATT&CK website preserved for posterity, including a permalink to the current version of the site:
        </p>

        {% if version_history.current %}
        <h5><strong>Current Version</strong></h5>
        <div class="card my-4 p-3 flex-row align-items-center">
            <div class="col order-first">
                <span><strong>ATT&amp;CK {{version_history.current.name}}</strong></span>
                <p class="text-label card-data">
                    {{version_history.current.date_start}}&nbsp;&nbsp;-&nbsp;&nbsp;current
                </p>
            </div>
            <div class="col-md-6 button-group">
                <a class="button w-40" href="/resources/updates/{{version_history.current.changelog}}">
                    <button type="button" class="slide-button slide-button-secondary">
                        Release Notes
                    </button>
                </a>
                <a class="button w-40" href="/versions/{{version_history.current.url}}">
                    <button type="button" class="slide-button">
                        {{version_history.current.name}} Website
                    </button>
                </a>
            </div>
        </div>
        {% endif %}

        <h5><strong>Most Recent Versions</strong></h5>
        {% for i in range(0, 3) %}
            {% set version = version_history.previous[i] %}
            <div class="card my-4 p-3 flex-row align-items-center">
                <div class="col order-first">
                    <span><strong>ATT&amp;CK {{version.name}}</strong></span>
                    <p class="text-label card-data">
                        {{version.date_start}}&nbsp;&nbsp;-&nbsp;&nbsp;{{version.date_end}}
                    </p>
                </div>
                <div class="col-md-6 button-group">
                    <a class="button w-40" href="/resources/updates/{{version.changelog}}">
                        <button type="button" class="slide-button slide-button-secondary">
                            Release Notes
                        </button>
                    </a>
                    <a class="button w-40" href="/versions/{{version.url}}">
                        <button type="button" class="slide-button">
                            {{version.name}} Website
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="card-block pb-3">
            <div class="card">
                <div class="card-header collapsed" id="older-versions-accordion"  data-toggle="collapse" data-target="#older-versions-body" aria-expanded="false" aria-controls="older-versions-body">
                    <h5 class="mb-0"><strong>Older Versions</strong></h5>
                </div>
                <div id="older-versions-body" class="collapse" aria-labelledby="holder-versions-accordion">
                    <div class="card-body">
                        <div class="container">
                            {% for i in range(3, version_history.previous|length) %}
                            {% set version = version_history.previous[i] %}
                            <div class="row py-2 align-items-center">
                                <div class="col">
                                    <span><strong>ATT&amp;CK {{version.name}}</strong></span>
                                </div>
                                <div class="col-5">
                                    <p class="text-label card-data">
                                        {{version.date_start}}&nbsp;&nbsp;-&nbsp;&nbsp;{{version.date_end}}
                                    </p>
                                </div>
                                <div class="col">
                                    <a href="/resources/updates/{{version.changelog}}">Release Notes</a>
                                </div>
                                <div class="col">
                                    <a href="/versions/{{version.url}}">{{version.name}} Website</a>
                                </div>
                            </div>
                            {% endfor %}
                            {% for version in version_history.older %}
                            <div class="row py-2 align-items-center">
                                <div class="col">
                                    <span><strong>ATT&amp;CK {{version.name}}</strong></span>
                                </div>
                                <div class="col-5">
                                    <p class="text-label card-data">
                                        {{version.date_start}}&nbsp;&nbsp;-&nbsp;&nbsp;{{version.date_end}}
                                    </p>
                                </div>
                                <div class="col">
                                    <a href="/resources/updates/{{version.changelog}}">Release Notes</a>
                                </div>
                                <div class="col">
                                    <span>No Website</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/theme/scripts/sidebar-load-all.js"></script>
{% endblock %}